---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Migració i Integració de Sistemes',
  description: `Migració de bases de dades, renovació de software, integració d'intel·ligència artificial, sincronització de dades entre programes.`,
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="Una migració a temps és una inversió de futur."
    backgroundImage={{ alt: 'Fons abstracte', src: '~/assets/images/dots/03.jpg' }}
  >
    <Fragment slot="title"
      ><span class="text-accent highlight">Migració</span> i <span class="text-accent highlight">integració</span></Fragment
    >
    <Fragment slot="subtitle"
      >Creem fluxes de comunicació entre eines existents, n'integrem de noves i migrem sistemes antics cap a solucions
      més modernes.</Fragment
    >
  </Hero>

  <Features3
    id="features-services"
    title="A què ens referim amb <span class='custom-gradient'>migració i integració</span>?"
    subtitle="Fem que les eines existents treballin de manera coordinada, traspassem informació de programes antics cap a aplicacions noves i integrem eines per crear nous fluxes de treball automatitzats."
    tagline="Modernització i integració dels teus sistemes."
    items={[
      {
        title: 'Renovació de software',
        description:
          'Actualitzem sistemes antics per millorar el rendiment i garantir una infraestructura tecnològica robusta i sostenible.',
        icon: 'tabler:device-desktop',
        callToAction: {
          class: 'more-info',
          text: 'Més informació',
          href: '#renovacio-software',
        },
      },
      {
        title: 'Migració de dades',
        description: 'Migrem bases de dades antigues a noves aplicacions sense perdre informació.',
        icon: 'tabler:device-desktop',
        callToAction: {
          class: 'more-info',
          text: 'Més informació',
          href: '#migracio-dades',
        },
      },
      
      {
        title: "Integració d'intel·ligència artificial",
        description:
          'Integrem processos intel·ligents, automatitzacions, anàlisi predictiva o sistemes de control de qualitat a eines existents.',
        icon: 'tabler:brain',
        callToAction: {
          class: 'more-info',
          text: 'Més informació',
          href: '#integracio-ia',
        },
      },
      {
        title: 'Connexió de software',
        description:
          'Sincronitzem informació entre programes, per assegurar un flux de dades eficient i coordinat entre sistemes nous i existents.',
        icon: 'tabler:arrows-exchange',
        callToAction: {
          class: 'more-info',
          text: 'Més informació',
          href: '#connexio-software',
        },
      },
      /*
      {
        title: 'Optimització de software',
        description: 'Analitzem i millorem programes, aplicacions i eines a nivell de rendiment i funcionalitat.',
        icon: 'tabler:settings',
        callToAction: {
          class: 'more-info',
          text: 'Més informació',
          href: '#TODO',
        },
      },
      */      
      {
        title: 'Divisió i escalabilitat',
        description:
          "Transformem sistemes monolítics en arquitectures distribuïdes per facilitar el manteniment i l'escalabilitat.",
        icon: 'tabler:layers-intersect',
        callToAction: {
          class: 'more-info',
          text: 'Més informació',
          href: '#divisio-escalabilitat',
        },
      },
    ]}
  />

  <Content
    isReversed
    id='renovacio-software'
    tagline=""
    title="Renovació de software"
    subtitle="Mantenir eines antigues implica ineficiència i reducció de productivitat."
    items={[
      {
        title: 'Migració de software obsolet',
        description:
          `Substitució de programes antics per aplicacions més modernes, <a href='` +
          u('development') +
          `' title="Desenvolupament de programes a mida" class="text-accent">desenvolupades a mida</a> a amb <a href='` +
          u('software') +
          `' class="text-accent" title='Desenvolupament de programes basats en software personalitzat'>software personalitzat</a>.`,
      },

      {
        title: 'Canvis en infraestructura',
        description: 'Implementació d’eines al núvol, oferint més flexibilitat i reducció de costos d’infraestructura.',
      },
      {
        title: 'Actualitzacions preventives',
        description:
          'Els sistemes antics són més vulnerables a atacs de seguretat i poden ralentitzar el creixement empresarial. Actualitzar-los a temps evita problemes futurs i garanteix un funcionament òptim.',
      },
    ]}
    image={{
      src: '~/assets/images/ui-ux-moderna.jpg',
      alt: "Interfície d'usuari moderna",
    }}
  >
    <Fragment slot="preContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        Invertir en renovar software és un estalvi de futur
      </h3>
      <p class="text-muted">
        Els sistemes antics sovint pateixen problemes de seguretat, baixa eficiència i rendiment limitat, la qual cosa
        pot comprometre l’operativitat d’una empresa. La modernització tecnològica implica actualitzar software i bases
        de dades per optimitzar el rendiment i assegurar una infraestructura tecnològica robusta.
      </p>
    </Fragment>
    <Fragment slot="postContent">
      <h3 class="text-2xl font-bold tracking-tightsm:text-3xl mb-2">
        Per què és important disposar de software actual en una empresa?
      </h3>
      <p class="text-muted">
        Els sistemes antics són més vulnerables a atacs de seguretat i a més, poden ralentitzar el creixement
        empresarial. Renovar a temps evita problemes futurs i garanteix una major eficiencia dels treballadors de
        l'empresa.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Content
    id='migracio-dades'
    tagline=""
    title="Migració de dades"
    subtitle="Deixa enrere els sistemes antics i abraça la innovació amb una migració de dades segura i eficient."
    items={[
      {
        title: 'Migració de sistemes legacy',
        description:
          'Modernitza la teva infraestructura tecnològica traslladant les dades des de sistemes antics (legacy) a plataformes més actuals i eficients.',
      },
      {
        title: 'Migració de bases de dades',
        description:
          'Optimitza la gestió de les teves dades migrant-les a una base de dades més potent, escalable i segura.',
      },
      {
        title: 'Integració de dades',
        description:
          'Unifica les dades provinents de diverses fonts en un únic sistema coherent per obtenir una visió completa del teu negoci.',
      },
      {
        title: 'Migració al núvol',
        description:
          'Aprofita els avantatges del núvol (flexibilitat, escalabilitat, seguretat) migrant les teves dades a un entorn cloud.',
      },
    ]}
    image={{
      src: '~/assets/images/migracion-datos-antiguos.png',
      alt: 'Migració de dades entre sistemes',
    }}
  >
    <Fragment slot="preContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        Allibera el potencial de les dades de la teva empresa
      </h3>
      <p class="text-muted">
        En l'era digital actual, les dades són un dels actius més valuosos per a qualsevol empresa. La migració de dades
        és un procés essencial per garantir que les teves dades estiguin accessibles, segures i en un format que pugui
        ser utilitzat de manera eficaç per a la presa de decisions i la innovació.
      </p>
    </Fragment>
    <Fragment slot="content">
      <p class="text-muted">
        La migració de dades pot ser un projecte complex, però amb una planificació adequada i l'experiència d'un equip
        expert, pot ser un procés fluid i exitós.
      </p>
      <p class="text-muted mt-3">
        A Gilsys, som especialistes en migració de dades. Tenim l'experiència i els coneixements necessaris per
        ajudar-te a traslladar les teves dades de manera segura i eficient, minimitzant el temps d'inactivitat i els
        riscos.
      </p>
    </Fragment>
  </Content>

  <Features
    classes={{ container: 'pt-0 md:pt-0 lg:pt-0' }}
    isAfterContent
    title="Per què és important la migració de dades?"
    items={[
      {
        title: "Millora de l'eficiència operativa",
        description:
          'La migració de dades permet optimitzar processos i reduir la complexitat dels sistemes, alliberant recursos i millorant la productivitat.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Reducció de costos',
        description:
          "En alliberar recursos i evitar manteniments innecessaris de tecnologies antigues, la migració de dades significa un estalvi econòmic considerable.",
        icon: 'tabler:cash',
      },
      {
        title: 'Augment de la seguretat',
        description:
          "Les dades migrades a plataformes modernes gaudeixen de protocols i mesures de protecció més avançades, reduint el risc d'atacs i vulnerabilitats.",
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Catalitzador per a la innovació',
        description:
        'La migració de dades permet a les empreses adoptar noves tecnologies i explorar solucions més avançades, impulsant la innovació i el creixement.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Millora en la presa de decisions',
        description:
          "La migració de dades posa a disposició de l'empresa informació més accessibles, consistent i actualitzada, permetent una anàlisi més precís i millor presa de decisions.",
        icon: 'tabler:chart-bar',
      },
      {
        title: 'Millora de la imatge de marca',
        description:
          'Una empresa amb sistemes moderns i eficients transmet una imatge de professionalitat i confiança, millorant la percepció de la marca per part dels clients i col·laboradors.',
        icon: 'tabler:brand-google-maps',
      },
    ]}
  />

  <Content
  isReversed
    tagline=""
    id='integracio-ia'    
    title="Integració d'intel·ligència artificial"
    subtitle={`No només podem <a class="text-accent" title="Programació de noves aplicacions que integren intel·ligència artificial" href="` + u('development/ia') + `">programar noves aplicacions</a>, sinó que podem integrar la IA a eines existents.`}
    items={[
      {
        title: 'Automatització de processos',
        description:
          "Automatitzar processos interns amb machine learning, aprofitant dades empresarials per reduir costos i augmentar l'eficiència.",
      },
      {
        title: 'Chatbots i assistents virtuals',
        description:
          'Afegir chatbots o assistents virtuals que treballin amb bases de dades existents per millorar l’atenció al client.',
      },
      {
        title: 'Anàlisi predictiva',
        description:
          'Incorporar sistemes d’anàlisi predictiva a eines ja en ús per anticipar necessitats o tendències empresarials.',
      },
    ]}
    image={{
      src: '~/assets/images/ia-integracion-software-abstracto.png',
      alt: "Abstracció d'integració de software amb intel·ligència artificial",
    }}
  >
    <Fragment slot="preContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        Millorar sistemes existents amb processos intel·ligents
      </h3>
      <p class="text-muted">
        Integrar intel·ligència artificial en sistemes ja existents pot transformar les operacions empresarials,
        optimitzant processos i millorant la presa de decisions. No es tracta de substituir eines actuals, sinó
        d’ampliar-les per aprofitar-ne el potencial amb funcionalitats avançades.
      </p>
    </Fragment>
    <Fragment slot="postContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Per què és important?</h3>
      <p class="text-muted">
        Incorporar intel·ligència artificial en els processos empresarials millora l’eficiència operativa i permet
        prendre decisions basades en dades, oferint un avantatge competitiu sostenible.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>

  </Content>

  <Content    
    tagline=""
    id='connexio-software'
    title="Connexió de software"
    subtitle="Sincronitzar dades entre diferents eines simplifica la gestió d'informació de l'empresa i evita dades duplicades."
    items={[
      {
        title: 'Connexió mitjançant APIs',
        description:
          `Desenvolupem <a class="text-accent" title="Automatització de processos de sincronització de dades" href="` + u('development/automation') + `">integracions i automatitzacions mitjançant APIs personalitzades</a> per sincronitzar informació entre sistemes.`,
      },
      {
        title: 'Centralització de dades',
        description: 'Unifiquem dades perquè siguin accessibles en temps real des de diferents plataformes, evitant duplicitat i rendundància.',
      },
      {
        title: 'Connexió de sistemes antics',
        description:
          "Tot i que si és possible, sempre recomanem realitzar una migració a eines més modernes, en cas necessari de considerar-se necessari, preparem sistemes antics per exportar dades a tecnologies més modernes des d'on poder treballar i enriquir la informació."
      }
    ]}
    image={{
      src: '~/assets/images/integracion-sistemas.png',
      alt: 'Enterprise Software Integration',
    }}
  >
    <Fragment slot="preContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        Fer que les eines treballin de manera coordinada
      </h3>
      <p class="text-muted">
        Moltes empreses utilitzen múltiples eines, però sovint aquestes no estan connectades entre si, la qual cosa
        genera duplicació de dades, errors i ineficiències.
      </p>
    </Fragment>
    <Fragment slot="postContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Beneficis de sincronitzar software</h3>
      <p class="text-muted">
        Un sistema integrat redueix errors, millora l'eficiència i permet una visió més clara de les operacions.
      </p>
    </Fragment>
  </Content>
<!--
  <Content
    tagline=""
    title="Optimització de Software"
    items={[
      {
        title: 'Auditoria de codi',
        description: 'Identifiquem punts febles en termes de seguretat i rendiment per aplicar millores.',
      },
      {
        title: 'Optimització de bases de dades',
        description: 'Revisem i ajustem bases de dades per millorar el temps de resposta i l’eficiència general.',
      },
      {
        title: 'Migració a tecnologies modernes',
        description:
          'Actualitzem sistemes obsolets a tecnologies modernes per assegurar sostenibilitat i compatibilitat futura.',
      },
    ]}
    image={{
      src: '~/assets/images/analisis-optimizacion-software.jpg',
      alt: 'Persona mirant el codi amb lupa, optimitzant rendiment',
    }}
  >
    <Fragment slot="preContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        Analitzar, revisar i millorar i migrar per augmentar el rendiment
      </h3>
      <p class="text-muted">
        L’optimització de software implica revisar projectes existents per identificar problemes i aplicar millores, o
        fins i tot migrar-los a tecnologies més modernes quan sigui necessari.
      </p>
    </Fragment>
    <Fragment slot="postContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Per què és important?</h3>
      <p class="text-muted">
        Un sistema optimitzat consumeix menys recursos, és més segur i redueix costos a llarg termini gràcies a un
        manteniment més senzill i eficient.
      </p>
    </Fragment>
    
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>

  </Content>
-->
  <Content
    isReversed
    tagline=""
    id='divisio-escalabilitat'
    title="Divisió i Escalabilitat"
    subtitle="En ocasions, utilitzar un únic programa o plataforma per intentar resoldre molts requisits no és la millor opció."
    items={[
      {
        title: 'Separació de funcionalitats',
        description: 'Dividim sistemes monolítics en blocs modulars per facilitar la gestió i escalabilitat.',
      },
      {
        title: 'Desenvolupament més àgil',
        description: 'Permet ampliar o modificar només les parts necessàries, reduint temps i costos.',
      },
      {
        title: 'Reducció de l’impacte d’errors',
        description: 'Els blocs modulars són independents, reduint l’impacte d’errors a nivell global.',
      },
    ]}
    image={{
      src: '~/assets/images/bloques-distribuidos.png',
      alt: 'Dividir una projecte en blocs escalables',
    }}
  >
    <Fragment slot="preContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Transformar monòlits en sistemes escalables</h3>
      <p class="text-muted">
        Els sistemes monolítics poden ser difícils de mantenir i actualitzar. Dividir aquests sistemes en blocs modulars
        permet un desenvolupament més àgil i escalabilitat.
      </p>
    </Fragment>
    <Fragment slot="postContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Beneficis de distribuïr i escalar</h3>
      <p class="text-muted">
        La divisió en blocs permet una gestió més manejable i facilita la incorporació de noves funcionalitats amb mínim
        impacte.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0  bg-lightgray"></div>
    </Fragment>
  </Content>

  <Features
    id="benefits"
    tagline="Implementacions àgils i transparents per l'usuari"
    title="Quins beneficis té realitzar migracions i integracions amb Gilsys?"
    subtitle="Realitzem migracions de forma eficient i convertim les integracions en oportunitats per evolucionar els sistemes de manera sostenible, sense invertir més del necessari."
    items={[
      {
        title: 'Migració sense interrupcions',
        description:
          'Ens encarreguem que cada procés de migració o integració es realitzi amb el <strong>mínim impacte possible</strong> en el funcionament diari. Planifiquem i coordinem cada etapa per mantenir la continuïtat operativa i reduir molèsties als usuaris finals.',
        icon: 'tabler:arrows-horizontal',
      },      
      {
        title: 'Honestedat i enfoc personalitzat',
        description:
          'A Gilsys prioritzem les necessitats reals del client. Si no és necessari canviar-ho tot, o no té sentit a nivell econòmic fer-ho, ho exposarem de forma transparent. Recomanem les pràctiques i solucions més adequades per cada projecte, valorant sempre el cost-benefici i l’impacte a llarg termini.',
        icon: 'tabler:message-circle',
      },
      {
        title: 'Experiència pràctica en projectes reals',
        description:
          `Hem treballat amb empreses de sectors molt diversos, resolent problemes concrets com la integració de sistemes independents, la migració d'eines a aplicacions més modernes o dividint plataformes per convertir-les en més escalables a nivell d'arquitectura i funcional.`,
        icon: 'tabler:chart-bar',
      },
      {
        title: 'Desenvolupament pensat per al futur',
        description:
          'Cada migració i integració es planteja amb una <strong>estratègia a llarg termini</strong>. Dissenyem sistemes flexibles que evolucionen amb l’empresa, permetent afegir noves funcionalitats, integrar eines modernes i adaptar-se als canvis tecnològics sense necessitat de reconstruir des de zero.',
        icon: 'tabler:leaf',
      },
    ]}
  />

  <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/03.jpg', alt: 'Fons abstracte' }}
    actions={[
      {
        variant: 'primary',
        text: 'Pressupost gratuït',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Trucar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title">Vols <span class="custom-gradient">migrar</span> eines antigues o <span class="custom-gradient">integrar aplicacions</span> a la teva empresa?</Fragment>
    <Fragment slot="subtitle">Contacta'ns i ens encarregarem d'assessorar-te i executar el teu projecte.</Fragment>
  </CallToAction>
</Layout>
