---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import KitDigital from '~/components/widgets/KitDigital.astro';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'CRM subvencionado con el Kit Digital - Gestión de clientes eficiente',
  description: 'Obtén un CRM profesional subvencionado con el Kit Digital. Automatiza la gestión de clientes y digitaliza tu empresa sin coste.'
};

---

<Layout metadata={metadata}>
  <Hero
  actions={[
    { variant: 'primary', text: 'Contactar', href: u('contact') },
    { variant: 'primary', text: 'Preguntas frecuentes', href: u('kit-digital') + '#faq' }]
    }
    tagline="Subvención Kit Digital"
    backgroundImage={{ alt: 'Fondo abstracto', src: '~/assets/images/dots/21.jpg' }}
  >
    <Fragment slot="title">CRM 100% subvencionable con el Kit Digital</Fragment>
    <Fragment slot="subtitle">
      Implementa un sistema de <span class="custom-gradient">gestión de clientes</span> eficiente con <span
        class="custom-gradient">CRM</span
      > y herramientas digitales avanzadas,
      <span class="custom-gradient">GRATIS</span> gracias a la subvención del Kit Digital, para optimizar las relaciones
      y procesos comerciales.
    </Fragment>
  </Hero>

  <Features2
    tagline="CRM 100% Subvencionado"
    subtitle="Con a subvención del Kit Digital, consigue tu CRM de gratuita y gestiona de forma centralizada tu cartera de clientes y contactos."
    title="Tu nuevo <span class='custom-gradient'>CRM</span> subvencionado por el Kit Digital"
    items={[
      {
        title: 'Gestión de clientes',
        description:
          'Podrás almacenar y consultar los datos de cada uno de tus clientes, desde su alta como oportunidad de negocio, y simular la compra de productos o contratación de servicios.',
        icon: 'tabler:user',
      },
      {
        title: 'Gestión de clientes potenciales (leads)',
        description:
          'Podrás dar de alta nuevos leads de forma manual o mediante una importación por archivo. Los datos asociados a los leads te permitirán su gestión comercial con el objetivo de convertirlos en clientes. Además, podrás parametrizar reglas de negocio para la asignación de leads según diferentes criterios.',
        icon: 'tabler:user-plus',
      },
      {
        title: 'Gestión de oportunidades',
        description:
          'Tendrás la posibilidad de gestionar todas las oportunidades de negocio que impliquen el envío al cliente potencial o Lead de ofertas y presupuestos. Además, podrás comprobar el estado de cada oportunidad (en análisis, oferta presentada, en negociación, ganadas, canceladas, etc.).',
        icon: 'tabler:target',
      },
      {
        title: 'Acciones o tareas comerciales',
        description:
          'La herramienta implantada por el Agente Digitalizador de tu elección te permitirá crear acciones y tareas comerciales, tanto de forma manual como automática.',
        icon: 'tabler:circle-check',
      },
      {
        title: 'Reporting, planificación y seguimiento comercial',
        description:
          "Podrás realizar el seguimiento mediante indicadores (KPI's), listado de oportunidades, y otros, con diferentes niveles de agregación de información en función de tus necesidades. También podrás generar informes para el seguimiento y monitorización de tu actividad comercial, contemplando ratios de eficiencia, estado de fases, pipeline y otros atributos medibles (como productos, cotizaciones, etc.), y según los canales, perfiles, roles y/o fases comerciales. Estos informes podrán mostrar, al menos, datos mensuales, acumulados y/o comparativas entre diferentes ejercicios comerciales.",
        icon: 'tabler:file-chart',
      },
      {
        title: 'Alertas',
        description:
          'Podrás visualizar Alertas de Clientes en formato gráfico de diferente tipología (iconos, mensajes emergentes, etc.).',
        icon: 'tabler:bell',
      },
      {
        title: 'Gestión documental',
        description:
          'La solución incluirá un software para la gestión centralizada de la documentación capaz de insertar y/o vincular documentos tanto relativos a tu actividad comercial, como los proporcionados por los propios clientes.',
        icon: 'tabler:folder',
      },
      {
        title: 'Diseño Responsive',
        description: 'Tendrás una interfaz funcional en todo tipo de dispositivos.',
        icon: 'tabler:device-laptop',
      },
      {
        title: 'Integración con diversas plataformas',
        description:
          'Dispondrás de APIs o Web Services para la consolidación de la información y datos de toda tu empresa.',
        icon: 'tabler:plug',
      },
    ]}
  />

   <Content
   title="Gestiona los clientes, oportunidades y contactos de tu negocio"
   subtitle="Unifica el seguimiento de las relaciones comerciales con tus clientes."
    image={{
      src: '~/assets/images/kit-digital1.jpg',
      alt: 'Imagen que refleja un trabajador con el CRM',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        Nuestro CRM es más que un simple software de gestión de relaciones con clientes; es una herramienta integral que transforma la manera en que tu empresa interactúa con sus clientes.
      </p>
      <p class="text-muted mt-4">
        Nuestra herramienta no solo te ayuda a gestionar a tus clientes, sino que mejora la forma en que interactúas con ellos, impulsando el crecimiento de tu negocio y optimizando la manera en que trabajas.
      </p>
      <p>
        <a title="Gestión de Clientes con CRM Personalizado" href={u('software/crm')} class="btn-primary mt-12 mb-12 w-auto"
          >Conoce más sobre nuestro CRM</a
        >
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>  
  </Content>

<Content
title="Monitorización y seguimiento de tus contactos"
subtitle="Optimiza la gestión de contactos con un CRM flexible y adaptable a tu negocio."
isReversed
  image={{
    src: '~/assets/images/kit-digital4.jpg',
    alt: 'Pantalla con CRM y correos electronicos',
  }}
>
  <Fragment slot="content">
    <p class="text-muted ">
      Nuestro CRM dispone de un sistema modular, permitiéndote configurar de manera precisa y adaptar las funcionalidades según las necesidades específicas de tu negocio.
    </p>   
    <p class="text-muted mt-4">
      Con la herramienta de gestión de clientes, dispondrás de un mejor control de tu cartera de clientes, seguimiento y contactos mejorando la satisfacción, y al mismo tiempo que optimiza los procesos de venta y marketing para impulsar el crecimiento y la competitividad en el mercado.
    </p>
    <p class="text-muted mt-4">
      También ofrecemos paneles avanzados para la monitorización y el análisis del rendimiento de las ventas y la eficiencia operativa de tu equipo. Esto permite identificar áreas de mejora, optimizar el rendimiento general e impulsar la productividad.
    </p>
  </Fragment>
</Content>

  <Content
  title="Centraliza la gestión de tus clientes"
  subtitle="Adaptamos el CRM para que funcione tal y como lo quieres para que se adapte a las necesidades y procesos específicos de tu negocio"
  items={[
     {
        title: 'Gestión de clientes',
        description: 'Mantén un registro detallado de cada interacción con los clientes, desde el primer contacto hasta la postventa, todo en una sola plataforma fácil de usar.',
        icon: 'tabler:users',
      },
      {
        title: 'Automatización de clientes potenciales',
        description: 'Maximiza la productividad de tu equipo con flujos de trabajo automatizados que reducen las tareas repetitivas y permiten centrarse en lo que realmente importa: atraer y gestionar clientes potenciales.',
        icon: 'tabler:settings-automation',
      },
      {
        title: 'Informes de datos',
        description: 'Toma decisiones basadas en datos con informes personalizables y análisis profundos que revelan tendencias, rendimiento de ventas y oportunidades de crecimiento.',
        icon: 'tabler:chart-bar',
      },
      {
        title: 'Integracón a medida',
        description:'El CRM que integramos se adapta perfectamente a las herramientas que ya utilizas, facilitando una transición suave y una implementación sin problemas',
        icon: 'tabler:link',
      },
  ]}
   image={{
    src: '~/assets/images/kit-digital2.jpg',
    alt: 'Pantalla con graficos',
  }}
>
  <Fragment slot="preContent">
    <p class="text-muted">
      La gestión de clientes es fundamental para un buen funcionamiento y crecimiento de una empresa. Con un CRM podrás digitalizar este proceso, consiguiendo así tener un mejor control de tu negocio.
    </p>
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-lightgray"></div>
  </Fragment>  
</Content>

 



  <Features
    title="Subvención Kit Digital según el número de empleados"
    subtitle="La subvención puede utilizarse para diversos servicios de digitalización, con un importe máximo que varía en función del número de empleados de la empresa."
    items={[
      {
        title: 'Importe total subvencionado:',
        list: [
          '<strong>De 0 a 3 empleados:</strong> 3.000€',
          '<strong>De 50 a 99 empleados:</strong> 25.000€',
          '<strong>De 100 a 250 empleados:</strong> 29.000€',
        ],
        icon: 'tabler:check',
      },
      {
        title: 'Importe máximo para el servicio de gestión de clientes:',
        list: [
          '<strong>De 0 a 3 empleados:</strong> 2.000€ (incluye 1 usuario)',
          '<strong>De 50 a 99 empleados:</strong> 10.000€ (incluye 10 usuarios)',
          '<strong>De 100 a 250 empleados:</strong> 14.000€ (incluye 15 usuarios)',
        ],
        icon: 'tabler:check',
      },
    ]}
  >
</Features>

  <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/21.jpg', alt: 'Fondo abstracto, inspirado en tecnología y software' }}
    actions={[
      {
        variant: 'primary',
        text: 'Contactar',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title">
      Estás a un <span class="custom-gradient">click</span> de digitalizar la gestión de <span class="custom-gradient"
        >clientes</span
      > y llevar tu relación comercial al siguiente nivel
    </Fragment>
    <Fragment slot="subtitle">
      Contáctanos y implementaremos una solución de <span class="custom-gradient">gestión de clientes</span> para tu empresa,
      de forma gratuita gracias a la subvención del Kit Digital.
    </Fragment>
     <Fragment slot="bg">
    <div class="absolute inset-0 bg-lightgray"></div>
  </Fragment>
  </CallToAction>

  <KitDigital />
</Layout>
