---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import KitDigital from '~/components/widgets/KitDigital.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Kit Digital - Subvención en Marketplace',
  description:
    'Optimiza las ventas en Marketplace con análisis de competencia, estrategia de negocio, gestión de catálogo y listings de forma gratuita con el Kit Digital.',
};
---

<Layout metadata={metadata}>
  <Hero
  actions={[
    { variant: 'primary', text: 'Contactar', href: u('contact') },
    { variant: 'primary', text: 'Preguntas frecuentes', href: u('kit-digital') + '#faq' }]
    }
    tagline="Subvención Kit Digital"
    backgroundImage={{ alt: 'Fondo abstracto', src: '~/assets/images/dots/21.jpg' }}
  >
    <Fragment slot="title">Marketplace</Fragment>
    <Fragment slot="subtitle">
      Diseñamos una estrategia personalizada para dirigir tus referencias y productos,
      <span class="custom-gradient">GRATIS</span> gracias a la subvención del Kit Digital, para aumentar tus ventas y optimizar
      los canales de distribución.
    </Fragment>
  </Hero>

  <Features2
    tagline="Funcionalidades y servicios"
    subtitle="El objetivo principal de esta categoría es ayudarte a dirigir tus referencias y productos para incrementar tu nivel de ventas, optimizando los recursos existentes, eligiendo los canales de distribución adecuados y adaptando tus referencias y productos a las necesidades externas."
    title="Optimiza la gestión de productos y canales de distribución para incrementar tus ventas"
    items={[
      {
        title: 'Estudio previo de alternativas y alta en la plataforma',
        description:
          'La solución incluye la apertura de cuenta y alta de tu perfil, por tu cuenta, en al menos una plataforma de Marketplace y en al menos un país.',
        icon: 'tabler:database',
      },
      {
        title: 'Análisis de la competencia',
        description:
          'La solución incluye la realización de una investigación de mercado enfocada en las características de tus competidores para mejorar tu proceso de toma de decisiones y ayudarte a alcanzar una posición competitiva.',
        icon: 'tabler:search',
      },
      {
        title: 'Diseño y definición de la estrategia de negocio',
        description:
          'La solución incluye la generación de la estrategia de negocio para lograr los objetivos deseados, orientando los recursos disponibles hacia esta finalidad.',
        icon: 'tabler:target',
      },
      {
        title: 'Producción del catálogo de referencias',
        description:
          'Análisis de las categorías a comercializar para seleccionar al menos diez productos alineados con la estrategia de negocio, salvo que no dispongas de este número, en cuyo caso podrá ser menor.',
        icon: 'tabler:box',
      },
      {
        title: 'Creación del contenido del listing',
        description:
          'Definición de al menos diez descripciones del catálogo de referencias, salvo que no dispongas de este número, en cuyo caso podrá ser menor.',
        icon: 'tabler:file-description',
      },
      {
        title: 'Alta de referencias',
        description:
          'Carga de al menos diez referencias, y sus respectivas descripciones y fotografías, en la plataforma, salvo que no dispongas de este número, en cuyo caso podrá ser menor, acompañada por la descripción y fotografía individual de cada producto.',
        icon: 'tabler:cloud-upload',
      },
    ]}
  />

  <Features
    title="Subvención Kit Digital según el número de empleados"
    subtitle="La subvención puede utilizarse para diversos servicios de digitalización, con un importe máximo que varía en función del número de empleados de la empresa."
    items={[
      {
        title: 'Importe total subvencionado:',
        list: [
          '<strong>De 0 a 3 empleados:</strong> 3.000€',
          '<strong>De 50 a 99 empleados:</strong> 25.000€',
          '<strong>De 100 a 250 empleados:</strong> 29.000€',
        ],
        icon: 'tabler:check',
      },
      {
        title: 'Importe máximo para el servicio de marketplace:',
        list: [
          '<strong>De 0 a 3 empleados:</strong> 2.000€',
          '<strong>De 50 a 99 empleados:</strong> 2.000€',
          '<strong>De 100 a 250 empleados:</strong> 2.000€',
        ],
        icon: 'tabler:check',
      },
    ]}
  />

  <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/21.jpg', alt: 'Fondo abstracto, inspirado en tecnología y software' }}
    actions={[
      {
        variant: 'primary',
        text: 'Contactar',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title">
      Aprovecha la subvención del Kit Digital para implementar el servicio de <span class="custom-gradient"
        >Marketplace</span
      > de forma gratuita
    </Fragment>
    <Fragment slot="subtitle"> Contáctanos y te asesoraremos sobre cómo digitalizar tu empresa. </Fragment>
  </CallToAction>

  <KitDigital />
</Layout>
