---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import KitDigital from '~/components/widgets/KitDigital.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Kit Digital - Subvención en Presencia Avanzada en Internet',
  description:
    'Servicios avanzados para mejorar el posicionamiento y visibilidad de empresas, aumentando el tráfico de clientes potenciales con el Kit Digital.',
};

---

<Layout metadata={metadata}>
  <Hero
  actions={[
    { variant: 'primary', text: 'Contactar', href: u('contact') },
    { variant: 'primary', text: 'Preguntas frecuentes', href: u('kit-digital') + '#faq' }]
    }
    tagline="Subvención Kit Digital"
    backgroundImage={{ alt: 'Fondo abstracto', src: '~/assets/images/dots/21.jpg' }}
  >
    <Fragment slot="title">Presencia Avanzada en Internet</Fragment>
    <Fragment slot="subtitle">
      Mejora la visibilidad de tu empresa en Internet con soluciones avanzadas en SEO, posicionamiento y optimización,
      <span class="custom-gradient">GRATIS</span>, gracias a la subvención del Kit Digital.
    </Fragment>
  </Hero>

  <Features2
    tagline="Funcionalidades y servicios"
    subtitle="Este servicio está diseñado para mejorar tu visibilidad online, aumentando el tráfico y la presencia en Internet de tu empresa."
    title="Mejora el posicionamiento y visibilidad de tu empresa en Internet"
    items={[
      {
        title: 'Posicionamiento básico en Internet',
        description:
          'La solución deberá posicionar la información básica del negocio, contacto y perfil de tu empresa en los principales sitios, redes de negocio o directorios de empresas y profesionales.',
        icon: 'tabler:search',
      },
      {
        title: 'Análisis de palabras clave',
        description:
          'Gestión, búsqueda y análisis de palabras clave con el objetivo de desarrollar estrategias útiles para que los buscadores clasifiquen el contenido y ayuden a los usuarios a encontrar resultados relevantes para sus consultas.',
        icon: 'tabler:chart-pie',
      },
      {
        title: 'Análisis de la competencia',
        description:
          'La solución incluye un análisis mensual de la competencia para informarte sobre tu situación frente a otros competidores.',
        icon: 'tabler:eye',
      },
      {
        title: 'SEO On-Page',
        description:
          'La solución debe ofrecer un servicio mínimo de dos páginas o apartados con SEO On-Page, optimizando la estructura y el contenido interno para mejorar la posición natural de tu empresa en buscadores, así como la indexación y jerarquización del contenido.',
        icon: 'tabler:file-code',
      },
      {
        title: 'SEO Off-Page',
        description:
          'La solución deberá incluir este servicio, que implicará la ejecución de acciones fuera del entorno del sitio web para mejorar tu posicionamiento orgánico.',
        icon: 'tabler:external-link',
      },
      {
        title: 'Creación de metadatos estructurados de página',
        description:
          'La solución te proporcionará la creación de metadatos estructurados de tu página. (Exclusivo para los segmentos IV y V)',
        icon: 'tabler:code',
      },
      {
        title: 'Informes mensuales de seguimiento',
        description:
          'La solución incluye un informe mensual de los resultados de las acciones ejecutadas para generar conciencia sobre la evolución y el impacto de estas en la presencia en Internet de tu negocio.',
        icon: 'tabler:file-report',
      },
    ]}
  />

  <Features
    title="Subvención Kit Digital según el número de empleados"
    subtitle="La subvención puede utilizarse para diversos servicios de digitalización, con un importe máximo que varía en función del número de empleados de la empresa."
    items={[
      {
        title: 'Importe total subvencionado:',
        list: [
          '<strong>De 0 a 3 empleados:</strong> 3.000€',
          '<strong>De 50 a 99 empleados:</strong> 25.000€',
          '<strong>De 100 a 250 empleados:</strong> 29.000€',
        ],
        icon: 'tabler:check',
      },
      {
        title: 'Importe máximo para el servicio de presencia avanzada en Internet:',
        list: [
          '<strong>De 0 a 3 empleados:</strong> 2.000€',
          '<strong>De 50 a 99 empleados:</strong> 5.000€',
          '<strong>De 100 a 250 empleados:</strong> 5.000€',
        ],
        icon: 'tabler:check',
      },
    ]}
  />

  <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/21.jpg', alt: 'Fondo abstracto, inspirado en tecnología y software' }}
    actions={[
      {
        variant: 'primary',
        text: 'Contactar',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title">
      Aprovecha la subvención del Kit Digital para la <span class="custom-gradient">Presencia Avanzada en Internet</span
      > de forma gratuita
    </Fragment>
    <Fragment slot="subtitle"> Contáctanos y te asesoraremos sobre cómo digitalizar tu empresa. </Fragment>
  </CallToAction>

  <KitDigital />
</Layout>
