---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import KitDigital from '~/components/widgets/KitDigital.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Kit Digital - Subvención en Presencia Básica en Internet',
  description:
    'Creamos la página web con WordPress para tu empresa o negocio, GRATIS, con la subvención del Kit Digital.',
};
---

<Layout metadata={metadata}>
  <Hero
  actions={[
    { variant: 'primary', text: 'Contactar', href: u('contact') },
    { variant: 'primary', text: 'Preguntas frecuentes', href: u('kit-digital') + '#faq' }]
    }
    tagline="Subvención Kit Digital"
    backgroundImage={{ alt: 'Fondo abstracto', src: '~/assets/images/dots/21.jpg' }}
  >
    <Fragment slot="title">Presencia básica en Internet</Fragment>
    <Fragment slot="subtitle"
      >Creamos la <span class="custom-gradient">página web</span> con <span class="custom-gradient">WordPress</span> para
      tu empresa o negocio, <span class="custom-gradient">GRATIS</span>, con la subvención del Kit Digital.</Fragment
    >
  </Hero>

  <Features2
    tagline="Funcionalidades y servicios"
    subtitle="El principal objetivo de esta categoría es que puedas tener una página web para darte visibilidad en internet."
    title="Web autogestionable sin coste para empresas y autónomos."
    items={[
      {
        title: 'Dominio',
        description: `En caso de que aún no dispongas de un dominio para tu web, se te proporcionará uno durante un período mínimo de doce meses. La titularidad del dominio será completamente tuya.`,
        icon: 'tabler:globe',
      },
      {
        title: 'Hosting',
        description: `También tendrás a tu disposición el alojamiento de la página web durante un período mínimo de doce meses.`,
        icon: 'tabler:server',
      },
      {
        title: 'Diseño de la página web',
        description: `Como parte del servicio, tendrás la estructura de la web, con un mínimo de 3 apartados. Se consideran páginas o apartados de una web, elementos como: página de inicio (Landing Page), presentación de la empresa, formulario de contacto, descripción de productos, datos de contacto, mapa del sitio (sitemap), etc.`,
        icon: 'tabler:layout',
      },
      {
        title: 'Web responsive',
        description: `Tu web se adaptará perfectamente a cualquier tipo de dispositivo.`,
        icon: 'tabler:screen-share',
      },
      {
        title: 'Accesibilidad',
        description: `El diseño de tu web cumplirá con los criterios de conformidad de nivel AA de las Directrices WCAG-2.1.`,
        icon: 'tabler:eye',
      },
      {
        title: 'Posicionamiento básico en internet',
        description: `La información de tu empresa será indexable por los principales motores de búsqueda (On-Page).`,
        icon: 'tabler:search',
      },
      {
        title: 'Autogestionable',
        description: `Dispondrás también de una plataforma de gestión de contenidos para que puedas modificar los contenidos de tu web sin necesidad de ayuda.`,
        icon: 'tabler:edit',
      },
      {
        title: 'Optimización de la presencia en buscadores (SEO básico)',
        description: `Análisis de palabras clave, SEO On-Page de 2 páginas o apartados, indexación y jerarquización del contenido.`,
        icon: 'tabler:chart-line',
      },
      {
        title: 'Multidioma',
        description: `Se te ofrecerá la opción de tener tu web preparada para múltiples idiomas y traducida a un idioma adicional al castellano.`,
        icon: 'tabler:language',
      },
    ]}
  />

  <Features
    title="Subvención Kit Digital según el número de empleados"
    subtitle="La subvención puede utilizarse para diversos servicios de digitalización, con un importe máximo que varía en función del número de empleados de la empresa."
    items={[
      {
        title: 'Importe total subvencionado:',
        list: [
          '<strong>De 0 a 3 empleados:</strong> 3.000€',
          '<strong>De 50 a 99 empleados:</strong> 25.000€',
          '<strong>De 100 a 250 empleados:</strong> 29.000€',
        ],
        icon: 'tabler:check',
      },
      {
        title: 'Importe máximo para el servicio de presencia básica en internet:',
        description: 'Hasta 5.000€',
        icon: 'tabler:check',
      },
    ]}
  />

  <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/21.jpg', alt: 'Fondo abstracto, inspirado en tecnología y software' }}
    actions={[
      {
        variant: 'primary',
        text: 'Contactar',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title"
      >Estás a un <span class="custom-gradient">click</span> de tu nueva <span class="custom-gradient">página web</span
      ></Fragment
    >
    <Fragment slot="subtitle"
      >Contáctanos y crearemos un sitio web con <a
        href={u('software/wp')}
        class="text-accent"
        title="Programación web con WordPress">WordPress</a
      > para tu empresa o negocio, de forma gratuita gracias a la subvención del Kit Digital.</Fragment
    >
  </CallToAction>

  <KitDigital />
</Layout>
