---
import { Icon } from 'astro-icon/components';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FourBlocks from '~/components/widgets/FourBlocks.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Empresa de programación a medida con HTML y CSS | +20 anys',
  description: `Somos un equipo de programadores expertos en HTML y CSS, desarrollamos herramientas profesionales con estos lenguajes de programación. ¡Presupuesto gratuito! Estamos en Osona, Barcelona.`,
};
---

<Layout metadata={metadata}>
  <!-- Hero Section -->
  <Hero
    tagline="Maquetación de diseños a medida con HTML y CSS en Osona, provincia de Barcelona"
    actions={[{ variant: 'primary', text: 'Pressupost gratuït', href: u('contact') }]}
    backgroundImage={{ alt: 'Fons abstracte', src: '~/assets/images/geometric-2/4.jpg' }}
  >
    <Fragment slot="title">
        Programamos con <span class="text-accent highlight">HTML y CSS</span>
    </Fragment>
    <Fragment slot="subtitle">
        Somos un equipo de programadores expertos en HTML y CSS, desarrollamos herramientas profesionales con estos lenguajes de programación.
    </Fragment>
  </Hero>
    <Content
      title="<span class='custom-gradient'>HTML y CSS:</span> La esencia de una web estructurada y funcional"
      image={{
        src: '~/assets/images/estudio-integracion-ia.jpg',
        alt: 'Presupuesto gratuito',
      }}
    >
      <Fragment slot="content">
        <p class="text-muted">
          En Gilsys, entendemos que <strong>HTML y CSS</strong> son la base de toda experiencia web. Aunque son lenguajes fundamentales en el desarrollo, 
          su dominio es esencial para crear interfaces modernas, accesibles y bien estructuradas.   
        </p>
        <p class="text-muted mt-4">
          En un entorno donde los frameworks evolucionan constantemente, HTML sigue siendo el lenguaje universal que todos los navegadores interpretan, 
          mientras que CSS permite personalizar y optimizar la apariencia de cada proyecto.
        </p>
      </Fragment>
    </Content>
  
    <Content
      title="Los pilares imprescindibles en el desarrollo web actual"
      classes={{ container: 'pb-0 md:pb-0 lg:pb-0' }}
    >
      <Fragment slot="preContent">
        <p class="text-muted">
          A pesar de su antigüedad, <strong>HTML y CSS</strong> siguen siendo imprescindibles en el desarrollo web. Dominar estos lenguajes permite estructurar correctamente el contenido,
          asegurando accesibilidad y compatibilidad con todos los dispositivos y navegadores.
        </p>
       
      </Fragment>
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-lightgray"></div>
      </Fragment>
    </Content>
  
    <Features3
    columns={2}
    title='Importancia de un código HTML semántico y limpio'
      classes={{ container: 'pt-0 md:pt-0 lg:pt-0' }}
      items={[
         {
          description: `Mejor accesibilidad, facilitando la lectura por parte de los motores de búsqueda y lectores de pantalla.`,
          icon: 'tabler:layers-subtract',
        },
        {
          description: `SEO optimizado, permitiendo que los buscadores indexen correctamente el contenido.`,
          icon: 'tabler:arrows-maximize',
        },
        {
          description: `Mantenimiento eficiente, con estructuras organizadas y fáciles de interpretar.`,
          icon: 'tabler:search',
        },
        {
          description: `Compatibilidad universal, garantizando que cualquier navegador pueda interpretar el código correctamente.`,
          icon: 'tabler:refresh',
        },
  
      ]}
    >
  
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-lightgray"></div>
      </Fragment>
    </Features3>
  
    <Content
      title="CSS puro: Más que estilos, animaciones y transiciones"
      image={{
        src: '~/assets/images/estudio-integracion-ia.jpg',
        alt: 'Estudi per integrar intel·ligència artificial',
      }}
    >
      <Fragment slot="content">
        <p class="text-muted">
          CSS ha evolucionado hasta convertirse en un lenguaje con capacidades avanzadas para mejorar la interacción y la estética de una página web. 
        </p>
        <p class="text-muted mt-4">
          En Gilsys, aprovechamos al máximo CSS para desarrollar animaciones, efectos visuales y transiciones fluidas, sin necesidad de recurrir a JavaScript.
        </p>
      </Fragment>
    </Content>
    
    <Features
    title="Ventajas de utilizar animaciones y transiciones en CSS"
    items={[
      {
        description: 'Mejoran la experiencia del usuario, haciendo la navegación más atractiva y dinámica.',
        icon: 'tabler:code',
      },
      {
        description: 'Rendimiento optimizado, ya que CSS maneja las animaciones de forma más eficiente que JavaScript.',
        icon: 'tabler:rocket',
      },
      {
        description: 'Compatibilidad con todos los navegadores modernos, asegurando una visualización coherente.',
        icon: 'tabler:database',
      },
      {
        description: 'Carga más rápida, al eliminar la dependencia de bibliotecas externas.',
        icon: 'tabler:exchange',
      },
    ]}
    >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Features>
  
  <Content
      isReversed
      title="Nuestra experiencia en Gilsys con HTML y CSS"
      image={{
        src: '~/assets/images/estudio-integracion-ia.jpg',
        alt: 'Estudi per integrar intel·ligència artificial',
      }}
    >
      <Fragment slot="content">
        <p class="text-muted">
          En Gilsys, trabajamos con HTML y CSS a nivel avanzado, asegurando que cada línea de código sea limpia, semántica y eficiente. 
        </p>
        <p class="text-muted mt-4">
          Maquetamos proyectos a medida, adaptándonos a las necesidades de cada cliente para ofrecer soluciones personalizadas, responsivas y optimizadas.
        </p>
        
      </Fragment>
    </Content>
  
  <Features
    title="Nuestros servicios incluyen:"
    items={[
      {
        description: 'Maquetación avanzada con HTML semántico.',
        icon: 'tabler:code',
      },
      {
        description: 'Desarrollo de estilos personalizados con CSS puro.',
        icon: 'tabler:rocket',
      },
      {
        description: 'Implementación de animaciones y transiciones CSS para mejorar la usabilidad.',
        icon: 'tabler:database',
      },
      {
        description: 'Optimización de código para garantizar rendimiento y accesibilidad.',
        icon: 'tabler:exchange',
      },
      {
        description: 'Compatibilidad con todos los navegadores y dispositivos.',
        icon: 'tabler:exchange',
      },
    ]}
    >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Features>
  
  <Content
      title="Integración de HTML y CSS con otras tecnologías"
      image={{
        src: '~/assets/images/angular-programacion#ROGER.jpg',
        alt: 'Imagen que refleja desarrollo web y apps con Angular',
      }}
      items={[
        {
          description:
            'Preprocesadores como Sass y Less para una mejor gestión de estilos.',
        },
        {
          description:
            'Frameworks como Tailwind CSS y Bootstrap para proyectos que requieren escalabilidad.',
        },
        {
          description:
            'JavaScript para efectos interactivos más complejos',
        },
        {
          description:
            'Optimización para SEO y accesibilidad con código semántico y estructurado.',
        },
      ]}
    >
      <Fragment slot="content">
        <p class="text-muted">
          Además de trabajar con HTML y CSS puro, integramos estas tecnologías con herramientas modernas para potenciar sus capacidades:
        </p>
      </Fragment>
      <Fragment slot="postContent">
        <p class="text-muted">
          Si buscas una maquetación avanzada con HTML y CSS, con código limpio y semántico, 
          en Gilsys estamos preparados para ofrecerte una solución que combine estética, rendimiento y accesibilidad. 
        </p>
      </Fragment>
    </Content>
  
  
  
    <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/24.jpg', alt: 'Fondo abstracto' }}
    actions={[
      {
        variant: 'primary',
        text: 'Presupuesto gratuito',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title"
      >Si estás buscando especialistas en <span class="custom-gradient">HTML y CSS</span>, los has encontrado.</Fragment
    >
    <Fragment slot="subtitle"
      >Estamos a tu disposición para elaborar una propuesta de desarrollo en HTML y CSS, creando una maquetación a medida
      para tu proyecto.</Fragment
    >
    </CallToAction>
  </Layout>