---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Empresa de programación frontend con Angular',
  description:
    'Programación a medida de aplicaciones web con Angular, creando interfaces profesionales. ¡Presupuesto gratuito!',
};

---

<Layout metadata={metadata}>
  <Hero
    tagline="Interfaces modernas y ligeras, para aplicaciones web o apps móviles."
    actions={[{ variant: 'primary', text: 'Presupuesto gratuito', href: u('contact') }]}
    backgroundImage={{ alt: 'Fondo abstracto', src: '~/assets/images/geometric-2/4.jpg' }}
  >
    <Fragment slot="title">
      Programación de aplicaciones web con <span class="text-accent highlight">Angular</span>
    </Fragment>
    <Fragment slot="subtitle">
      Creamos interfaces frontend profesionales con este framework basado en JavaScript.
    </Fragment>
  </Hero>

  <Content
    classes={{ container: 'contains-logo' }}
    isImageSmall
    subtitle="Angular permite crear herramientas eficientes y escalables."
    title="Desarrollo de aplicaciones web y apps móviles con <span class='custom-gradient'>Angular</span>"
    image={{
      id: 'angular-logo',
      src: '~/assets/images/tecnologia/angular-logo.png',
      alt: 'Logotipo Angular',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        En el mundo digital actual, contar con aplicaciones web rápidas, escalables y de alto rendimiento es clave para
        cualquier negocio. Nuestro equipo de especialistas en Angular, con amplia experiencia en el desarrollo frontend,
        crea soluciones a medida adaptadas a las necesidades de cada empresa.
      </p>
      <p class="text-muted mt-4">
        Además, con Apache Cordova, extendemos la funcionalidad de Angular para desarrollar <a
          href={u('development/apps')}
          class="text-accent">aplicaciones móviles híbridas</a
        >, compatibles con iOS y Android.
      </p>
    </Fragment>
  </Content>

  <Content
    title="Soluciones innovadoras desarrolladas con <span class='custom-gradient'>Angular</span>"
    subtitle="Programamos aplicaciones web y móbiles con tecnología de vanguardia."
    classes={{ container: 'pb-0 md:pb-0 lg:pb-0' }}
  >
    <Fragment slot="preContent">
      <p class="text-muted">
        Angular es un framework moderno desarrollado por Google, ideal para la construcción de interfaces dinámicas y
        eficientes. Utilizamos esta tecnología para diseñar aplicaciones escalables, optimizadas y con una experiencia
        de usuario superior, tanto en entornos web como en dispositivos móviles.
      </p>
      <p class="text-center">
        <a title="Página oficial de Angular" target="_blank" href="https://angular.dev/" class="btn-primary mt-12 mb-12 w-auto"
          >Conoce más sobre Angular</a
        >
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Features3
    title="¿Por qué Angular es una gran opción para tu proyecto?"
    items={[
      {
        title: 'Estructura modular',
        description: `Diseño basado en módulos independientes y reutilizables, lo que facilita el mantenimiento y permite que la aplicación crezca con facilidad.`,
        icon: 'tabler:components', // Icono para componentes y módulos
      },
      {
        title: 'Rendimiento optimizado',
        description: `Aplicación web rápida y eficiente, gracias a técnicas como la carga diferida y una arquitectura basada en componentes.`,
        icon: 'tabler:rocket', // Icono para rendimiento y velocidad
      },
      {
        title: 'Seguridad integrada',
        description: `Protección robusta con medidas de seguridad avanzadas que previenen vulnerabilidades y ataques.`,
        icon: 'tabler:shield-check', // Icono para seguridad y protección
      },
      {
        title: 'Compatibilidad empresarial',
        description: `Compatible con entornos empresariales, permitiendo una integración fluida con APIs REST y otras tecnologías.`,
        icon: 'tabler:server', // Icono para servidores y APIs
      },
      {
        title: 'Desarrollo de apps híbridas',
        description: `Creación de aplicaciones móviles híbridas con Apache Cordova, que se ejecutan en dispositivos móviles a partir de tu aplicación web.`,
        icon: 'tabler:device-mobile', // Icono para dispositivos móviles y aplicaciones híbridas
      },
      {
        title: 'Soporte y comunidad',
        description: `Respaldo de Google y una comunidad activa de desarrolladores, lo que garantiza un desarrollo continuo y actualizaciones frecuentes.`,
        icon: 'tabler:brand-google', // Icono para Google y su soporte
      },
    ]}
  />

  <Content
    title="Con Angular tenemos las mejores herramientas para potenciar tu proyecto"
    subtitle="A nivel tecnológico, es un sistema muy moderno, popular y con una gran comunidad de usuarios."
    image={{
      src: '~/assets/images/tecnologia/angular-desarrollo.png',
      alt: 'Imagen que refleja desarrollo web y apps con Angular',
    }}
    items={[
      {
        title: 'Diseño basado en Componentes',
        description:
          'Creamos una arquitectura modular basada en componentes reutilizables, definiendo claramente la estructura y el flujo de datos de tu aplicación Angular.',
      },
      {
        title: 'Desarrollo con TypeScript',
        description:
          'Implementamos la lógica de la aplicación utilizando TypeScript, aprovechando las ventajas de tipado estático y orientación a objetos para un código más robusto y mantenible.',
      },
      {
        title: 'Despliegue y optimización',
        description:
          'Utilizamos Angular CLI para generar builds optimizados y desplegamos tu aplicación en entornos de producción, asegurando un rendimiento óptimo y una carga rápida.',
      },
      {
        title: 'Actualizaciones y mantenimiento con Angular CLI',
        description:
          'Mantenemos tu aplicación actualizada con las últimas versiones de Angular utilizando Angular CLI, y ofrecemos soporte continuo para resolver cualquier incidencia y asegurar su correcto funcionamiento a largo plazo.',
      },
    ]}
  >
    <Fragment slot="preContent">
      <p class="text-muted">
        Ya sea que necesites una nueva aplicación desde cero o quieras mejorar un sistema existente, aprovechamos al
        máximo las capacidades de Angular:
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    title="Migración y modernización a Angular"
    image={{
      src: '~/assets/images/tecnologia/angular-migracion.jpg',
      alt: 'Imagen que refleja la migracion con Angular',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        Si tu plataforma actual está obsoleta, te ayudamos a migrarla a Angular mediante un proceso ágil y sin
        interrupciones en tu operatividad.
      </p>
      <p class="text-center md:text-left">
        <a
          title="Migración de herramientas web a tecnología Angular"
          href={u('migration')}
          class="btn-primary mt-12 mb-12 w-auto">Descubre cómo renovar tu software</a
        >
      </p>
    </Fragment>
  </Content>

  <Content
    isReversed
    title="Tres soluciones con un mismo código: <span class='custom-gradient'>Web</span> + <span class='custom-gradient'>Android</span> + <span class='custom-gradient'>iOS</span>"
    subtitle="Con Angular podemos crear aplicaciones web y apps híbridas multiplataforma."
    image={{
      src: '~/assets/images/tecnologia/angular-programacion.png',
      alt: 'Desarrollo de aplicaciones web y móviles con Angular',
    }}
    items={[
      {
        title: 'Desarrollo multidispositivo con Angular',
        description:
          'Creamos aplicaciones web y móviles de vanguardia con un único código base. Desde la concepción hasta el lanzamiento, te acompañamos en cada paso, ofreciendo una experiencia de usuario fluida en iOS y Android.',
      },
      {
        title: '¿Tu plataforma actual te limita?',
        description: `Migramos tu software a Angular de forma ágil y segura, minimizando el impacto en tu operación y maximizando el rendimiento.<br/><br/><a title="" href="` +
          u('migration') +
          `" class="btn-primary mt-4 w-auto">Servicios de renovación de software</a>`,
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-lightgray"></div>
  </Fragment>
</Content>

  <Content
    title="Soporte y mantenimiento en aplicaciones <span class='custom-gradient'>Angular</span>"
    subtitle="Servicios de mantenimiento para mantener los desarrollos actualizados"
    image={{
      src: '~/assets/images/tecnologia/angular-mantenimiento.jpg',
      alt: 'Ordenadores con código de programción en la pantalla',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        Nos encargamos de que tu aplicación Angular se mantenga actualizada, segura y en constante mejora. Realizamos
        mantenimiento correctivo y evolutivo para optimizar su rendimiento y adaptarla a nuevas necesidades.
      </p>
      <p class="text-center md:text-left">
        <a
          title="Migración de herramientas web a tecnología Angular"
          href={u('gilsys')}
          class="btn-primary mt-12 mb-12 w-auto">Conoce más sobre nuestra empresa</a
        >
      </p>
    </Fragment>
  </Content>

  <CallToAction
    backgroundImage={{ src: '~/assets/images/geometric-2/4.jpg', alt: 'Fondo abstracto' }}
    actions={[
      {
        variant: 'primary',
        text: 'Presupuesto gratuito',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title"
      >Si estás buscando especialistas en <span class="custom-gradient">Angular</span>, los has encontrado.</Fragment
    >
    <Fragment slot="subtitle"
      >Estamos listos para elaborar una propuesta de desarrollo en Angular y diseñar una maquetación a medida para tu
      proyecto.</Fragment
    >
  </CallToAction>
</Layout>
