---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Expertos en desarrollo de bases de datos con MySQL',
  description: `Programamos bases de datos relacionales con MySQL. Diseñamos modelos de datos complejos y optimizados para cada proyecto. ¡Presupuesto gratuito! Desde Osona, Barcelona.`,
};
---

<Layout metadata={metadata}>
  <!-- Hero Section -->
  <Hero
    tagline="Diseño de bases de datos MySQL desde Osona, provincia de Barcelona"
    actions={[{ variant: 'primary', text: 'Pressupost gratuït', href: u('contact') }]}
    backgroundImage={{ alt: 'Fons abstracte', src: '~/assets/images/geometric-2/4.jpg' }}
  >
    <Fragment slot="title">
      Servicios de desarrollo de bases de datos con <span class="text-accent highlight">MySQL</span>
    </Fragment>
    <Fragment slot="subtitle">
      Diseñamos modelos de datos relacionales para MySQL, específicos para cada proyecto, desde soluciones simples hasta
      muy complejas.
    </Fragment>
  </Hero>

  <Content
    isImageSmall
    title="<span class='custom-gradient'>MySQL: </span>La clave para una gestión eficiente de datos"
    subtitle="Aprovechamos toda la potencia del motor de base de datos más popular del mundo."
    image={{
      id: 'mysql-logo',
      src: '~/assets/images/tecnology/mysql-logo.svg',
      alt: 'Estudi per integrar intel·ligència artificial',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        En Gilsys, somos especialistas en <strong>MySQL</strong> y <strong>MariaDB</strong>, con experiencia desde la
        versión 3 hasta la actual. Diseñamos bases de datos SQL relacionales con una estructura flexible, permitiendo su
        adaptación a cambios de enfoque sin requerir reestructuraciones drásticas. Esto optimiza la escalabilidad y
        evolución de cada proyecto.
      </p>
    </Fragment>
  </Content>

  <Content
    title="El motor de base de datos más popular del mundo"
    subtitle="Con años de trayectoria, MySQL sigue siendo una solución indiscutible en gestión de datos relacionales para muchos proyectos."
    classes={{ container: 'pb-0 md:pb-0 lg:pb-0' }}
  >
    <Fragment slot="preContent">
      <p class="text-muted">
        MySQL es la base de datos relacional más utilizada a nivel global, con un liderazgo respaldado por su robustez,
        versatilidad y una comunidad activa. Su popularidad se debe a factores clave:
      </p>
      <ul class="text-muted list-disc list-inside">
        <li>
          <strong>Código abierto y gratuito:</strong> Ideal para proyectos de cualquier escala, desde startups hasta grandes
          corporaciones.
        </li>
        <li>
          <strong>Rendimiento optimizado:</strong> Capaz de manejar grandes volúmenes de datos y consultas complejas con
          eficiencia.
        </li>
        <li>
          <strong>Compatibilidad multiplataforma:</strong> Funciona en diversos sistemas operativos, brindando flexibilidad
          en la implementación.
        </li>
        <li>
          <strong>Ecosistema robusto:</strong> Amplia gama de herramientas y bibliotecas que facilitan el desarrollo y la
          administración.
        </li>
      </ul>
      <p class="text-muted mt-4">
        En Gilsys, aprovechamos todo el potencial de MySQL para estructurar información de manera eficiente, asegurando
        integridad referencial, optimización de consultas e índices, y garantizando la base sólida que tu proyecto
        necesita.
      </p>
      <p class="text-center">
        <a title="Web oficial de MySQL" href="#ROGER" class="btn-primary mt-12 mb-12 w-auto">Conoce más sobre MySQL</a>
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Features3
    columns={3}
    title="Beneficios de usar MySQL en tus proyectos"
    subtitle="Desde aplicaciones web hasta soluciones empresariales, MySQL se adapta a tus necesidades con potencia y flexibilidad."
    items={[
      {
        title: `Estructura consistente`,
        description: `Las bases de datos creadas tienen una estructura bien definida, garantizando consistencia y fiabilidad.`,
        icon: 'tabler:database',
      },
      {
        title: `Análisis y optimización de consultas`,
        description: `Permite analizar y optimizar consultas SQL, mejorando tiempos de respuesta.`,
        icon: 'tabler:chart-line',
      },
      {
        title: `Integridad`,
        description: `Ofrece integridad referencial con claves primarias y foráneas, asegurando coherencia en los datos.`,
        icon: 'tabler:key',
      },
      {
        title: `Compatibilidad`,
        description: `Alta compatibilidad con la mayoría de herramientas de <a href="#ROGER(link BI)" class="text-accent" title="Herramientas de Business Intelligence para crear informes">Business Intelligence</a>.`,
        icon: 'tabler:chart-pie',
      },
      {
        title: `Seguridad`,
        description: `Seguridad avanzada y control de acceso, protegiendo la información sensible.`,
        icon: 'tabler:shield-check',
      },
      {
        title: 'Escalabilidad',
        description: `Escalabilidad comprobada, capaz de adaptarse a proyectos de cualquier tamaño.`,
        icon: 'tabler:arrows-maximize',
      },
      {
        title: 'Campos flexibles',
        description: `Almacenamiento de datos flexible, permitiendo usar el <strong>formato JSON</strong>, que almacena estructuras más flexibles dentro de un entorno relacional.`,
        icon: 'tabler:json',
      },
      {
        title: 'Cifrado',
        description: `Capacidad de <strong>cifrado de campos</strong> para garantizar mayor seguridad en la gestión de datos sensibles.`,
        icon: 'tabler:lock',
      },
      {
        title: 'Encriptación',
        description: `<strong>Soporte para TDE</strong> (Transparent Data Encryption) en MariaDB, permitiendo la encriptación de datos en reposo para mayor protección de información de sectores sensibles.`,
        icon: 'tabler:shield-lock',
      },
    ]}
  />

  <Content
    isReversed
    title="MySQL de alto rendimiento: La experiencia Gilsys al servicio de tus datos"
    subtitle="En Gilsys, potenciamos tus proyectos con la robustez de MySQL y MariaDB, soluciones confiables para datos estructurados."
    image={{
      src: '~/assets/images/mysql-escenario.jpg',
      alt: 'Escenario de MySQL y modelo de datos',
    }}
  >
    <Fragment slot="preContent">
      <p class="text-muted">
        Con más de dos décadas de experiencia, en Gilsys nos especializamos en el diseño, modelado y optimización de
        bases de datos MySQL para proyectos de cualquier escala.
      </p>
    </Fragment>
    <Fragment slot="content">
      <p class="text-muted">
        Nuestra amplia trayectoria nos permite adaptar meticulosamente cada base de datos a las necesidades únicas de
        nuestros clientes, garantizando estructuras eficientes, escalables y robustas, preparadas para entornos de
        producción exigentes.
      </p>
    </Fragment>
    <Fragment slot="postContent">
      <p class="text-muted mt-4">
        Implementamos las mejores prácticas en el diseño de modelos de datos y la creación de consultas SQL, priorizando
        la optimización del rendimiento para evitar cuellos de botella y asegurar una gestión de datos ágil y fiable. Al
        elegir Gilsys, inviertes en una base de datos que no solo soporta las demandas actuales de tu proyecto, sino que
        también se anticipa a su crecimiento futuro.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Features
    title="Servicios de diseño de bases de datos con MySQL"
    subtitle="La gestión experta de tus datos es nuestra prioridad, entendemos que son el cimiento de cualquier solución tecnológica sólida."
    items={[
      {
        title: 'Diseño y modelado de bases de datos MySQL/MariaDB',
        description: 'Creamos estructuras de bases de datos relacionales eficientes y optimizadas para cada proyecto.',
        icon: 'tabler:database',
      },
      {
        title: 'Optimización de consultas y mejora del rendimiento de índices',
        description:
          'Aceleramos tus operaciones, optimizando consultas y ajustando índices para tiempos de respuesta más rápidos.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Migración de bases de datos entre versiones y plataformas',
        description:
          'Facilitamos la transición de tus datos, permitiendo una migración segura y sin pérdida de información.',
        icon: 'tabler:world-upload',
      },
      {
        title: 'Seguridad y control de accesos',
        description: 'Protegemos tu información con medidas de seguridad avanzadas y un control de acceso granular.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Implementación de estrategias de backup y recuperación de datos',
        description:
          'Aseguramos la integridad de tus datos con estrategias de respaldo y recuperación confiables y eficientes.',
        icon: 'tabler:cloud-upload',
      },
      {
        title: 'Encriptación de datos y comunicaciones',
        description:
          'Implementamos soluciones de cifrado robustas para proteger tus datos sensibles en reposo y en tránsito.',
        icon: 'tabler:lock-access',
      },
    ]}
  />

  <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/24.jpg', alt: 'Fons abstracte' }}
    actions={[
      {
        variant: 'primary',
        text: 'Presupuesto gratuito',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title"
      >Deja tus datos en manos de expertos, somos <span class="custom-gradient">especialistas en MySQL</span></Fragment
    >
    <Fragment slot="subtitle"
      >La correcta gestión de datos es el primer paso hacia la implementación exitosa de soluciones tecnológicas.
    </Fragment>
  </CallToAction>
</Layout>
