---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Diseño y programación en HTML y CSS',
  description: `Como empresa de desarrollo a medida, ofrecemos programación de interfaces web en HTML y CSS de forma profesional, priorizando SEO.`,
};
---

<Layout metadata={metadata}>
  <!-- Hero Section -->
  <Hero
    tagline="HTML y CSS han recorrido un largo camino desde sus inicios"
    actions={[{ variant: 'primary', text: 'Presupuesto gratuito', href: u('contact') }]}
    backgroundImage={{ alt: 'Fondo abstracto', src: '~/assets/images/geometric-2/4.jpg' }}
  >
    <Fragment slot="title">
      Diseño y desarrollo con <span class="text-accent highlight">HTML y CSS</span>
    </Fragment>
    <Fragment slot="subtitle">
      Como empresa de desarrollo a medida, ofrecemos maquetación de interfaces web en HTML y CSS de forma profesional.
    </Fragment>
  </Hero>
  <Content
    classes={{ container: 'contains-logo' }}
    isImageSmall
    title="<span class='custom-gradient'>HTML y CSS:</span> La esencia de una web estructurada y funcional"
    image={{
      id: 'html-css-logo',
      src: '~/assets/images/tecnologia/html-css-logo.png',
      alt: 'Logotipos de HTML y CSS',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        En Gilsys, entendemos que <strong>HTML y CSS</strong> son la base de toda experiencia web. Aunque son lenguajes fundamentales
        en el desarrollo, su dominio es esencial para crear interfaces modernas, accesibles y bien estructuradas.
      </p>
      <p class="text-muted mt-4">
        En un entorno donde los frameworks evolucionan constantemente, HTML sigue siendo el lenguaje universal que todos
        los navegadores interpretan, mientras que CSS permite personalizar y optimizar la apariencia de cada proyecto.
      </p>
    </Fragment>
  </Content>

  <Content
    isReversed
    title="Los pilares imprescindibles en el desarrollo web actual"
    subtitle="En Gilsys, dominamos las últimas novedades de HTML y CSS para ofrecerte soluciones web de vanguardia."
    classes={{ container: 'pb-0 md:pb-0 lg:pb-0' }}
  >
    <Fragment slot="preContent">
      <p class="text-muted">
        En Gilsys, no nos limitamos a conocer los fundamentos de HTML y CSS. Nuestros programadores se mantienen
        actualizados con las últimas especificaciones y funcionalidades de estos lenguajes.
      </p>
      <p class="text-muted mt-4">
        Esta constante actualización nos permite construir sitios web con una estructura sólida y eficiente.
      </p>
      <p class="text-center">
        <a title="Aplicaciones web a medida" href={u('development/web')} class="btn-primary mt-12 mb-12 w-auto"
          >Explora nuestros servicios de aplicaciones web</a
        >
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Features
    columns={2}
    title="Importancia de un código HTML semántico y limpio"
    subtitle="Un código bien estructurado beneficia a usuarios y motores de búsqueda."
    items={[
      {
        title: 'Accesibilidad mejorada',
        description: `Facilitando la lectura por parte de los motores de búsqueda y lectores de pantalla.`,
        icon: 'tabler:disabled-2', 
      },
      {
        title: 'SEO optimizado',
        description: `Permitiendo que los buscadores indexen correctamente el contenido.`,
        icon: 'tabler:world-www',
      },
      {
        title: 'Mantenimiento eficiente',
        description: `Con estructuras organizadas y fáciles de interpretar.`,
        icon: 'tabler:tools', 
      },
      {
        title: 'Compatibilidad universal',
        description: `Garantizando que cualquier navegador pueda interpretar el código correctamente.`,
        icon: 'tabler:browser', 
      },
    ]}
  />

  <Content
    title="CSS puro: Más que estilos, animaciones y transiciones"
    image={{
      src: '~/assets/images/tecnologia/html-css-styles.JPG',
      alt: 'Pantalla con un gradiante de colores',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        CSS ha evolucionado hasta convertirse en un lenguaje con capacidades avanzadas para mejorar la interacción y la
        estética de una página web.
      </p>
      <p class="text-muted mt-4">
        En Gilsys, aprovechamos al máximo CSS para desarrollar animaciones, efectos visuales y transiciones fluidas, sin
        necesidad de recurrir a JavaScript.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Features
    title="Ventajas de utilizar animaciones y transiciones en CSS"
    items={[
      {
        title: 'Experiencia de usuario mejorada',
        description: 'Hacen la navegación más atractiva y dinámica.',
        icon: 'tabler:user-check', 
      },
      {
        title: 'Rendimiento optimizado',
        description: 'CSS maneja las animaciones de forma más eficiente que JavaScript.',
        icon: 'tabler:chart-line', 
      },
      {
        title: 'Compatibilidad con navegadores',
        description: 'Asegurando una visualización coherente en todos los navegadores modernos.',
        icon: 'tabler:world', 
      },
      {
        title: 'Carga más rápida',
        description: 'Al eliminar la dependencia de bibliotecas externas.',
        icon: 'tabler:bolt', 
      },
    ]}
  >
  </Features>

  <Content
    isReversed
    title="Gilsys ofrece HTML y CSS bajo control"
    subtitle="En Gilsys, trabajamos con HTML y CSS a nivel avanzado, asegurando que cada línea de código sea limpia, semántica y eficiente."
    image={{
      src: '~/assets/images/tecnologia/html-css-control.jpg',
      alt: 'Ordenadores con codigo en las pantallas',
    }}
    items={[
      {
        title: 'Maquetación HTML semántica',
        description: 'Maquetación avanzada con HTML semántico.',
        icon: 'tabler:html', 
      },
      {
        title: 'Estilos CSS a medida',
        description: 'Desarrollo de estilos personalizados con CSS puro.',
        icon: 'tabler:file-type-css', 
      },
      {
        title: 'Animaciones y transiciones CSS',
        description: 'Implementación de animaciones y transiciones CSS para mejorar la usabilidad.',
        icon: 'tabler:eye-exclamation', 
      },
      {
        title: 'Optimización de código',
        description: 'Código límpio y ligero ofreciendo rendimiento y accesibilidad.',
        icon: 'tabler:bolt', 
      },
      {
        title: 'Compatibilidad multiplataforma',
        description: 'Compatibilidad con todos los navegadores y dispositivos.',
        icon: 'tabler:world', 
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-lightgray"></div>
  </Fragment>
</Content>

  <Content
    title="Integración de HTML y CSS con otras tecnologías"
    image={{
      src: '~/assets/images/tecnologia/html-codigo.jpg',
      alt: 'Código fuente HTML',
    }}
    items={[
      {
        description: 'Preprocesadores como Sass y Less para una mejor gestión de estilos.',
      },
      {
        description:
          'Frameworks como <a title="Pagina de tecnologias de Tailwind" href="' + u('technology/tailwind') + '" class="text-accent">Tailwind CSS</a> y <a title="Pagina de tecnologias de Bootstrap" href="' + u('technology/bootstrap') + '" class="text-accent">Bootstrap</a> para proyectos que requieren escalabilidad.',
      },
      {
        description: '<a title="Tecnologias de JavaScript" href="' + u('technology/javascript') + '" class="text-accent">JavaScript</a> para efectos interactivos más complejos',
      },
      {
        description: 'Optimización para SEO y accesibilidad con código semántico y estructurado.',
      },
    ]}
  >
    <Fragment slot="preContent">
      <p class="text-muted">
        Además de trabajar con HTML y CSS puro, integramos estas tecnologías con herramientas modernas para potenciar
        sus capacidades:
      </p>
    </Fragment>
  </Content>

  <CallToAction
    backgroundImage={{ src: '~/assets/images/geometric-2/4.jpg', alt: 'Fondo abstracto' }}
    actions={[
      {
        variant: 'primary',
        text: 'Presupuesto gratuito',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34711239085',
      },
    ]}
  >
    <Fragment slot="title"
      >Si estás buscando especialistas en <span class="custom-gradient">HTML y CSS</span>, los has encontrado.</Fragment
    >
    <Fragment slot="subtitle"
      >Estamos a tu disposición para elaborar desarrollar tu proyecto en HTML y CSS, creando una maquetación a medida.</Fragment
    >
  </CallToAction>
</Layout>
