---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Desarrollo de Aplicaciones Web con JavaScript',
  description:
    'En Gilsys, con más de 20 años de experiencia, nuestros expertos en JavaScript programan desde aplicaciones web avanzadas hasta soluciones a medida.',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="JavaScript: Un lenguaje esencial para el desarrollo moderno"
    actions={[{ variant: 'primary', text: 'Presupuesto gratuito', href: u('contact') }]}
    backgroundImage={{ alt: 'Fondo abstracto', src: '~/assets/images/geometric-2/4.jpg' }}
  >
    <Fragment slot="title">
      Desarrollo de aplicaciones web con <span class="text-accent highlight">JavaScript</span>
    </Fragment>
    <Fragment slot="subtitle">
      Con más de 20 años de experiencia, nuestros expertos en JavaScript programan desde aplicaciones web avanzadas
      hasta soluciones a medida.
    </Fragment>
  </Hero>

  <Content
    isImageSmall
    title="Desarrolos con <span class='custom-gradient'>JavaScript:</span> Mucho más que interactividad"
    subtitle="En Gilsys, reconocemos a <strong>JavaScript</strong> como un pilar del desarrollo actual."
    image={{
      id: 'javascript-logo',
      src: '~/assets/images/tecnology/javascript-logo.svg',
      alt: 'Logotipo de JavaScript',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        Lenguaje que conocemos desde el inicio de nuestra empresa, nos ha acompañado durante más de 20 años y su
        evolución lo ha convertido en un lenguaje transversal, fundamental no solo para la interactividad web, sino
        también para el desarrollo de aplicaciones robustas y soluciones para herramientas avanzadas.
      </p>
    </Fragment>
  </Content>

  <Features2
    columns={2}
    title="Desde Gilsys personalizamos tu proyecto desarrollando con <span class='custom-gradient'>JavaScript</span>"
    subtitle="Nos permite ofrecer como desarrolladores expertos, adaptabilidad, rendimiento y eficiencia para soluciones web a medida."
    items={[
      {
        title: 'Adaptabilidad',
        description: 'De web apps a herramientas del servidor, JavaScript cubre múltiples necesidades.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Alto rendimiento',
        description: 'Crea soluciones ligeras y potentes que maximizan la eficiencia sin sacrificar funcionalidad.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Desarrollo simplificado',
        description: 'Acelera el proceso de desarrollo con un lenguaje que facilita la implementación rápida de ideas.',
        icon: 'tabler:bolt',
      },
      {
        title: 'Alcance universal',
        description: 'Asegura la compatibilidad y accesibilidad de tu proyecto en cualquier dispositivo y navegador.',
        icon: 'tabler:world',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Features2>

  <Features
    title="Utilizamos JavaScript como lenguaje de programación versátil"
    subtitle="Desde Gilsys, podemos trabajar con cualquier herramienta que utilice el lenguaje JS"
    items={[
      {
        title: 'Desarrollo web front-end',
        description:
          'Crea interfaces interactivas, animaciones y manipula el DOM en tiempo real para una experiencia de usuario mejorada.',
        icon: 'tabler:browser',
      },
      {
        title: 'Desarrollo web back-end',
        description: 'Utiliza Node.js para construir aplicaciones web escalables y eficientes en el servidor.',
        icon: 'tabler:server',
      },
      {
        title: 'Desarrollo móvil',
        description: 'Construye aplicaciones móviles multiplataforma con frameworks como React Native e Ionic.',
        icon: 'tabler:device-mobile',
      },
      {
        title: 'Desarrollo de escritorio',
        description: 'Crea aplicaciones de escritorio multiplataforma con Electron, utilizando tecnologías web.',
        icon: 'tabler:devices-pc',
      },
      {
        title: 'Internet de las cosas (IoT)',
        description: 'Programa la lógica de dispositivos conectados, como sensores y actuadores.',
        icon: 'tabler:smart-home',
      },
      {
        title: 'Componentes interactivos y gráficos',
        description:
          'Desarrollamos componentes web interactivos, visualizaciones de datos, gráficos y otras soluciones personalizadas con JavaScript.',
        icon: 'tabler:chart-bar',
      },
    ]}
  />

  <Content
    isReversed
    title="Gilsys: Pioneros en desarrollo <span class='custom-gradient'>JavaScript</span>"
    subtitle="Más de dos décadas impulsando la innovación con JavaScript."
    image={{
      src: '~/assets/images/estudio-integracion-ia.jpg',
      alt: 'Desarrollo JavaScript en Gilsys',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        Desde nuestros inicios, JavaScript ha sido una parte fundamental de nuestro trabajo, permitiéndonos adaptarnos y
        evolucionar con la tecnología.
      </p>
      <p class="text-muted mt-4">
        Nuestro equipo está dedicado a crear soluciones innovadoras, utilizando JavaScript para impulsar el éxito de
        nuestros clientes.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/24.jpg', alt: 'Fondo abstracto' }}
    actions={[
      {
        variant: 'primary',
        text: 'Presupuesto gratuito',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="custom-gradient">JavaScript:</span> Transforma tu proyecto con Gilsys
    </Fragment>
    <Fragment slot="subtitle">
      Descubre cómo JavaScript puede impulsar tu negocio. Contacta con nosotros y empieza a construir el futuro.
    </Fragment>
  </CallToAction>
</Layout>
