---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Empresa de diseño de interfaces con Tailwind CSS',
  description:
    'Diseñamos interfaces únicas y a medida. Nuestro equipo de programación es experto en desarrollar experiencias web intuitivas y optimizadas para cada proyecto.',
};
---

<Layout metadata={metadata}>
  <!-- Hero Section -->
  <Hero
    tagline="Desarrollo de interfaces modernas con Tailwind CSS en Osona, provincia de Barcelona"
    actions={[{ variant: 'primary', text: 'Presupuesto gratuito', href: u('contact') }]}
    backgroundImage={{ alt: 'Fondo abstracto', src: '~/assets/images/geometric-2/4.jpg' }}
  >
    <Fragment slot="title">
      Diseño de interfaces de usuario con <span class="text-accent highlight">Tailwind CSS</span>
    </Fragment>
    <Fragment slot="subtitle">
      Nuestro equipo de programación es experto en el desarrollo de experiencias web intuitivas y optimizadas para cada
      proyecto.
    </Fragment>
  </Hero>

  <Content
    isImageSmall
    classes={{ container: 'contains-logo' }}
    title="<span class='custom-gradient'>Tailwind </span>CSS: Eficiencia y adaptabilidad"
    subtitle="El framework CSS que revoluciona el diseño web con su innovador enfoque <em>utility-first</em>."
    image={{
      id: 'tailwind-logo',
      src: '~/assets/images/tecnologia/tailwind-logo.svg',
      alt: 'Logotipo de Tailwind CSS',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        En Gilsys, creemos en la importancia de interfaces de usuario limpias, rápidas y altamente personalizables. Por
        ello, apostamos por Tailwind CSS, un framework de estilos que permite construir diseños escalables y optimizados
        sin la rigidez de los sistemas tradicionales.
      </p>
    </Fragment>
  </Content>

  <Content
    title="Diseños escalables, optimizados y altamente personalizables"
    subtitle="Interfaces de usuario adaptadas a todos los dispositivos"
    classes={{ container: 'pb-0 md:pb-0 lg:pb-0' }}
  >
    <Fragment slot="preContent">
      <p class="text-muted">
        A diferencia de los frameworks convencionales que imponen estilos predefinidos, Tailwind CSS ofrece un enfoque
        basado en clases utilitarias, lo que permite una <strong>personalización total</strong> sin necesidad de escribir
        CSS adicional.
      </p>
      <p class="text-center">
        <a title="Web oficial de Tailwind" target="_blank" href="https://tailwindcss.com/" class="btn-primary mt-12 mb-12 w-auto"
          >Conoce más sobre Tailwind CSS</a
        >
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Features3
    title="¿Por qué elegir Tailwind CSS para tu proyecto?"
    subtitle="Las ventajas de un framework CSS moderno y flexible."
    items={[
      {
        description: `Máxima flexibilidad, sin restricciones de estilos predeterminados.`,
        icon: 'tabler:palette',
      },
      {
        description: `Optimización del rendimiento, gracias a su sistema de clases utilitarias y eliminación de código innecesario.`,
        icon: 'tabler:bolt',
      },
      {
        description: `Diseños responsive con facilidad, lo que permite adaptar interfaces a cualquier dispositivo de manera intuitiva.`,
        icon: 'tabler:devices',
      },
      {
        description: `Escalabilidad sin complicaciones, permitiendo extender los estilos sin generar archivos CSS enormes.`,
        icon: 'tabler:stack-back',
      },
      {
        description: `Compatibilidad con cualquier tecnología, integrándose perfectamente con frameworks como React, Angular o SlimFramework.`,
        icon: 'tabler:plug',
      },
      {
        description: `Reducción de tiempos de desarrollo, facilitando la creación de componentes reutilizables sin sobrecarga de estilos.`,
        icon: 'tabler:clock',
      },
    ]}
  />

  <Content
    isReversed
    title="Nuestra experiencia con Tailwind CSS en Gilsys"
    subtitle="Conocemos bien la tecnología, la muestra es nuestra web corporativa, programada usando Astro y Tailwind."
    image={{
      src: '~/assets/images/tecnologia/tailwind-css-escena-mar.png',
      alt: 'Mockups de distintas pantallas flotando',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        Como empresa de desarrollo, aprovechamos esta tecnología para crear soluciones de calidad sin caer en la
        repetición de código y asegurando un mantenimiento ágil.
      </p>
      <p class="text-muted mt-4">
        En Gilsys, disfrutamos de este compromiso, ya que nos permite aprovechar al máximo nuestra experiencia y crear
        interfaces optimizadas con libertad creativa.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Features
    title="Desarrollo web a medida con Tailwind CSS en Gilsys"
    subtitle="Creamos interfaces de usuario únicas y optimizadas para impulsar tu proyecto."
    items={[
      {
        title: 'Diseño de interfaces a medida con Tailwind CSS',
        description:
          'Creamos interfaces de usuario únicas y personalizadas que se adaptan a tu visión y objetivos de negocio.',
        icon: 'tabler:palette',
      },
      {
        title: 'Desarrollo de componentes reutilizables',
        description:
          'Construimos componentes modulares y escalables para agilizar el desarrollo y asegurar la consistencia del diseño.',
        icon: 'tabler:components',
      },
      {
        title: 'Optimización del rendimiento web',
        description:
          'Minimizamos el tamaño del código CSS generado por Tailwind CSS para garantizar una carga rápida y una experiencia de usuario óptima.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Integración con frameworks JavaScript',
        description:
          'Integramos Tailwind CSS con frameworks como Astro o Angular para un desarrollo web moderno y eficiente.',
        icon: 'tabler:brand-javascript',
      },
    ]}
  />

  <CallToAction
    backgroundImage={{ src: '~/assets/images/geometric-2/4.jpg', alt: 'Fondo abstracto' }}
    actions={[
      {
        variant: 'primary',
        text: 'Presupuesto gratuito',
        href: u('contact'),
      },
      {
        variant: 'secondary',
        text: 'Contáctanos',
        href: 'tel:+34711239085',
      },
    ]}
  >
    <Fragment slot="title">
      Desarrolla tu interfaz de vanguardia con Gilsys y <span class="custom-gradient">Tailwind CSS</span>
    </Fragment>
    <Fragment slot="subtitle">
      Deja la interfaz de usuario en manos de nuestro equipo de programación; tu diseño destacará con un alto nivel de
      rendimiento.
    </Fragment>
  </CallToAction>
</Layout>
