---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Empresa de desarrollo de aplicaciones con React Native',
  description: `Somos expertos en programación de apps para móviles multiplataforma a medida con React Native, creando aplicaciones híbridas para Android e iOS`,
};
---

<Layout metadata={metadata}>
  <!-- Hero Section -->
  <Hero
    tagline="Nos encontrarás en Osona, en la provincia de Barcelona."
    actions={[{ variant: 'primary', text: 'Presupuesto gratuito', href: u('contact') }]}
    backgroundImage={{ alt: 'Fondo abstracto', src: '~/assets/images/geometric-2/4.jpg' }}
  >
    <Fragment slot="title">
      Empresa de desarrollo de aplicaciones con <span class="text-accent highlight">React Native</span>
    </Fragment>
    <Fragment slot="subtitle">
      Programamos apps híbridas para móviles (iOS y Android), completamente a medida programando con React Native.
    </Fragment>
  </Hero>

  <Content
    classes={{ container: 'contains-logo pb-0 md:pb-0 lg:pb-0' }}
    isImageSmall
    title="¿Buscas expertos en <span class='custom-gradient'>React Native</span> en la provincia de Barcelona?"
    subtitle="En Gilsys podemos desarrollar la aplicación móvil que necesitas."
    image={{
      id: 'react-native-logo',
      src: '~/assets/images/tecnologia/react-native-logo.svg',
      alt: 'Logotipo de React Native',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        Nuestro equipo de desarrolladores se especializa en la <strong
          >creación de aplicaciones móviles personalizadas,
        </strong>
        escalables y de alto rendimiento utilizando React Native.
      </p>
      <p class="text-muted mt-4">
        Una solución híbrida, multiplataforma, que permite disponer de un código único que una vez compilado puede
        distribuirse para ser ejecutado en dispositivos iOS y Android.
      </p>
      <p class="text-center">
        <a
          title="Servicios de programación de apliciones para móviles"
          href={u('development/apps')}
          class="btn-primary mt-12 mb-12 w-auto">Explora nuestros servicios de desarrollo de apps</a
        >
      </p>
    </Fragment>
  </Content>

  <Content
    isReversed
    title="React Native es el Framework líder para desarrollar aplicaciones híbridas"
    subtitle="Su capacidad para crear apps nativas para iOS y Android con un único código, reduce costes y tiempo de desarrollo sin sacrificar rendimiento"
    classes={{ container: 'pb-0 md:pb-0 lg:pb-0' }}
    image={{
      src: '~/assets/images/tecnologia/react-native-estilo-mobile.png',
      alt: 'Desarrollo y optimización de aplicaciones React Native',
    }}
  >
    <Fragment slot="preContent">
      <p class="text-muted">
        React Native es un framework de código abierto creado por Meta (antes Facebook) que permite desarrollar
        aplicaciones móviles nativas con JavaScript y React.
      </p>
    </Fragment>
    <Fragment slot="content">
      <p class="text-muted">
        A diferencia de otras soluciones híbridas, React Native no genera aplicaciones web encapsuladas, sino interfaces
        realmente nativas. Esto garantiza una experiencia de usuario (UX) fluida y un rendimiento comparable al de apps
        creadas con Swift o Java.
      </p>
      <p class="text-center">
        <a title="Página oficial de React Native" target="_blank" href="https://reactnative.dev/" class="btn-primary mt-12 mb-12 w-auto"
          >Conoce más sobre React Native</a
        >
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Features
    title="Beneficios de elegir React Native para tu proyecto"
    items={[
      {
        title: 'Aplicaciones personalizadas',
        description: 'Adaptamos cada solución a las necesidades específicas de tu negocio.',
        icon: 'tabler:adjustments',
      },
      {
        title: 'Desarrollo multiplataforma',
        description: 'Una sola aplicación compatible con iOS y Android.',
        icon: 'tabler:devices',
      },
      {
        title: 'Ampliable y evolucionable',
        description: 'Aplicaciones adaptables a nuevas funcionalidades sin reescribir grandes porciones de código.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Comunidad y soporte',
        description: 'Respaldado por una comunidad global y actualizaciones constantes.',
        icon: 'tabler:users',
      },
      {
        title: 'Rendimiento optimizado',
        description: 'Experiencia de usuario fluida, con una velocidad comparable a las apps nativas.',
        icon: 'tabler:bolt', // Icono para rendimiento
      },
      {
        title: 'Flexibilidad y escalabilidad',
        description: 'Adaptable a proyectos de cualquier tamaño.',
        icon: 'tabler:arrows-maximize', // Icono para escalabilidad
      },
    ]}
  />

  <Features2
    title="Servicios de React Native ofrecidos por Gilsys"
    subtitle="Ofrecemos un amplio abanico de servicios de React Native para llevar tu aplicación móvil al siguiente nivel"
    items={[
      {
        title: 'Desarrollo desde cero',
        description:
          'Creamos aplicaciones móviles multiplataforma nativas para iOS y Android, adaptadas a tus necesidades y objetivos.',
        icon: 'tabler:device-mobile',
      },
      {
        title: 'Migración de aplicaciones',
        description:
          'Convertimos tu aplicación a React Native, mejorando su rendimiento y reduciendo los costes de mantenimiento.',
        icon: 'tabler:arrows-transfer-down',
      },
      {
        title: 'Mantenimiento y soporte',
        description:
          'Actualizamos, mejoramos y solucionamos problemas en tu aplicación React Native, asegurando su compatibilidad y rendimiento a largo plazo.',
        icon: 'tabler:tools',
      },
      {
        title: 'Funcionalidades personalizadas',
        description:
          'Implementamos nuevas funcionalidades y características específicas para tu aplicación, mejorando la experiencia del usuario.',
        icon: 'tabler:puzzle',
      },
      {
        title: 'Integración con APIs',
        description:
          'Conectamos tu aplicación React Native con otras plataformas y servicios para ampliar sus capacidades.',
        icon: 'tabler:plug',
      },
      {
        title: 'Optimización de rendimiento',
        description:
          'Mejoramos la velocidad y eficiencia de tu aplicación para ofrecer una experiencia fluida y sin retrasos.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Diseño UI/UX',
        description:
          'Creamos interfaces atractivas y fáciles de usar, que mejoran la interacción del usuario con tu aplicación.',
        icon: 'tabler:color-swatch',
      },
      {
        title: 'Pruebas y control de calidad',
        description:
          'Realizamos pruebas exhaustivas para asegurar la estabilidad, seguridad y funcionalidad de tu aplicación React Native.',
        icon: 'tabler:shield-check',
      },
      {
        title: 'Consultoría y asesoramiento',
        description:
          'Te guiamos en la toma de decisiones sobre el desarrollo de tu aplicación React Native, ofreciéndote soluciones personalizadas y eficientes.',
        icon: 'tabler:bulb',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Features2>

  <CallToAction
    backgroundImage={{ src: '~/assets/images/geometric-2/4.jpg', alt: 'Fondo abstracto' }}
    actions={[
      {
        variant: 'primary',
        text: 'Presupuesto gratuito',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title"
      >Si necesitas especialistas en <span class="custom-gradient">React Native</span>, cuenta con Gilsys</Fragment
    >
    <Fragment slot="subtitle"
      >Desde Barcelona, desarrollamos proyectos con React Native para clientes de cualquier sector, tanto a nivel
      nacional como internacional.
    </Fragment>
  </CallToAction>
</Layout>
