---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Programación de interfaces de administración a medida con Metronic',
  description: `Nuestra empresa utiliza Metronic, un framework basado en Bootstrap o Tailwind, para desarrollar interfaces de administración profesionales.`,
};
---

<Layout metadata={metadata}>
  <!-- Hero Section -->
  <Hero
    tagline="Interfaces de usuario funcionales, intuitivas y estables."
    actions={[{ variant: 'primary', text: 'Presupuesto gratuito', href: u('contact') }]}
    backgroundImage={{ alt: 'Fondo abstracto', src: '~/assets/images/geometric-2/4.jpg' }}
  >
    <Fragment slot="title">
      Programación de interfaces de administración con <span class="text-accent highlight">Metronic</span>
    </Fragment>
    <Fragment slot="subtitle">
      Recomendamos Metronic, el framework que nos permite diseñar y programar la parte gráfica de aplicaciones web con
      objetivos principalmente funcionales.
    </Fragment>
  </Hero>

  <Content
    classes={{ container: 'contains-logo' }}
    isImageSmall
    classes={{ container: 'contains-logo' }}
    subtitle="Lanzado en 2013, sigue siendo el framework número uno para la creación de interfaces funcionales."
    title="Desarrollamos aplicaciones de administración atractivas y funcionales con <span class='custom-gradient'>Metronic</span>"
    image={{
      id: 'metronic-logo',
      src: '~/assets/images/tecnologia/metronic-logo.svg',
      alt: 'Logotipo Metronic',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        Las plataformas de administración y gestión de datos deben ser <strong>funcionales</strong>, <strong
          >intuitivas</strong
        > y <strong>estables</strong>. Nuestro equipo de programadores trabaja habitualmente con Metronic, uno de los
        sistemas de plantillas más avanzados para el desarrollo de backoffice, paneles de administración y aplicaciones
        web altamente funcionales.
        <a
          title="Programación de aplicaciones web a medida"
          href={u('development/web')}
          class="btn-primary mt-12 mb-12 w-auto">Conoce más sobre programación de aplicaciones web</a
        >
      </p>
    </Fragment>
  </Content>

  <Features
    title="Ventajas de utilizar Metronic en proyectos de programación a medida"
    items={[
      {
        title: 'Diseño moderno y responsive',
        description:
          'Adaptable a cualquier dispositivo, asegurando una experiencia de usuario óptima en móviles, tabletas y ordenadores.',
        icon: 'tabler:devices',
      },
      {
        title: 'Biblioteca extensa de componentes',
        description:
          'Agiliza el desarrollo sin comprometer la personalización, ofreciendo una amplia gama de elementos prediseñados y listos para usar.',
        icon: 'tabler:components',
      },
      {
        title: 'Integración con frameworks avanzados',
        description:
          'Compatible con frameworks como <a href="#ROGER">SlimFramework</a>, facilitando la creación de aplicaciones robustas y escalables.',
        icon: 'tabler:code-plus',
      },
      {
        title: 'Rendimiento y carga rápida',
        description: 'Optimizado para asegurar tiempos de respuesta eficientes y una experiencia de usuario fluida.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Personalización',
        description:
          'Permite a desarrolladores expertos, adaptar cada elemento a las necesidades específicas del proyecto, desde la apariencia hasta la funcionalidad.',
        icon: 'tabler:adjustments-alt',
      },
      {
        title: 'Múltiples estructuras de base',
        description:
          'Ofrece diferentes plantillas dentro de su paquete, para poder disponer directamente de una base sobre la que trabajar, según el enfoque de cada proyecto.',
        icon: 'tabler:stack',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Features>

  <Features3
    title="¿Cómo usamos Metronic en Gilsys?"
    subtitle="Ciertamente, es un framework que nos encanta; lo usamos en casi todas las soluciones de administración que desarrollamos a medida."
    items={[
      {
        title: 'Construcción de paneles de administración y aplicaciones funcionales',
        description: `Desde paneles de administración para gestionar contenido hasta plataformas avanzadas para el control empresarial, Metronic ofrece la flexibilidad necesaria para crear soluciones intuitivas y eficientes.`,
        icon: 'tabler:layout-dashboard',
      },
      {
        title: 'Transformación y modernización con Metronic',
        description: `Si tu sistema de administración necesita una actualización, realizamos migraciones y optimización a Metronic, asegurando una transición fluida y sin interrupciones en la operatividad.`,
        icon: 'tabler:refresh',
      },
      {
        title: 'Mantenimiento y soporte para soluciones con Metronic',
        description: `Mantenemos y mejoramos las plataformas desarrolladas con Metronic, asegurando que siempre estén actualizadas, protegidas y alineadas con las últimas tendencias tecnológicas.`,
        icon: 'tabler:tools',
      },
    ]}
  />

  <Content title="Versiones con Tailwind y Bootstrap" classes={{ container: 'pb-0 md:pb-0 lg:pb-0' }}>
    <Fragment slot="preContent">
      <p class="text-muted">
        Metronic ofrece dos versiones: una basada en <a href="#ROGER" class="text-accent">Bootstrap</a> y otra en <a
          href="#ROGER"
          class="text-accent">Tailwind</a
        >, permitiendo elegir la que mejor se adapte a cada proyecto. Ambas versiones incluyen una amplia colección de
        componentes y una estructura optimizada, lo que acelera el desarrollo de aplicaciones empresariales y mejora la
        experiencia del usuario.
      </p>
      <p class="text-center">
        <a title="Web oficial de Metronic" href="#ROGER" class="btn-primary mt-12 mb-12 w-auto"
          >Conoce más sobre Metronic</a
        >
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/24.jpg', alt: 'Fondo abstracto' }}
    actions={[
      {
        variant: 'primary',
        text: 'Presupuesto gratuito',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title"
      >Tanto si conoces <span class="custom-gradient">Metronic</span> como si no, desde Gilsys te lo recomendamos</Fragment
    >
    <Fragment slot="subtitle"
      >Nos encargamos de preparar una interfaz atractiva para tu proyecto para que los usuarios se sientan cómodos y
      disfruten utilizando la herramienta creada.</Fragment
    >
  </CallToAction>
</Layout>
