---
import { Icon } from 'astro-icon/components';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Empresa de programación frontend con Angular',
  description: `En Gilsys ofrecemos programación a medida de aplicaciones web con Angular, creamos interfaces profesionales con este lenguaje de programación. ¡Presupuesto gratuito!`,
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="Interfaces modernas y ligeras, para aplicaciones web o apps móviles."
    actions={[{ variant: 'primary', text: 'Presupuesto gratuito', href: u('contact') }]}
    backgroundImage={{ alt: 'Fondo abstracto', src: '~/assets/images/geometric-2/4.jpg' }}
  >
    <Fragment slot="title">
      Programación de aplicaciones web con <span class="text-accent highlight">Angular</span>
    </Fragment>
    <Fragment slot="subtitle">
      Creamos interfaces Frontend profesionales con este lenguaje de programación basado en Javascript.
    </Fragment>
  </Hero>

  <Content
    subtitle="Angular permite crear herramientas eficientes y escalables."
    title="Desarrollo de aplicaciones web y apps móviles con <span class='custom-gradient'>Angular</span>"
    image={{
      src: '~/assets/images/logo-angular#ROGER.jpg',
      alt: 'Logotipo Angular',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        En el mundo digital actual, contar con aplicaciones web rápidas, escalables y de alto rendimiento es clave para
        cualquier negocio. Nuestro equipo de especialistas en Angular, con amplia experiencia en el desarrollo frontend,
        crea soluciones a medida adaptadas a las necesidades de cada empresa.
      </p>
      <p class="text-muted mt-4">
        Además, con Apache Cordova, extendemos la funcionalidad de Angular para desarrollar <a
          href={u('development/apps')}
          class="text-accent">aplicaciones móviles híbridas</a
        >, compatibles con iOS y Android.
      </p>
    </Fragment>
  </Content>

  <Content title="Soluciones innovadoras" classes={{ container: 'pb-0 md:pb-0 lg:pb-0' }}>
    <Fragment slot="preContent">
      <p class="text-muted">
        Angular es un framework moderno desarrollado por Google, ideal para la construcción de interfaces dinámicas y
        eficientes. Utilizamos esta tecnología para diseñar aplicaciones escalables, optimizadas y con una experiencia
        de usuario superior, tanto en entornos web como en dispositivos móviles.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Features3
    title="¿Por qué Angular es una gran opción para tu proyecto?"
    classes={{ container: 'pt-0 md:pt-0 lg:pt-0' }}
    items={[
      {
        description: `Estructura modular y reutilizable, facilitando el mantenimiento y la escalabilidad.`,
        icon: 'tabler:components', // Icono para componentes y módulos
      },
      {
        description: `Rendimiento optimizado, gracias a la carga diferida y la arquitectura basada en componentes.`,
        icon: 'tabler:rocket', // Icono para rendimiento y velocidad
      },
      {
        description: `Seguridad integrada, con medidas avanzadas contra vulnerabilidades y ataques.`,
        icon: 'tabler:shield-check', // Icono para seguridad y protección
      },
      {
        description: `Compatible con entornos empresariales, integrándose perfectamente con APIs REST y otras tecnologías.`,
        icon: 'tabler:server', // Icono para servidores y APIs
      },
      {
        description: `Desarrollo de apps híbridas, usando Apache Cordova para llevar tus aplicaciones web a dispositivos móviles.`,
        icon: 'tabler:device-mobile', // Icono para dispositivos móviles y aplicaciones híbridas
      },
      {
        description: `Soporte de Google y comunidad activa, asegurando mejoras constantes y actualizaciones frecuentes.`,
        icon: 'tabler:brand-google', // Icono para Google y su soporte
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Features3>

  <Content
    title="Con Angular, transformamos tus ideas en aplicaciones web y móviles híbridas"
    image={{
      src: '~/assets/images/angular-programacion#ROGER.jpg',
      alt: 'Imagen que refleja desarrollo web y apps con Angular',
    }}
    items={[
      {
        title: 'Diseño basado en Componentes',
        description:
          'Creamos una arquitectura modular basada en componentes reutilizables, definiendo claramente la estructura y el flujo de datos de tu aplicación Angular.',
      },
      {
        title: 'Desarrollo con TypeScript',
        description:
          'Implementamos la lógica de la aplicación utilizando TypeScript, aprovechando las ventajas de tipado estático y orientación a objetos para un código más robusto y mantenible.',
      },
      {
        title: 'Despliegue y Optimización',
        description:
          'Utilizamos Angular CLI para generar builds optimizados y desplegamos tu aplicación en entornos de producción, asegurando un rendimiento óptimo y una carga rápida.',
      },
      {
        title: 'Actualizaciones y Mantenimiento con Angular CLI',
        description:
          'Mantenemos tu aplicación actualizada con las últimas versiones de Angular utilizando Angular CLI, y ofrecemos soporte continuo para resolver cualquier incidencia y asegurar su correcto funcionamiento a largo plazo.',
      },
    ]}
  >
    <Fragment slot="content">
      <p class="text-muted">
        Ya sea que necesites una nueva aplicación desde cero o quieras mejorar un sistema existente, aprovechamos al
        máximo las capacidades de Angular:
      </p>
    </Fragment>
  </Content>

  <Content
    isReversed
    title="Migración y modernización a Angular"
    image={{
      src: '~/assets/images/estudio-integracion-ia.jpg',
      alt: 'Estudi per integrar intel·ligència artificial',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        Si tu plataforma actual ha quedado obsoleta, te ayudamos a migrarla a Angular, garantizando un proceso ágil y
        sin afectar la operatividad de tu negocio. Implementamos código limpio, actualizado y alineado con las mejores
        prácticas de desarrollo.
      </p>
      <a
        title="Migración de herramientas web a tecnología Angular"
        href={u('migration')}
        class="btn-primary mt-12 mb-12 w-auto">Renovación de software</a
      >
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Content
    title="Soporte y mantenimiento continuo"
    image={{
      src: '~/assets/images/estudio-integracion-ia.jpg',
      alt: 'Estudi per integrar intel·ligència artificial',
    }}
  >
    <Fragment slot="content">
      <p class="text-muted">
        Nuestros expertos están disponibles para asegurar que tu aplicación se mantenga estable, segura y en constante
        evolución. Ofrecemos mantenimiento correctivo, preventivo y evolutivo para que tu proyecto siempre funcione al
        máximo nivel.
        <a
          title="Migración de herramientas web a tecnología Angular"
          href={u('migration')}
          class="btn-primary mt-12 mb-12 w-auto">Conoce más sobre nuestra empresa</a
        >
      </p>
    </Fragment>
  </Content>

  <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/24.jpg', alt: 'Fondo abstracto' }}
    actions={[
      {
        variant: 'primary',
        text: 'Presupuesto gratuito',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title"
      >Si estás buscando especialistas en <span class="custom-gradient">Angular</span>, los has encontrado.</Fragment
    >
    <Fragment slot="subtitle"
      >Estamos a tu disposición para elaborar una propuesta de desarrollo en Angular, creando una maquetación a medida
      para tu proyecto.</Fragment
    >
  </CallToAction>
</Layout>
