---
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));


const metadata = {
  title: 'Desenvolupament web a mida en WordPress | +20 anys',
  description:
    'Agencia de programació de WordPress per empreses, creem mòduls a mida, disseny i maquetació personalitzats i rendiment optimitzat.',
};
---

<Layout metadata={metadata}>
  <!-- Hero Section -->
  <Hero tagline="La teva web amb el CMS més popular."
  backgroundImage={{alt: 'Fons abstracte',  src: '~/assets/images/dots/08.jpg'}}
  >
    <Fragment slot="title">
      Web a mida amb <span class="custom-gradient">WordPress</span>
    </Fragment>
    <Fragment slot="subtitle">
      Desenvolupem pàgines web per empreses, amb <span class="custom-gradient">disseny i plantilles personalitzades</span> per mòduls i temes programats a mida.
    </Fragment>
  </Hero>

  <!-- Introducció -->
  <Content
    tagline="Programem i dissenyem webs a mida en Wordpress"
    title="Experts en Wordpress"
    subtitle="A part de disposar de milers de plantilles i mòduls, podem programar a mida i personalitzar la web, tant a nivell de disseny com de funcionament."
    items={[
      {
        title: 'Contingut atractiu i optimitzat per SEO',
        list: [
          'Permet crear pàgines amb contingut optimitzat per a cercadors.',
          'Atrau usuaris amb un disseny atractiu i una estructura ben definida.',
        ],
        icon: 'tabler:search',
      },
      {
        title: 'Gestió de continguts amigable',
        list: [
          'Facilita la gestió de continguts gràcies a una interfície intuïtiva.',
          'Ideal per usuaris sense coneixements tècnics avançats.',
        ],
        icon: 'tabler:settings',
      },
      {
        title: 'Integració de funcionalitats addicionals',
        list: [
          'Afegir funcionalitats com galeries d’imatges, botigues online o blogs.',
          'Compatible amb milers de plugins disponibles.',
        ],
        icon: 'tabler:components',
      },
      {
        title: 'Comunitat àmplia i recursos externs',
        list: [
          'Accés a una gran comunitat de desenvolupadors i usuaris.',
          'Documentació extensa, temes i plugins per adaptar el projecte a mida.',
        ],
        icon: 'tabler:users',
      },
    ]    
    }
    image={{
        src: '~/assets/images/wordpress-themes.jpg',

      alt: 'Wordpress webs personalizades',
    }}
  >
    <Fragment slot="preContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">WordPress és la base, programem la resta</h3>
      <p class="text-muted">
        WordPress és una de les plataformes CMS més utilitzades per crear pàgines web autogestionades gràcies a la seva flexibilitat,
        facilitat d’ús i gran varietat de temes i plugins.
      </p>
      <p class="text-muted mt-2">
        A gilsys, som experts en el desenvolupament de pàgines web basades en WordPress, coneixem en profunditat el codi de la plataforma, els millors mòduls i les tècniques per extendre'l i personalitzar-lo.
      </p>
      <p class="text-muted mt-2">
        Podem crear amb plugins a mida, personalitzar plugins existents o adaptar-los seguint bones pràctiques de
        programació, assegurant que les funcionalitats personalitzades siguin compatibles amb futures actualitzacions de
        la plataforma.
      </p>
    </Fragment>
    <Fragment slot="content">
      <p>
        WordPress és una eina molt versàtil i intuïtiva, ideal per a aquells projectes que necessiten un disseny
        atractiu i una gestió de continguts estàndard amb opcions de personalització.
      </p>
    </Fragment>
    <Fragment slot="postContent">
      <h3 class="text-2xl font-bold tracking-tightsm:text-3xl mb-2">Quines empreses poden necessitar un Wordpress?</h3>
      <p class="text-muted">
        WordPress és perfecte per a petites i mitjanes empreses que necessiten una presència en línia professional,
        creadors de contingut que busquen gestionar blogs i multimèdia amb facilitat, negocis digitals que volen
        implementar funcionalitats d'<a href={u('software/ecommerce')} class="text-accent" title="Botigues online amb WooCommerce">e-commerce amb WooCommerce</a>, i organitzacions que requereixen
        una solució assequible, potent i escalable.
      </p>
      <p class="text-muted mt-3">
        Si es necessita un resultat amb rendiment superior, on no es prioritza l'autogestió de continguts, sinó la velocitat, rendiment i optimització per buscadors, recomanem crear una web a mida amb <a href={u('development/astro')} class="text-accent" title="Programació de webs ràpides, segures i optimitzades per SEO">ASTRO</a>.
      </p>
    </Fragment>
  </Content>

  <Content
    isReversed
    tagline=""
    title="Per què escollir WordPress per la teva pàgina web?"
    items={[
      {
        title: 'Crear pàgines atractives i optimitzades per SEO',
        description:
          'WordPress ofereix les eines necessàries per dissenyar pàgines amb contingut optimitzat per a cercadors, millorant la visibilitat i l’atractiu per als usuaris.',
      },
      {
        title: 'Facilitat en la gestió de continguts',
        description:
          'La seva interfície amigable permet gestionar continguts amb facilitat, fins i tot per a usuaris sense coneixements tècnics.',
      },
      {
        title: 'Integració de funcionalitats addicionals',
        description:
          'Afegir funcionalitats com galeries d’imatges, botigues online o formularis és senzill gràcies a la gran varietat de plugins disponibles.',
      },
      {
        title: 'Accés a una comunitat àmplia i recursos externs',
        description:
          'Milers de temes, plugins i una gran quantitat de documentació fan que WordPress sigui una plataforma versàtil i recolzada per una comunitat activa.',
      },
    ]}
    image={{
      src: '~/assets/images/wordpress-web-personalizada.jpg',
      alt: 'Imagen de mostra de plantilla de WordPress',
    }}
  >
    <Fragment slot="preContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">La plataforma més popular</h3>
      <p class="text-muted">
        WordPress és una eina molt versàtil i intuïtiva, ideal per a aquells projectes que necessiten una gestió de
        continguts estàndard amb opcions de personalització.
      </p>
    </Fragment>
    <Fragment slot="postContent">
      <h3 class="text-2xl font-bold tracking-tightsm:text-3xl mb-2">Limitacions de rendiment</h3>
      <p class="text-muted">
        Tot i ser molt versàtil, WordPress pot presentar limitacions de rendiment en comparació amb pàgines web ràpides
        desenvolupades amb tecnologies per <a href={u('development/astro')} class="text-accent" title="Programació de webs optimitzades">webs d'alt rendiment</a>, com les que
        programem des de gilsys.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Prices
    title={`Comparativa entre WordPress i <a href='` + u('development/astro') + `' class="text-accent" title="Programació de webs ràpides, segures i optimitzades per SEO">ASTRO</a>`}
    subtitle="Cada tecnologia ofereix diferents avantatges, cal escollir segons les necessitats de cada projecte."
    prices={[
      {
        title: 'WordPress',
        subtitle: 'Solució intuïtiva i popular amb una àmplia comunitat.',
        items: [
          {
            title: 'Rendiment',
            description: 'Pot ser limitat amb molts plugins o continguts pesats.',
          },
          {
            title: 'Facilitat d’ús',
            description: 'Interfície intuïtiva i amigable per a usuaris sense coneixements tècnics.',
          },
          {
            title: 'Personalització',
            description: 'Gran varietat de plugins i temes; personalitzable amb extensió de plugins.',
          },
          {
            title: 'Actualitzacions i manteniment',
            description: 'Senzill gràcies al sistema integrat de WordPress.',
          },
          {
            title: 'Escalabilitat',
            description: 'Adequat per a projectes mitjans; limitat amb altes exigències de rendiment.',
          },
          {
            title: 'SEO i contingut',
            description: 'Ofereix mòduls per analitzar SEO a nivell de contingut, però és més difícil adaptar el SEO tècnic.',
          },
        ],
      },
      {
        title: 'Pàgines Web Ràpides',
        subtitle: 'Solució optimitzada i feta a mida per a projectes avançats.',
        items: [
          {
            title: 'Rendiment',
            description: 'Altíssim, gràcies a un codi optimitzat i lleuger.',
          },
          {
            title: 'Facilitat d’ús',
            description: 'Requereix més coneixements tècnics per gestionar continguts.',
          },
          {
            title: 'Personalització',
            description: 'Totalment personalitzable des de zero segons els requisits específics.',
          },
          {
            title: 'Actualitzacions i manteniment',
            description: 'Pot requerir més suport tècnic depenent de la configuració.',
          },
          {
            title: 'Escalabilitat',
            description: 'Ideal per a projectes amb requisits tècnics elevats o grans volums de trànsit.',
          },
          {
            title: 'SEO i contingut',
            description: 'Pot ser més optimitzada a nivell de SEO tècnic.',
          },
        ],
      },
    ]}
  />

  <FAQs
    title={`Quan escollir WordPress i quan optar per <a href='` + u('development/astro') + `' class="text-accent" title="Programació de webs ràpides, segures i optimitzades per SEO">pàgines web d'alt rendiment?</a>`}
    subtitle=""
    tagline=""
    heading=""
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'WordPress',
        description:
          'És la millor opció per a projectes que necessiten una gestió senzilla i estàndard de continguts, com blogs, pàgines corporatives o petites botigues online. Permet una ràpida implementació gràcies a la seva àmplia gamma de plugins i temes.',
      },
      {
        title: "Pàgines web d'alt rendiment",
        description: `Si el projecte requereix un rendiment òptim, càrregues ultra-ràpides, o funcionalitats SEO avançades, les pàgines web ràpides són l’opció ideal. Estan dissenyades des de zero amb tecnologies modernes per garantir velocitat, escalabilitat i seguretat.`
      },
    ]}
  />

  <Content
    isReversed
    tagline=""
    title="Per què confiar en gilsys per programar el teu web en WordPress?"
    items={[
        {
          title: 'Coneixement profund del codi',
          description:
            'Gràcies a la nostra experiència amb WordPress, podem optimitzar la plataforma segons els requeriments específics de cada projecte, proporcionant un rendiment òptim.',
          icon: 'tabler:tools',
        },
        {
          title: 'Personalització i ampliació de plugins',
          description: 
              'Desenvolupem plugins personalitzats seguint bones pràctiques per garantir sostenibilitat i compatibilitat i adaptem mòduls comercials o gratuïts per ajustar-los completament als objectius del projecte.'
          ,
          icon: 'tabler:components',
        },
        {
          title: 'Optimització SEO i rendiment',
          description:
            `Implementem tècniques avançades per millorar la velocitat de càrrega i el posicionament SEO, revisant les puntuacions a <a rel="nofollow" class="text-accent" title='Test de rendiment de Google' href='https://pagespeed.web.dev/'>Google Page Speed</a>.`,
          icon: 'tabler:search',
        },
        {
          title: 'Facilitat de manteniment',
          description:
            'Ens assegurem que les personalitzacions no interfereixin amb futures actualitzacions de WordPress o dels seus plugins, mantenint la pàgina funcional a llarg termini.',
          icon: 'tabler:recycle',
        },
        {
          title: 'Focalització en resultats',
          description:
            'Proposem la solució més adequada, sigui WordPress o una pàgina ràpida, segons les necessitats específiques del projecte, evitant implementacions innecessàries.',
          icon: 'tabler:target',
        },
      ]}
      
    image={{
      src: '~/assets/images/gilsys-programacion-web-wordpress.jpg',
      alt: 'Programació de webs amb WordPress',
    }}
  >
    <Fragment slot="content">
      No és fàcil trobar una empresa especialista en WordPress, que pugui oferir disseny i maquetació a mida i personalitzar-la programant plugins.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <CallToAction
  backgroundImage={{ src: '~/assets/images/dots/08.jpg', alt: 'Fons abstracte, inspirat en tecnologia i software' }}
  actions={[
    {
      variant: 'primary',
      text: 'Sol·licitar pressupost',
      href: u('contact'),
    },
    {
      variant: 'primary',
      text: 'Trucar',
      href: 'tel:+34665331271',
    },
  ]}
>
  <Fragment slot="title">T'oferim una web amb disseny i programació utilitzant <span class="custom-gradient">WordPress</span></Fragment>
  <Fragment slot="subtitle"
    >Si necessites una empresa que t'implementi una web amb WordPress de qualitat superior, contacta'ns.</Fragment
  >
</CallToAction>
</Layout>
