---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Consultoria TIC',
  description:
    `Assessorament per integrar intel·ligència artificial a l'empresa, anàlisi de la situació tecnològica, transformació d’idees en projectes i estudis per organització de dades.`,
};
---

<Layout metadata={metadata}>
  <Hero tagline="Com experts en desenvolupament de software, podem donar una visió més profunda."
  backgroundImage={{ alt:'Fons abstracte', src: '~/assets/images/dots/20.jpg'}}
  >
    <Fragment slot="title"><span class="text-accent highlight">Consultoria</span> TIC</Fragment>
    <Fragment slot="subtitle"
      >Assessorament per integrar intel·ligència artificial a l'empresa, anàlisi de la situació tecnològica, transformació d’idees en projectes i estudis per organització de dades.</Fragment
    >
  </Hero>

  <Features3
    id="features-services"
    title="Una consultoria feta per tècnics especialistes"
    subtitle={"El nostre servei d'assessorament va més enllà del de les empreses consultores, estem especialitzats en <a title='Programació de software a mida' class='text-accent' href='" + u('software')+ "'>desenvolupament de software</a>, pel que podem ajudar a prendre decisions oferint una visió més tècnica."}
    tagline="Assessorament no orientat a resultats, no a ventes de software estàndard."
    items={[
      {
        title: 'Assessorament per a la integració intel·ligència artificial',
        description:
          'Detectem oportunitats per introduir IA de manera efectiva en els processos empresarials.',
        icon: 'tabler:brain',
        callToAction: {
          class: 'more-info',
          text: 'Més informació',
          href: '#ia',
        },
      },
      {
        title: 'Anàlisi de situació tecnològica',
        description:
          'Auditem els sistemes i processos per identificar punts forts, febleses i oportunitats de millora.',
        icon: 'tabler:search',
        callToAction: {
          class: 'more-info',
          text: 'Més informació',
          href: '#analisi-situacio-tecnologica',
        },
      },
      {
        title: 'Transformació d’idees en projectes',
        description: 'Convertim idees inicials en projectes reals, amb una proposta tècnica clara i fases definides.',
        icon: 'tabler:bulb',
        callToAction: {
          class: 'more-info',
          text: 'Més informació',
          href: '#transformar-idees-en-projectes',
        },
      },
      {
        title: 'Anàlisi i organització de dades',
        description:
          'Estudiem i proposem optimitzacions de l’estructura i qualitat de les dades per facilitar la presa de decisions estratègiques.',
        icon: 'tabler:database',
        callToAction: {
          class: 'more-info',
          text: 'Més informació',
          href: '#analisi-organitzacio-dades',
        },
      },
      {
        title: 'Identificació de solucions',
        description: 'Avaluem i proposem eines que complementin els processos existents i millorin la productivitat.',
        icon: 'tabler:tool',
        callToAction: {
          class: 'more-info',
          text: 'Més informació',
          href: '#identificacio-solucions',
        },
      },
      
    ]}
  />

  <Content
    isReversed
    tagline=""
    title="<a title='Assessorament tecnològic per adaptar ia a l\'empresa' name='ia'>Assessorament per a la integració intel·ligència artificial</a>"
    subtitle="Analitzem les tasques i processos de l'empresa per estudiar punts on integrar Intel·ligència Artificial."
    items={[
      {
        title: 'Identificació de tasques clau',
        description: 'Analitzem processos on l’IA pot aportar més valor i eficiència a l’empresa.',
      },
      {
        title: 'Propostes d’eines adaptades',
        description: 'Recomanem solucions d’intel·ligència artificial compatibles amb l’entorn del client.',
      },
      {
        title: 'Pla d’implementació estratègic',
        description:
          'Dissenyem un pla que contempla impactes operatius i necessitats de formació per una integració exitosa.',
      },
    ]}
    image={{
      src: '~/assets/images/estudio-integracion-ia.jpg',
      alt: 'Estudi per integrar intel·ligència artificial',
    }}
  >
    <Fragment slot="preContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        Detectar en quins punts la IA pot ajudar a cada empresa
      </h3>
      <p class="text-muted">
        L’ús d’intel·ligència artificial pot aportar un valor significatiu a les empreses, però només si es planifica i
        integra adequadament.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Content
    tagline=""
    title=`<a title='Anàlisi tecnològic de l'empresa i identificació de possibles automatitzacions' name='analisi-situacio-tecnologica'>Anàlisi de situació tecnològica</a>`
    subtitle=`Estudi de l'empresa per detectar possibles punts on automatitzar tasques o millorar les aplicacions actuals.`
    items={[
      {
        title: 'Revisió d’eines actuals',
        description: 'Auditem la funcionalitat de les eines per identificar punts forts i àrees a millorar.',
      },
      {
        title: 'Identificació de colls d’ampolla',
        description: 'Analitzem processos per detectar i resoldre problemes de rendiment o operatius.',
      },
      {
        title: "Valoració d'escalabilitat",
        description: 'Determinem la capacitat dels sistemes per créixer amb el negoci.',
      },
    ]}
    image={{
      src: '~/assets/images/consultoria-tecnologica.jpg',
      alt: 'Consultoria tecnològica sobre taula de vidre',
    }}
  >
    <Fragment slot="preContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        Comprendre l’estat actual per planificar el futur
      </h3>
      <p class="text-muted">
        Realitzem una auditoria detallada dels sistemes i processos per assegurar que cada decisió es basi en informació
        real i actualitzada.
      </p>
    </Fragment>
  </Content>

  <Content
    tagline=""
    title=`<a title='Transformem idees en plans de projecte reals' name='transformar-idees-en-projectes'>Transformació d’idees en projectes</a>`
    subtitle=`Consultoria per poder delimitar a nivell tècnic i funcional el procés d'implementació d'un projecte de desenvolupament informàtic.`
    isReversed
    items={[
      {
        title: 'Propostes tècniques adequades',
        description: 'Definim solucions viables basades en experiència i bones pràctiques.',
      },
      {
        title: 'Priorizació per fases',
        description: 'Planifiquem les fases del projecte per optimitzar recursos i temps.',
      },
      {
        title: 'Solucions tecnològiques personalitzades',
        description: 'Proposem eines ajustades a les necessitats específiques del projecte.',
      },
    ]}
    image={{
      src: '~/assets/images/idea-proyecto.jpg',
      alt: "Transformar idees en projectes",
    }}
  >
    <Fragment slot="preContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Conceptualitzem idees en un pla de projecte factible</h3>
      <p class="text-muted">
        Treballem amb empreses per transformar idees inicials en plans de projecte, on definim com s'abordarà a nivell tècnic i en quines fases es dividirà la seva implementació.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Content
    tagline=""
    title=""

    title=`<a title="Estudi per classificar les dades de l'empresa" name="analisi-organitzacio-dades">Anàlisi i organització de dades</a>`
    subtitle=`Estudiem els diferents origens de dades de per poder reatlizar propostes de millora i reorganització.`
    items={[
      {
        title: 'Revisió de qualitat de dades',
        description: 'Analitzem la consistència de les dades per garantir la seva utilitat en la presa de decisions.',
      },
      {
        title: 'Creació d’esquemes d’organització',
        description: 'Proposem estructures que millorin l’accés i la interpretació de dades.',
      },
      {
        title: 'Optimització de gestió de dades',
        description: 'Recomanem solucions específiques per gestionar la informació de manera més eficient.',
      },
    ]}
    image={{
      src: '~/assets/images/analisis-clasificacion-datos.jpg',
      alt: 'Data Organization',
    }}
  >
    <Fragment slot="preContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Organitzar amb sentit la informació</h3>
      <p class="text-muted">
        L'anàlisi i classificació de dades és clau per prendre decisions estratègiques amb una visió clara i útil.
      </p>
    </Fragment>
    
  </Content>

  <Content
    tagline=""
    isReversed
    title=`<a title="Busquem i proposem les eines més adequades per cada projecte" name='identificacio-solucions'>Identificació de solucions</a>`
    subtitle=`Consultoria per estudiar opcions comercials o de codi obert que s'adaptin a les necessitats de cada projecte.`
    items={[
      {
        title: 'Avaluació d’opcions de mercat',
        description:
          'Analitzem eines finals o personalitzables per trobar les que millor s’adaptin a les necessitats del client.',
      },
      {
        title: 'Propostes complementàries',
        description:
          'Proposem solucions que millorin les eines actuals sense necessitat de substituir-les innecessàriament.',
      },
      {
        title: 'Pla d’integració coherent',
        description:
          'Dissenyem un pla d’integració alineat amb l’estratègia empresarial per garantir l’èxit del projecte.',
      },
    ]}
    image={{
      src: '~/assets/images/integracion-circular.jpg',
      alt: 'Integració circular',
    }}
  >
    <Fragment slot="preContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        Seleccionar les eines més adequades
      </h3>
      <p class="text-muted">
        Revisem les necessitats de l’empresa per identificar quines solucions poden ajudar a millorar els seus
        processos, ja sigui integrant eines noves o optimitzant les existents.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  

  <Features
  
    id="benefits"
    tagline="Per què confiar en gilsys?"
    title="Avantatges de la nostra consultoria"
    subtitle="Ajudem empreses a optimitzar processos i millorar resultats amb solucions tecnològiques sostenibles i personalitzades."
    items={[
      {
        title: 'Anàlisi realista i enfoc personalitzat',
        description:
          'No proposem solucions generalistes. Treballem en base a les necessitats reals del client per oferir respostes útils i viables.',
        icon: 'tabler:search',
      },
      {
        title: 'Transformació orientada a resultats',
        description:
          'Convertim idees en projectes concrets, acompanyant cada fase, des de la conceptualització fins a l’execució.',
        icon: 'tabler:target',
      },
      {
        title: 'Experiència en tecnologia avançada',
        description:
          'Comptem amb experiència en sectors diversos i estudiem les últimes tendències en eines i solucions tecnològiques.',
        icon: 'tabler:devices',
      },
      {
        title: 'Honestedat i sostenibilitat',
        description:
          'Aconsellem el que és més adequat per a l’empresa, evitant inversions innecessàries o canvis radicals.',
        icon: 'tabler:devices',
      },
    ]}
  />

  <CallToAction
  backgroundImage={{ src: '~/assets/images/dots/20.jpg', alt: 'Fons abstracte' }}
  actions={[
    {
      variant: 'primary',
      text: 'Pressupost gratuït',
      href: u('contact'),
    },
    {
      variant: 'primary',
      text: 'Trucar',
      href: 'tel:+34665331271',
    },
  ]}
>
  <Fragment slot="title">Vols <span class="custom-gradient">migrar</span> eines antigues o <span class="custom-gradient">integrar aplicacions</span> a la teva empresa?</Fragment>
  <Fragment slot="subtitle">Contacta'ns i ens encarregarem d'assessorar-te i executar el teu projecte.</Fragment>
</CallToAction>
</Layout>
