---
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FourBlocks from '~/components/widgets/FourBlocks.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Headline from '~/components/blog/Headline.astro';
import Steps from '~/components/widgets/Steps.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Features3 from '~/components/widgets/Features3.astro';

const metadata = {
  title: 'About us',
  description: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="Creem <strong>eines que NO només funcionen</strong>, sinó que són atractives i eficients.">
    <Fragment slot="title"
      >Programació de <span class="text-accent highlight"> software a mida</span> per empreses</Fragment
    >
    <Fragment slot="subtitle">Desenvolupem solucions per a aquelles empreses que necessiten eines úniques i adaptades a les seves necessitats.</Fragment
    >
  </Hero>

  <Features3
    title="Què fem a gilsys?"
    items={[
      {
        title: 'Aplicacions web',
        description:
          "Desenvolupem eines i plataformes online, públiques o d'ús empresarial intern per a tot tipus de projectes.",
        icon: 'tabler:world',
        callToAction: {
          class: 'more-info',
          text: 'Más información',
          href: '#TODO',
        },
      },
      {
        title: 'Aplicacions mòbils',
        description:
          'Dissenyem i programem aplicacions multiplataforma, híbrides, per iOS i Android, per mòbils i tablets a Apple Store i Google Play.',
        icon: 'tabler:device-mobile',
        callToAction: {
          class: 'more-info',
          text: 'Más información',
          href: '#TODO',
        },
      },
      {
        title: 'Programació amb intel·ligència artificial',
        description:
          'Creem algoritmes per automatitzar processos, analitzar dades i resoldre reptes tècnics utilitzant intel·ligència artificial.',
        icon: 'tabler:brain',
        callToAction: {
          class: 'more-info',
          text: 'Más información',
          href: '#TODO',
        },
      },
      {
        title: "Webs d'alt rendiment",
        description:
          "Programem webs optimitzades a nivell de rendiment, SEO, seguretat i amb una experiència d'usuari funcional. Per projectes que requereixen més que un <a class='text-accent' href='' title='Programació de webs amb Wordpress'>Wordpress</a>.",
        icon: 'tabler:layout',
        callToAction: {
          class: 'more-info',
          text: 'Más información',
          href: '#TODO',
        },
      },
      {
        title: "Programació d'APIs",
        description:
          'Desenvolupem APIs a mida per integrar sistemes i facilitar l’intercanvi eficient de dades entre plataformes.',
        icon: 'tabler:api',
        callToAction: {
          class: 'more-info',
          text: 'Más información',
          href: '#TODO',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Features3>

  <FAQs
    title="El software a mida, en detall"
    subtitle="A gilsys, som especialistes en el desenvolupament de solucions tecnològiques dissenyades des de zero per cobrir els requisits concrets de cada projecte."
    tagline=""
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Què significa software a mida?',
        description:
          "El software a mida és la programació d'aplicacions i eines tecnològiques <strong>que no existeixen</strong>. Això permet una adaptació completa a les necessitats del client, eliminant les limitacions de les plataformes comercials o solucions personalitzades basades en software estàndard.",
      },
      {
        title: 'Diferències entre software a mida i software personalitzat',
        description:
          "Tot i que poden semblar conceptes similars, és important destacar que el software a mida es crea <strong>des de zero</strong>, mentre que el software personalitzat implica adaptar o ampliar una eina a les necessitats del client. No hi ha una solució perfecta, depenent de cada projecte, serà millor programar software a mida o utilitzar <a href='#TODO' class='text-accent'>software personalitzat</a>.",
      },
    ]}
  />

  <Features2
    id="features"
    tagline="Característiques"
    title="Beneficis del software a mida"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
    items={[
      {
        title: 'Programació a mida per adaptar-se a cada empresa',
        description:
          "El desenvolupament de software a mida assegura una adaptabilitat superior a les solucions comercials. Cada projecte es dissenya i desenvolupa conjuntament amb l'empresa per respondre a les seves necessitats específiques. En cas necessari, es realitza una consultoria tecnològica per <a href='#' class='text-accent'>transformar les idees en projectes</a>.",
        icon: 'tabler:brand-tailwind',
      },
      {
        title: "Interfícies d'usuari completament personalitzades",
        description:
          "La programació a mida elimina les limitacions dels programes estàndard. Dissenyar interfícies intuïtives i adaptades als requeriments específics facilita l'ús i millora l'eficiència dels equips en eines internes i fa més atractiva l'experiència en plataformes i apps.",
        icon: 'tabler:components',
      },
      {
        title: 'Desenvolupament de funcionalitats avançades',
        description:
          'Al tenir control del codi font, podem implementar funcionalitats avançades i personalitzades per donar resposta a les necessitats específiques de cada projecte, creant solucions tecnològiques tan simples o complexes com sigui necessari.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Control de codi i actualitzacions',
        description:
          'El desenvolupament de software a mida garanteix un control total sobre el codi font i les actualitzacions. Això ofereix flexibilitat eliminant la dependència de proveïdors externs.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Escalabilitat i flexibilitat per adaptar-se al creixement del negoci',
        description:
          "El desenvolupament a mida estarà pensat per evolucionar amb cada projecte. Les eines creades es poden ampliar o modificar per incorporar noves funcionalitats, integrar tecnologies emergents i escalar a nivell d'infraestructura.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Eficiència i productivitat',
        description:
          'Reduir temps en tasques repetitives i errors humans és possible amb programació a mida, que optimitza els processos i millora la productivitat de l’empresa.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Innovació en desenvolupament tecnològic',
        description:
          "Es poden incorporar tecnologies innovadores com frameworks moderns i intel·ligència artificial, per preparar el software de cares a les necessitats actuals i futures de l'empresa.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Integració amb sistemes i eines existents',
        description:
          "La programació a mida permet integrar el software creat amb sistemes i eines ja utilitzats per l'empresa, millorant la connectivitat i optimitzant els processos sense interrupcions.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Estalvi a llarg termini comparat amb desenvolupament propietari',
        description:
          'El software a mida elimina costos recurrents de llicències i adaptacions forçades, oferint en molts cassos una solució més rendible i sostenible.',
        icon: 'tabler:arrows-right-left',
      },
    ]}
  />

  <Features
    id="features"
    tagline=""
    title="Desavantatges i solucions"
    subtitle="Descobreix com el software a mida supera els reptes inicials per oferir beneficis a llarg termini."
    items={[
      {
        title: 'Cost inicial més elevat que el software comercial',
        description:
          "El <strong>software a mida</strong> requereix una inversió inicial més alta en comparació amb solucions estàndard. Això es deu a la personalització total del desenvolupament i la creació des de zero. A llarg termini, el cost es redueix eliminant llicències recurrents, costos d'adaptació i dependències de tercers.",
        icon: 'tabler:currency-dollar',
      },
      {
        title: 'Temps de desenvolupament més llarg',
        description:
          'Crear un software pot requerir més temps que implementar una solució comercial ja existent. A gilsys utilitzem <strong>metodologies àgils</strong> per garantir un procés eficient i prioritzar funcionalitats crítiques, permetent una implementació per fases.',
        icon: 'tabler:clock',
      },
      {
        title: 'Dependència del proveïdor de desenvolupament',
        description:
          "Que el codi sigui únic pot generar certa dependència de l'equip de desenvolupadors. Des de <strong>gilsys</strong>, oferim <strong>transparència total</strong> en el codi i, si cal, podem oferir com a servei adicional, la documentació i formació per equips tècnics del client, assegurant una autonomia total.",
        icon: 'tabler:settings',
      },
      {
        title: 'Complexitat en la gestió inicial',
        description:
          "Adoptar una eina completament nova pot requerir un període d'adaptació per als usuaris finals. Desenvolupem <strong>interfícies intuïtives</strong> i proporcionem formació específica per facilitar una transició fluida. A més, podem ajustar el software de forma posterir al desplegament per adaptar-lo segons el feedback dels usuaris.",
        icon: 'tabler:settings',
      },
    ]}
  />

  <Content
    isReversed
    tagline="Coneix perquè som diferents"
    title="Per què escollir gilsys?"
    items={[
      {
        title: 'Compromís amb el projecte i la planificació',
        description:
          'Ens encarreguem de definir de forma precisa el que inclourà el projecte de software a mida des del primer moment i definim un calendari realista ajustat a la seva complexitat.',
        icon: 'tabler:clock',
      },
      {
        title: 'Orientat a l’eficiència i al rendiment',
        description:
          'Les nostres eines <strong>NO només funcionen</strong>, creem que cada codi ha de ser una petita obra artesanal, optimitzem el codi i els processos interns del software perquè sigui ràpid, fiable i eficient.',
        icon: 'tabler:check',
      },
      {
        title: 'Serveis de manteniment evolutiu i correctiu',
        description: 'Planifiquem amb tu l’evolució del software perquè pugui créixer amb la teva empresa, integrant noves funcionalitats.',
        icon: 'tabler:check',
      },
      {
        title: 'Tecnologia d’avantguarda',
        description:
          "Des d'intel·ligència artificial fins a solucions al núvol, utilitzem les tecnologies més adequades pel teu projecte, no prioritzant reutilitzar codi quan el que cal és inventar.",
        icon: 'tabler:cloud',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Oferim experiència, honestedad i qualitat
      </h3>
      Durant més de 20 anys creant software a mida, hem pogut treballar en projectes molt importants en una gran varietat
      de sectors.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <BlogLatestPosts title="Últimes entrades del blog" linkText="Anar al blog" />
</Layout>
