---
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FourBlocks from '~/components/widgets/FourBlocks.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Stats from '~/components/widgets/Stats.astro';
import { header } from '~/i18n/ui.ts';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const metadata = {
  title: 'Custom Software, Apps, Web, and AI Development | +20 Years',
  description:
    'Custom development company for mobile applications, web platforms, software, and artificial intelligence tools. Get a free quote. Located near Barcelona, Spain.',
};

const u = useRoutes(getLangFromUrl(Astro.url));

// Obtiene la fecha y hora actuales *durante la compilación*
const buildDate = new Date();

const jsonLdWebsite = {
  '@context': 'https://schema.org/',
  '@type': 'WebSite',
  '@id': 'https://www.gilsys.com/#website',
  name: 'gilsys',
  alternateName: metadata.title,
  description: metadata.description,
  url: 'https://www.gilsys.com/',
  datePublished: '2025-02-14T11:26:41+00:00',
  dateModified: buildDate.toISOString(),
};


const jsonLdCorporation = {
  '@context': 'https://schema.org/',
  '@id': 'https://www.gilsys.com/#organization',
  '@type': 'Corporation',
  name: 'gilsys',
  legalname: 'gilsys',
  description: metadata.description,
  image: 'https://www.gilsys.com/logo-programacion-software-a-medida.jpg',
  url: 'https://www.gilsys.com/',
  logo: 'https://www.gilsys.com/gilsys-logo.jpg',
  address: {
    '@type': 'PostalAddress',
    addressLocality: 'Barcelona',
    addressRegion: 'Catalonia',
    addressCountry: 'ES',
    postalCode: '08580',
    streetAddress: 'Passeig del Ter 48',
  },
  email: 'info@gilsys.com',
  foundingDate: '01-01-2005',
  telephone: '+34665331271',
  sameAs: ['https://www.facebook.com/gilsysg6/', 'https://www.linkedin.com/company/gilsys'],
};
---

<Layout metadata={metadata}>
    <script type="application/ld+json" set:html={JSON.stringify(jsonLdWebsite, null, 2)} />
    <script type="application/ld+json" set:html={JSON.stringify(jsonLdCorporation, null, 2)} />

  <Hero
    id="hero-home"
    tagline=""
    actions={[
      { variant: 'primary', target: '_blank', text: 'Get a Free Quote', href: u('contact') },
      { text: 'Services', href: '#software-services' },
    ]}
    backgroundImage={{
      src: '~/assets/images/neutral/bg-1.jpg',
      alt: 'Abstract background inspired by technology and software',
    }}
  >
    <Fragment slot="title">
      Custom development of
      <span class="custom-gradient">software</span>,
      <span class="custom-gradient">apps</span>,
      <span class="custom-gradient">web platforms</span>, and
      <span class="custom-gradient">AI</span><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Over <span class="text-accent highlight">20 years</span> of turning innovative ideas into successful projects.
      </span>
    </Fragment>
  </Hero>

  
  <Hero2
    tagline="Helping businesses adopt artificial intelligence"
    actions={[
      {
        variant: 'primary',
        title: 'Custom AI-powered software development for businesses',
        text: 'Discover how to apply AI to your business',
        href: u('development/ia'),
      },
    ]}
    image={{
      id: 'home-first-image',
      src: '~/assets/images/inteligencia-artificial.png',
      alt: 'Artificial intelligence',
    }}
  >
    <Fragment slot="title">
      Stay ahead of the game, integrate <br /><span class="custom-gradient">Artificial Intelligence</span> into your business
    </Fragment>

    <Fragment slot="subtitle">
      We are a software engineering company specializing in custom software development. We don’t just stay up to date
      with the latest advancements in <a
        title="Custom development integrating artificial intelligence"
        class="text-accent"
        href={u('development/ia')}>artificial intelligence</a
      >—we actively apply them to business tools, web applications, custom mobile apps, and process automation.
    </Fragment>
  </Hero2>

  <FourBlocks
    id="software-services"
    title="Software Engineering Services"
    information="Don't adapt your business to technology, we <span class='text-black'>adapt technology to your business</span>."
    blocks={[
      {
        link: u('development'),
        text: header['en']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'development').text,
        title: header['en']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'development').title,
        excerpt: 'We develop using the right technology for each project, creating completely new tools from scratch.',
        image: '~/assets/images/programacion-software-a-medida.jpg',
        links: header['en']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'development').links,
      },
      {
        link: u('software'),
        text: header['en']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'software').text,
        title: header['en']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'software').title,
        excerpt: 'We build upon existing tools, extending and customizing them with tailored development.',
        image: '~/assets/images/software-personalizado.jpg',
        links: header['en']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'software').links,
      },
      {
        link: u('migration'),
        text: header['en']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'migration').text,
        title: header['en']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'migration').title,
        excerpt: 'We optimize and migrate outdated tools while creating seamless processes to connect platforms.',
        image: '~/assets/images/migracion-integracion.jpg',
        links: header['en']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'migration').links,
      },
      {
        link: u('consultory'),
        text: header['en']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'consultory').text,
        title: header['en']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'consultory').title,
        excerpt:
          'We analyze your current situation, conceptualize ideas, and provide expert guidance to bring them to life.',
        image: '~/assets/images/consultoria-tecnologica.jpg',
        links: header['en']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'consultory').links,
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </FourBlocks>
  <!-- Steps2 Widget ****************** -->

  <Features
    id="features"
    tagline="Why choose Gilsys?"
    title="Tailored solutions for your business"
    subtitle="Web development, apps, and artificial intelligence—customized and programmed to fit your business needs."
    columns={2}
    items={[
      {
        title: 'Proven Experience',
        description:
          'Over <span class="text-accent highlight">20 years</span> of developing technological solutions for businesses across different industries, providing a broad vision and technical expertise.',
        icon: 'tabler:flag-2',
      },
      {
        title: 'Tailored Solutions',
        description: `Every project is unique. We understand code and know how to use it to create custom solutions, avoiding the need to adapt your business to tools that don’t fully match your real needs.`,
        icon: 'tabler:settings-code',
      },
      {
        title: 'Cutting-Edge Technologies',
        description:
          `We work with the latest technologies, including <a href="` +
          u('development/ia') +
          `" title="We develop AI-integrated software for businesses" class="text-accent">artificial intelligence</a>, cloud computing, and modern frameworks to deliver innovative and efficient results.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Expert Team',
        description: 'We keep our team small to ensure proximity, quality, and full control over every project.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Responsible Innovation',
        description: `We constantly research and learn new technologies, but we only work with those that guarantee solid, reliable, and high-quality results. If we don’t master it, we won’t take it on.`,
        icon: 'tabler:brand-bluesky',
      },
      {
        title: 'Talk to Engineers, Not Salespeople',
        description: `We are passionate about what we do. Our focus is on providing real, personalized solutions tailored to your business needs—without sales pressure.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Flexible Budget',
        description: `We adapt to your budget by breaking the project into phases and prioritizing what’s most important for your business.`,
        icon: 'tabler:adjustments-question',
      },
      {
        title: 'Commitment & Support',
        description: `We support you throughout the entire process, from the initial idea to implementation, offering maintenance and support services to ensure the success of your project.`,
        icon: 'tabler:eyeglass',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    title="Experience & Trust: <span class='custom-gradient'>Gilsys in numbers</span>"
    subtitle="We sincerely <strong>thank</strong> all our clients who have trusted our custom software development, apps, and artificial intelligence solutions—making a real impact on their businesses."
    stats={[
      { title: 'Years', amount: '+20' },
      { title: 'Projects', amount: '+200' },
      { title: 'Deliveries', amount: '+1K' },
      { title: 'Lines of Code', amount: '+1M' },
    ]}
  />

  <!-- Features2 Widget ************** -->
  <Features2
    title="Our expertise in custom development allows us to tackle projects in almost any industry"
    subtitle="Technology plays a key role across most sectors, enabling us to create applications and automations regardless of the type of business."
    columns={3}
    items={[
      {
        title: 'Technology',
        description:
          `<a href="` +
          u('development/web') +
          `" title="Custom web application development" class="text-accent">Online tools</a> and <a href="` +
          u('development/apps') +
          `" title="Custom iOS and Android app development" class="text-accent">mobile apps</a> with Bluetooth integration, AI, or custom APIs.`,
        icon: 'tabler:code',
      },
      {
        title: 'Business',
        description:
          `Development of 
      <a href="` +
          u('development/web') +
          `" title="High-performance website development" class="text-accent">fast and SEO-optimized websites</a> (not WordPress).`,
        icon: 'tabler:affiliate',
      },
      {
        title: 'Retail',
        description:
          `<a href="` +
          u('software/ecommerce') +
          `" title="E-commerce with Prestashop and WooCommerce" class="text-accent">Online stores</a>, landing pages, and invoicing system integration.`,
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Marketing',
        description:
          `Implementation of <a href="` +
          u('software/crm') +
          `" title="Customer management systems for businesses and freelancers" class="text-accent">CRM</a> solutions, sales data synchronization, and digital tool integration.`,
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Education',
        description:
          `<a href="` +
          u('development/web') +
          `" title="Custom e-learning platform development" class="text-accent">Online training platforms</a> with advanced evaluation systems.`,
        icon: 'tabler:school',
      },
      {
        title: 'Healthcare',
        description:
          `Development of online tools for <a href="` +
          u('development/web') +
          `" title="Custom solutions for medical center management" class="text-accent">medical management</a>, appointments, patient records, and inventory control.`,
        icon: 'tabler:vaccine',
      },
      {
        title: 'Industry',
        description:
          `Solutions for <a href="` +
          u('software/pimcore') +
          `" title="Product Information Management (PIM) solutions with Pimcore" class="text-accent">product management</a>, along with <a href="` +
          u('migration') +
          `" title="Custom software for process automation" class="text-accent">software to automate processes</a> and synchronize data.`,
        icon: 'tabler:building-factory-2',
      },
      {
        title: 'Startups',
        description:
          `<a href="` +
          u('consultory') +
          `" title="Tech consulting for launching innovative projects" class="text-accent">Turning ideas into projects</a>, guiding startups through app and platform development while defining a solid tech roadmap.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Laboratories',
        description:
          `Development of advanced algorithms and tools to process data using <a href="` +
          u('development/ia') +
          `" title="AI integration trained with proprietary data" class="text-accent">artificial intelligence</a>.`,
        icon: 'tabler:flask',
      },
      {
        title: 'Executive',
        description:
          `Software for <a href="` +
          u('software/metabase') +
          `" title="Business Intelligence and analytics with Metabase" class="text-accent">business data analysis</a> to support decision-making.`,
        icon: 'tabler:report-analytics',
      },
      {
        title: 'Corporations',
        description:
          `<a href="` +
          u('software/wp') +
          `" title="Professional WordPress websites" class="text-accent">Professional WordPress websites</a> with custom design and advanced customizations.`,
        icon: 'tabler:building-skyscraper',
      },
      {
        title: 'Public Sector',
        description:
          `Implementation of custom tools to optimize, manage, and <a href="` +
          u('development/automation') +
          `" title="Custom automation for administrative processes" class="text-accent">automate administrative processes</a>.`,
        icon: 'tabler:progress-check',
      },
    ]}
  />
  <BlogLatestPosts title="Latest Blog Posts" linkText="Go to Blog" />

  <CallToAction
    backgroundImage={{
      src: '~/assets/images/neutral/bg-1.jpg',
      alt: 'Abstract background inspired by technology and software',
    }}
    actions={[
      {
        variant: 'primary',
        text: 'Get a Free Quote',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Call Us',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title">Request a <span class="custom-gradient">free preliminary quote</span></Fragment>
    <Fragment slot="subtitle"
      >If you have a project in mind and need guidance, Gilsys is here to help you turn it into reality.</Fragment
    >
  </CallToAction>
</Layout>
