---
import { Icon } from 'astro-icon/components';
---

<div
  class="px-4 wg-announcement dark text-white text-sm xl:text-xs bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden py-2 relative text-ellipsis whitespace-nowrap"
>
  <a
    title="Whatsapp"
    class=" text-xs mr-0.5 inline-block"
    target="_blank"
    rel="nofollow"
    href="https://wa.me/+34665331271"
  >
    <Icon
      title="Whatsapp"
      name="tabler:brand-whatsapp"
      class={'w-5 h-5 xl:h-4 h-4'}
    />
  </a>
  <a href="tel:+34665331271" class="text-white hover:underline dark:text-slate-200 px-2"> 665 33 12 71 </a>
  <a href="mailto:info@gilsys.com" class="text-white hover:underline dark:text-slate-200 ">
    info@gilsys.com</a
  >
  <a class="ml-auto mx-2 inline-block" title="TODO" href="TODO"> ES </a>
  <a class="mx-2 inline-block" title="TODO" href="TODO"> CA </a>
  <a class="mx-2 inline-block" title="TODO" href="TODO"> EN </a>
</div>
