---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: ``,    
  description: "",
};

---
<Layout metadata={metadata}>
  <Hero backgroundImage={{ alt: 'Fons abstracte', src: '~/assets/images/dots/03.jpg' }}>
    <Fragment slot="title">
      <span class="custom-gradient">404</span>
    </Fragment>
  </Hero>
</Layout>