---
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: "Serveis de programació d'aplicacions web a mida i plataformes online per a empreses",
  description:
    'Dissenyem i desenvolupem eines i plataformes a mida per empreses, adaptades a objectius concrets, per optimitzar processos i oferir funcionalitats avançades.',
};
---

<Layout metadata={metadata}>
  <!-- Hero Section -->
  <Hero tagline="Programem aplicacions a mida que s’ajusten al teu negoci."
  
  backgroundImage={{ alt:'Fons abstracte', src: '~/assets/images/dots/02.jpg'}}
  >
    <Fragment slot="title">
      Aplicacions web <span class="text-accent highlight">a mida</span>
    </Fragment>
    <Fragment slot="subtitle">
      Dissenyem i desenvolupem eines i plataformes a mida per empreses, adaptades a objectius concrets, per optimitzar
      processos i oferir funcionalitats avançades.
    </Fragment>
  </Hero>

  <!-- Introducció -->
  <Content
    tagline=""
    title="Què són les aplicacions web a mida?"
    subtitle="Plataformes online per oferir serveis o resoldre processos."
    items={[
      {
        title: 'Eines internes per a empreses',
        description: `Aplicacions centrades en cumplir objectius específics dins d'una empresa, com l’optimització de processos, gestió de projectes, control d'inventaris o el que es necessiti.`,
        icon: 'tabler:settings',
      },
      {
        title: 'Portals interactius i plataformes personalitzades',
        description: `Dissenyem aplicacions amb interfícies intuïtives per a la gestió de serveis públics o privats, incloent portals per a clients, plataformes de gestió documental i eines de col·laboració.`,
        icon: 'tabler:window',
      },
      {
        title: 'Serveis Saas',
        description: `Plataformes orientades al client final que ofereixen serveis en línia amb funcionalitats avançades, que poden requerir pagaments o subscripcions i una estètica professional.`,
        icon: 'tabler:search',
      },
    ]}
    image={{
      src: '~/assets/images/webapp-metronic.jpg',
      alt: 'E-commerce Storefront',
    }}
  >
    <Fragment slot="preContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Programem tot tipus d'eines online</h3>
      <p class="text-muted">
        Quan parlem d'aplicacions web a mida ens referim a tot tipus eines digitals programades específicament per
        oferir funcionalitats a mida, adaptades a les necessitats concretes d’un projecte o empresa.
      </p>
      <p class="text-muted mt-4">
        A diferència de les <a href="#TODO" class="text-accent">pàgines web amb WordPress</a> o de les <a
          href="#TODO"
          class="text-accent">pàgines web d'alt rendiment</a
        >, les aplicacions web van un pas més enllà i abarquen qualsevol tipus d'implementació avançada de serveis de
        programaició d'eines online.
      </p>
    </Fragment>
    <Fragment slot="postContent">
      <h3 class="text-2xl font-bold tracking-tightsm:text-3xl mb-2">Per a qui és útil?</h3>
      <p class="text-muted">
        Les aplicacions web a mida són ideals per a empreses, startups i institucions que necessiten solucions digitals
        personalitzades per automatitzar processos, gestionar dades complexes o oferir serveis en línia. Són
        especialment útils per a aquells projectes amb requisits únics que no es cobreixen amb eines estàndard.
      </p>
    </Fragment>
  </Content>

  <Content
    isReversed
    tagline=""
    title="Un disseny pensat per a cada projecte"
    items={[
      {
        title: 'Interfícies funcionals',
        description: ' Ideals per a aplicacions d’ús intern, on la simplicitat i l’eficiència són prioritàries.',
      },
      {
        title: 'Interfícies atractives',
        description:
          'Necessàries per a projectes SaaS o eines orientades al públic final, on l’aparença visual i l’accessibilitat tenen un paper clau.',
      },
      {
        title: 'Components moderns',
        description:
          `Utilitzem <a target="_blank" class="text-accent" title="Interfícies d'usuari amb metronic" rel="nofollow" href="https://keenthemes.com/metronic">metronic</a> per a la creació d'interfície d'usuari. Metronic és un potent conjunt d'eines amb plantilles i components UI moderns, ideal per crear aplicacions web escalables, atractives i altament personalitzables.`,
      },
    ]}
    image={{
      src: '~/assets/images/metronic-ui-components.jpg',
      alt: 'Interfícies d\'administració backoffice amb Metronic',
    }}
  >
    <Fragment slot="preContent">
      <p class="text-muted">
        A gilsys, entenem que cada aplicació web té uns objectius específics, i el seu disseny ha de reflectir-los. Per
        això, adaptem les interfícies d’usuari (UI) segons el tipus de projecte:
      </p>
    </Fragment>
    <Fragment slot="postContent">
      <p class="text-muted">
        L’objectiu és crear aplicacions que no només funcionin bé, sinó que també siguin fàcils d’utilitzar i agradables
        a nivell visual.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Features2
    id="features"
    title="Avantatges de les Aplicacions Web a Mida i eines Online"
    subtitle="Les aplicacions web a mida i online ofereixen beneficis únics en comparació amb les solucions estàndard, les aplicacions mòbils natives o el software instal·lable."
    items={[
      {
        title: 'Flexibilitat',
        description: `list: [
          'Adaptació completa: Les funcionalitats, el disseny i l’arquitectura es desenvolupen segons els requisits específics del projecte.',
          'Personalització avançada: Possibilitat d’integrar funcionalitats exclusives que no es poden trobar en eines genèriques.',
          'Evolució constant: Els sistemes poden ajustar-se a les noves necessitats o reptes que apareguin amb el temps.',
        ]`,
        icon: 'tabler:arrows-maximize',
      },
      {
        title: 'Facilitat d’accés i ús online',
        description: `list: [
          'Accessibilitat global: Els usuaris poden accedir-hi des de qualsevol lloc i en qualsevol moment.',
          'Multidispositiu: Funcionen en ordinadors, tauletes i smartphones sense necessitat de versions específiques.',
          'Compatibilitat multiplataforma: Funcionen en qualsevol sistema operatiu amb un navegador compatible.',
        ]`,
        icon: 'tabler:device-laptop',
      },
      {
        title: 'Automatització i eficiència',
        description: `list: [
          'Gestió optimitzada: Automatització de tasques repetitives.',
          'Productivitat millorada: Reducció del temps necessari per completar processos clau.',
          'Eliminació d’errors: Automatitzar processos crítics minimitza els riscos associats a errors manuals.',
        ]`,
        icon: 'tabler:settings',
      },
      {
        title: 'Adaptació al creixement',
        description: `list: [
          'Incorporació de noves funcionalitats segons necessitats.',
          'Gestió de grans volums de dades sense comprometre el rendiment.',
          'Preparades pel futur: Integració amb tecnologies emergents.',
        ]`,
        icon: 'tabler:line',
      },
      {
        title: 'Facilitat de manteniment i actualització',
        description: `list: [
          'Actualitzacions instantànies sense necessitat de descàrregues.',
          'Manteniment remot: Ajustos i millores sense interrupcions significatives.',
          'Costos reduïts gràcies a la gestió centralitzada.',
        ]`,
        icon: 'tabler:cloud',
      },
      {
        title: 'Disseny orientat a l’usuari',
        description: `list: [
          'Facilitat d’ús: Dissenys intuïtius per a una millor experiència d’usuari.',
          'Adaptabilitat visual a les necessitats del públic objectiu.',
          'Responsive design: Experiència coherent en qualsevol dispositiu.',
        ]`,
        icon: 'tabler:palette',
      },
      {
        title: 'Control i propietat total',
        description: `list: [
          'Propietat del codi: Autonomia en modificacions o transferències.',
          'Independència de proveïdors.',
          'Seguretat personalitzada adaptada a normatives específiques.',
        ]`,
        icon: 'tabler:key',
      },
      {
        title: 'Millor rendiment respecte a altres solucions',
        description: `list: [
          'Sense instal·lació local: No ocupa espai ni requereix actualitzacions manuals.',
          'Flexibilitat d’ús: Compatible amb múltiples sistemes operatius.',
          'Menors requisits de hardware gràcies a la gestió des del servidor.',
        ]`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Optimització per a projectes col·laboratius i SaaS',
        description: `list: [
          'Treball en equip en temps real.',
          'Subscripcions i serveis en línia: Gestiona usuaris i serveis.',
        ]`,
        icon: 'tabler:users',
      },
    ]
    }
  />

  <Features
    tagline=""
    title="Exemples d’ús d’Aplicacions web a mida"
    subtitle="Les aplicacions web a mida s’adapten a una àmplia varietat de necessitats i sectors, convertint-se en solucions versàtils per optimitzar processos, oferir serveis innovadors o centralitzar operacions."
    items={[
      {
        title: 'Plataformes SaaS i serveis en línia',
        description: `list: [
          'Plataformes de subscripció amb continguts exclusius, com formació en línia, serveis professionals o accés a eines especialitzades.',
          'Sistemes de gestió per a membres, clubs esportius o comunitats digitals, amb funcionalitats com planificació d’activitats, seguiment de resultats o comunicació interna.',
        ]`,
        icon: 'tabler:server',
      },
      {
        title: 'Generació i automatització de documents',
        description: `list: [
          'Generació dinàmica de contractes, factures o certificats, adaptats a les dades específiques de cada usuari o client.',
          'Creació d’informes tècnics detallats a partir de dades analítiques per a sectors com educació, industrial o la logística.',
        ]`,
        icon: 'tabler:file-text',
      },
      {
        title: 'Plataformes per gestionar serveis especialitzats',
        description: `list: [
          'Sistemes per gestionar reserves en línia, com cites, serveis professionals o esdeveniments.',
          'Eines per configurar productes personalitzats, com configuradors de maquinària, equipaments industrials o productes personalitzats per a e-commerce.',
          'Gestió de projectes i contractacions amb seguiment d’etapes, assignació de tasques i generació d’informes de progrés.',
        ]`,
        icon: 'tabler:calendar-event',
      },
      {
        title: 'Sistemes de gestió i anàlisi de dades',
        description: `list: [
          'Panells de control per monitoritzar mètriques de rendiment, com vendes, ús d’eines o estadístiques de trànsit en temps real.',
          'Sistemes de visualització d’informació amb gràfics, mapes i taules interactives per a la presa de decisions estratègiques.',
        ]`,
        icon: 'tabler:chart-pie',
      },
      {
        title: 'Eines de formació i desenvolupament',
        description: `list: [
          'Plataformes per administrar cursos, avaluacions i programes de certificació en sectors com l’automoció, la sanitat o la tecnologia.',
          'Eines de gamificació i seguiment per a formacions internes, amb indicadors de progrés i informes personalitzats.',
        ]`,
        icon: 'tabler:school',
      },
      {
        title: 'Eines de suport a operacions empresarials',
        description: `list: [
          'Sistemes per gestionar inventaris, comandes i distribució en temps real.',
          'Plataformes per a la gestió de clients completament a mida per adaptar-se a les necessitats específiques de l’empresa.',
          'Eines per automatitzar processos administratius, com avaluació del rendiment del personal.',
        ]`,
        icon: 'tabler:settings',
      },
    ]
    }
  />

  <Content
    isReversed
    tagline=""
    title="Per què escollir gilsys per al desenvolupament d’aplicacions web a mida?"
    items={[
      {
        title: 'Experiència tècnica i creativitat',
        description:
          'A gilsys, combinem coneixements avançats en programació amb un enfocament creatiu per dissenyar aplicacions úniques.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Adaptació a diferents sectors',
        description:
          'Hem treballat en projectes per a àmbits tan diversos com la sanitat, l’educació, la indústria, retail i els serveis empresarials.',
        icon: 'tabler:building',
      },
      {
        title: 'Desenvolupament responsable',
        description:
          'Programem amb bones pràctiques que garanteixen la sostenibilitat del codi i la compatibilitat amb actualitzacions futures.',
        icon: 'tabler:recycle',
      },
      {
        title: 'Enfocament en el client',
        description:
          'Treballem estretament amb el client per entendre les seves necessitats i transformar-les en solucions reals.',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Suport tècnic continu',
        description:
          'Oferim manteniment i ampliacions per garantir que les aplicacions segueixin responent a les necessitats canviants.',
        icon: 'tabler:headset',
      },
    ]}
  >
    <Fragment slot="postContent">
      <p>
        Amb gilsys, les aplicacions web a mida són més que eines digitals; són solucions estratègiques que combinen
        funcionalitat i disseny per maximitzar l’impacte i l’eficiència del projecte.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>









</Layout>
