---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';
import { Icon } from 'astro-icon/components';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: "Empresa de programació d'aplicacions web a mida | +20 anys",
  description:
    'Dissenyem i desenvolupem aplicacions web a mida, per empreses, adaptades i personalitzades per optimitzar processos i oferir funcionalitats complexes.',
};
---

<Layout metadata={metadata}>
  <!-- Hero Section -->
  <Hero
    tagline="Programem aplicacions a mida que s’ajusten al teu negoci."
    actions={[{ variant: 'primary', text: 'Pressupost gratuït', href: u('contact') }]}
    backgroundImage={{ alt: 'Fons abstracte', src: '~/assets/images/dots/02.jpg' }}
  >
    <Fragment slot="title">
      Aplicacions web <span class="text-accent highlight">a mida</span>
    </Fragment>
    <Fragment slot="subtitle">
      Dissenyem i desenvolupem eines i plataformes a mida per empreses, adaptades a objectius concrets, per optimitzar
      processos i oferir funcionalitats avançades.
    </Fragment>
  </Hero>

  <Note linkText="Contacta'ns" linkTitle="Contactar amb gilsys" linkHref={u('contact')}>
    <Fragment slot="h2">
      <div>
        <span>Subvencionable amb </span><span class="text-4xl inline-block md:inline">KIT Digital</span>

      </div>
    </Fragment>
    <Fragment slot="links">
       <a
        href={u('kit-digital')}
        title="Subvencions KIT Digital"
        class="btn px-2 py-1 my-1"><Icon name="tabler:link" class="w-5 h-5 mr-1" /> KIT Digital</a
      >
      <a
        href={u('kit-digital/process-management')}
        title="Gestió de processos subvencionada amb KIT Digital"
        class="btn px-2 py-1 my-1"><Icon name="tabler:link" class="w-5 h-5 mr-1" />  Gestió de processos</a
      >
      <a
        href={u('kit-digital/ai-process-management')}
        title="Gestió de processos amb Intel·ligència artificial subvencionable amb KIT Digital"
        class="btn px-2 py-1 my-1"><Icon name="tabler:link" class="w-5 h-5 mr-1" />  Gestió de processos amb IA</a
      >
    </Fragment>
    <Fragment slot="p">
      <span class="block mt-3 mb-3">Subvencions de 3.000€ a 29.000€ per empreses i autònoms.</span>
    </Fragment>
  </Note>

 

  <!-- Introducció -->
  <Content
    tagline=""
    title="Què són les aplicacions web a mida?"
    subtitle="Plataformes cloud per oferir serveis o resoldre processos."
    items={[
      {
        title: 'Eines internes per a empreses',
        description: `Aplicacions centrades en cumplir objectius específics dins d'una empresa, com l’optimització de processos, gestió de projectes, control d'inventaris o el que es necessiti.`,
        icon: 'tabler:settings',
      },
      {
        title: 'Portals interactius i plataformes personalitzades',
        description: `Dissenyem aplicacions amb interfícies intuïtives per a la gestió de serveis públics o privats, incloent portals per a clients, plataformes de gestió documental i eines de col·laboració.`,
        icon: 'tabler:window',
      },
      {
        title: 'Serveis SaaS',
        description: `Plataformes orientades al client final que ofereixen serveis en línia amb funcionalitats avançades, que poden requerir pagaments o subscripcions i una estètica professional.`,
        icon: 'tabler:search',
      },
    ]}
    image={{
      src: '~/assets/images/webapps-mosaic.png',
      alt: "Mosaic d'interfícies d'usuari",
    }}
  >
    <Fragment slot="preContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Programem tot tipus d'eines al núvol</h3>
      <p class="text-muted">
        Quan parlem d'aplicacions web a mida ens referim a tot tipus eines digitals programades específicament per
        oferir funcionalitats a mida, adaptades a les necessitats concretes d’un projecte o empresa.
      </p>
      <p class="text-muted mt-4">
        A diferència de les <a href={u('software/wp')} title="Disseny web amb WordPress" class="text-accent"
          >pàgines web amb WordPress</a
        > o de les <a
          href={u('development/astro')}
          title="Webs optimitzades per alt rendiment i SEO"
          class="text-accent">pàgines web d'alt rendiment</a
        >, les aplicacions web van un pas més enllà i abarquen qualsevol tipus d'implementació avançada de serveis de
        programació d'eines cloud.
      </p>
    </Fragment>
    <Fragment slot="postContent">
      <h3 class="text-2xl font-bold tracking-tightsm:text-3xl mb-2">Qui necessita aplicacions web?</h3>
      <p class="text-muted">
        Les aplicacions web a mida són ideals per a empreses, startups i institucions que necessiten solucions digitals
        personalitzades per automatitzar processos, gestionar dades complexes o oferir serveis al núvol. Són
        especialment útils per a aquells projectes, interns o públics, amb requisits únics que no es cobreixen amb eines
        estàndard.
      </p>
    </Fragment>
  </Content>

  <Features
    tagline=""
    title="Exemples d’ús d’Aplicacions web a mida"
    subtitle="Les aplicacions web a mida s’adapten a una àmplia varietat de necessitats i sectors, convertint-se en solucions versàtils per optimitzar processos, oferir serveis innovadors o centralitzar operacions."
    items={[
      {
        title: 'Plataformes SaaS i serveis en línia',
        list: [
          '<strong>Plataformes de subscripció</strong> amb continguts exclusius, com formació en línia, serveis professionals o accés a eines especialitzades.',
          '<strong>Sistemes de gestió per a membres</strong>, clubs esportius o comunitats digitals, amb funcionalitats com planificació d’activitats, seguiment de resultats o comunicació interna.',
        ],
        icon: 'tabler:server',
      },
      {
        title: 'Generació i automatització de documents',
        list: [
          '<strong>Generació dinàmica de contractes, factures o certificats</strong>, adaptats a les dades específiques de cada usuari o client.',
          '<strong>Creació d’informes tècnics</strong> detallats a partir de dades analítiques per a sectors com educació, industrial o la logística.',
        ],
        icon: 'tabler:file-text',
      },
      {
        title: 'Plataformes per gestionar serveis especialitzats',
        list: [
          '<strong>Sistemes per gestionar reserves online</strong>, com cites, serveis professionals o esdeveniments.',
          '<strong>Eines per configurar productes personalitzats</strong>, com configuradors de maquinària, equipaments industrials o productes personalitzats per a e-commerce.',
          '<strong>Gestió de projectes</strong> i contractacions amb seguiment d’etapes, assignació de tasques i generació d’informes de progrés.',
        ],
        icon: 'tabler:calendar-event',
      },
      {
        title: 'Sistemes de gestió i anàlisi de dades',
        list: [
          '<strong>Panells de control</strong> per monitoritzar mètriques de rendiment, com vendes, ús d’eines o estadístiques de trànsit en temps real.',
          '<strong>Sistemes de visualització d’informació</strong> amb gràfics, mapes i taules interactives per a la presa de decisions estratègiques.',
        ],
        icon: 'tabler:chart-pie',
      },
      {
        title: 'Eines de formació i desenvolupament',
        list: [
          '</strong>Plataformes per administrar cursos</strong>, avaluacions i programes de certificació en sectors com l’automoció, la sanitat o la tecnologia.',
          '<strong>Eines de gamificació</strong> i seguiment per a formacions internes, amb indicadors de progrés i informes personalitzats.',
        ],
        icon: 'tabler:school',
      },
      {
        title: 'Eines de suport a operacions empresarials',
        list: [
          '<strong>Sistemes per gestionar inventaris</strong>, comandes i distribució en temps real.',
          '<strong>Plataformes per a la gestió de clients</strong> completament a mida per adaptar-se a les necessitats específiques de l’empresa.',
          '<strong>Eines per automatitzar processos administratius</strong>, com avaluació del rendiment del personal.',
        ],
        icon: 'tabler:settings',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Features>

  <Content
    isReversed
    tagline=""
    title="Un disseny pensat per a cada projecte"
    items={[
      {
        title: 'Interfícies funcionals',
        description: 'Ideals per a aplicacions d’ús intern, on la simplicitat i l’eficiència són prioritàries.',
      },
      {
        title: 'Interfícies atractives',
        description:
          'Necessàries per a projectes SaaS o eines orientades al públic final, on l’aparença visual i l’accessibilitat tenen un paper clau.',
      },
      {
        title: 'Components moderns',
        description: `Utilitzem Metronic per a la creació d'interfície d'usuari. Metronic és un potent conjunt d'eines amb plantilles i components UI moderns, ideal per crear aplicacions web escalables, atractives i altament personalitzables. Coneix <a class="text-accent" title="Interfícies d'usuari amb Metronic" href="` + u('technology/metronic') + `">més detalls de la plantilla Metronic</a>.`,
      },
    ]}
    image={{
      src: '~/assets/images/metronic-ui-components.jpg',
      alt: "Interfícies d'administració backoffice amb Metronic",
    }}
  >
    <Fragment slot="preContent">
      <p class="text-muted">
        A Gilsys, entenem que cada aplicació web té uns objectius específics, i el seu disseny ha de reflectir-los. Per
        això, el nostre equip de programadors adapta les interfícies d’usuari (UI) segons el tipus de projecte:
      </p>
    </Fragment>
    <Fragment slot="postContent">
      <p class="text-muted">
        L’objectiu és crear aplicacions que no només funcionin bé, sinó que també siguin fàcils d’utilitzar i agradables
        a nivell visual.
      </p>
    </Fragment>
  </Content>

  <Features2
    id="features"
    title="Avantatges de les <span class='custom-gradient'>aplicacions web</span> a mida i <span class='custom-gradient'>eines cloud</span>"
    subtitle="Afegeixen beneficis únics en comparació amb les solucions estàndard."
    items={[
      {
        title: 'Flexibilitat',
        list: [
          '<strong>Adaptació completa:</strong> Les funcionalitats, el disseny i l’arquitectura es desenvolupen segons els requisits específics del projecte.',
          '<strong>Personalització avançada:</strong> Possibilitat d’integrar funcionalitats exclusives que no es poden trobar en eines genèriques.',
          '<strong>Evolució constant:</strong> Els sistemes poden ajustar-se a les noves necessitats o reptes que apareguin amb el temps.',
        ],
        icon: 'tabler:arrows-maximize',
      },
      {
        title: 'Facilitat d’accés i ús online',
        list: [
          '<strong>Accessibilitat global:</strong> Els usuaris poden accedir-hi des de qualsevol lloc i en qualsevol moment.',
          '<strong>Multidispositiu:</strong> Funcionen en ordinadors, tauletes i smartphones sense necessitat de versions específiques.',
          '<strong>Compatibilitat multiplataforma:</strong> Funcionen en qualsevol sistema operatiu amb un navegador compatible.',
        ],
        icon: 'tabler:device-laptop',
      },
      {
        title: 'Automatització i eficiència',
        list: [
          '<strong>Gestió optimitzada:</strong> Automatització de tasques repetitives.',
          '<strong>Productivitat millorada:</strong> Reducció del temps necessari per completar processos clau.',
          '<strong>Eliminació d’errors:</strong> Automatitzar processos crítics minimitza els riscos associats a errors manuals.',
        ],
        icon: 'tabler:settings',
      },
      {
        title: 'Adaptació al creixement',
        list: [
          '<strong>Noves funcionalitats</strong> sota demanda.',
          '<strong>Gestió de grans volums de dades</strong> sense comprometre el rendiment.',
          '<strong>Preparades pel futur:</strong> Integració amb tecnologies emergents.',
        ],
        icon: 'tabler:line',
      },
      {
        title: 'Facilitat de manteniment i actualització',
        list: [
          '<strong>Actualitzacions instantànies</strong> sense necessitat de descàrregues.',
          '<strong>Manteniment remot:</strong> Ajustos i millores sense interrupcions significatives.',
          '<strong>Costos reduïts</strong> gràcies a la gestió centralitzada.',
        ],
        icon: 'tabler:cloud',
      },
      {
        title: 'Disseny orientat a l’usuari',
        list: [
          '<strong>Facilitat d’ús:</strong> Dissenys intuïtius per a una millor experiència d’usuari.',
          '<strong>Adaptabilitat</strong> visual a les necessitats del públic objectiu.',
          '<strong>Responsive design:</strong> Experiència coherent en qualsevol dispositiu.',
        ],
        icon: 'tabler:palette',
      },
      {
        title: 'Control i propietat total',
        list: [
          '<strong>Propietat del codi:</strong> Autonomia en modificacions o transferències.',
          '<strong>Independència</strong> de proveïdors.',
          '<strong>Seguretat</strong> personalitzada adaptada a normatives específiques.',
        ],
        icon: 'tabler:key',
      },
      {
        title: 'Millor rendiment respecte a altres solucions',
        list: [
          '<strong>Sense instal·lació local:</strong> No ocupa espai ni requereix actualitzacions manuals.',
          '<strong>Flexibilitat d’ús:</strong> Compatible amb múltiples sistemes operatius.',
          '<strong>Menors requisits de hardware</strong> gràcies a la gestió des del servidor.',
        ],
        icon: 'tabler:rocket',
      },
      {
        title: 'Optimització per a projectes col·laboratius i SaaS',
        list: [
          '<strong>Treball en equip</strong> en temps real.',
          '<strong>Subscripcions i serveis en línia:</strong> Gestiona usuaris i serveis.',
        ],
        icon: 'tabler:users',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Features2>

  <Content
    isReversed
    tagline=""
    image={{
      src: '~/assets/images/aplicaciones-web-cloud.jpg',
      alt: 'Aplicacions web cloud',
    }}
    title="Per què escollir Gilsys per al desenvolupament d’aplicacions web a mida?"
    items={[
      {
        title: 'Experiència tècnica i creativitat',
        description:
          'A Gilsys, combinem coneixements avançats en programació amb un enfocament creatiu per dissenyar aplicacions úniques.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Adaptació a diferents sectors',
        description:
          'Hem treballat en projectes per a àmbits tan diversos com la sanitat, l’educació, la indústria, retail i els serveis empresarials.',
        icon: 'tabler:building',
      },
      {
        title: 'Desenvolupament responsable',
        description:
          'Programem amb bones pràctiques que garanteixen la sostenibilitat del codi i la compatibilitat amb actualitzacions futures.',
        icon: 'tabler:recycle',
      },
      {
        title: 'Enfocament en el client',
        description:
          'Treballem estretament amb el client per entendre les seves necessitats i transformar-les en solucions reals.',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Suport tècnic continu',
        description:
          'Oferim manteniment i ampliacions per garantir que les aplicacions segueixin responent a les necessitats canviants.',
        icon: 'tabler:headset',
      },
    ]}
  />

  <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/02.jpg', alt: 'Fons abstracte' }}
    actions={[
      {
        variant: 'primary',
        text: 'Pressupost gratuït',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Trucar',
        href: 'tel:+34711239085',
      },
    ]}
  >
    <Fragment slot="title"
      >La teva <span class="custom-gradient">aplicació web a mida</span>,<br /> només a un click</Fragment
    >
    <Fragment slot="subtitle"
      >Explica'ns les necessitats del teu projecte i prepararem un pressupost personalitzat.</Fragment
    >
  </CallToAction>
</Layout>
