---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import ContactForm from '~/components/widgets/ContactForm.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: `Contactar`,
  description: 'Sol·licita pressupost gratuït, una demostració o més informació dels nostres serveis.',
};
---

<Layout metadata={metadata}>
  <Hero backgroundImage={{ alt: 'Fons abstracte', src: '~/assets/images/dots/03.jpg' }}>
    <Fragment slot="title">
      <span class="custom-gradient">Contactar</span>
    </Fragment>

    <Fragment slot="subtitle"
      >Sol·licita <span class="custom-gradient">pressupost gratuït</span>, una demostració o més informació dels nostres serveis.</Fragment
    >
  </Hero>
  <WidgetWrapper>
    <div class="grid lg:grid-cols-2 gap-4">
      <div class="order-2 lg:order-1 mt-10 lg:mt-0">
        <iframe
          title="Mapa de Catalunya, mostrant la provincia de Barcelona i Girona, centrat en la comarca d'Osona"
        class="w-full h-full min-h-[300px]"
        src="https://www.openstreetmap.org/export/embed.html?bbox=1.5,41.2,2.8,42.3&marker=42.09966277996858,2.220763401847851"
        allowfullscreen
        loading="lazy"
      ></iframe>
      
        <p>
          <a href="https://maps.app.goo.gl/V5T7Ksystbsv68eD7" target="_blank" rel="noopener noreferrer" class="text-sm">
            Veure en Google Maps
          </a>
        </p>
      </div>
      <div class="order-1 lg:order-2">
        <ContactForm pageTitle={metadata.title} />
      </div>
    </div>
  </WidgetWrapper>
  <Features3
    columns={4}
    items={[
      {
        title: `Horari`,
        description: `De dilluns a divendres<br/>
        De 09:00 a 18:00`,
        icon: 'tabler:clock',
      },
      {
        title: `Adreça`,
        description: `Passeig del Ter 48<br/>
        08580 Sant Quirze de Besora<br/>
        Barcelona<br/><br/>

        <a class="btn btn-secondary"  href="https://maps.app.goo.gl/wXZ9DTzQsuFjiNpV7" target="_blank" rel="noopener noreferrer" class="text-sm">
            Navegar
        </a>

        `,
        icon: 'tabler:navigation',
      },
      {
        title: `Telèfon`,
        description: `        
        665 33 12 71<br/><br/>
        <a class="btn" href='tel:+34665331271'>Trucar</a>
        <a class="btn btn-secondary" href="https://wa.me/+34665331271">Whatsapp</a>
        `,
        icon: 'tabler:phone-call',
      },
      {
        title: `E-mail`,
        description: `info@gilsys.com<br/><br/>
        <a class="btn btn-secondary" href="mailto:info@gilsys.com">Enviar e-mail</a>
        `,
        icon: 'tabler:mail',
      },
    ]}
  />
</Layout>
