---
import CallToAction from '~/components/widgets/CallToAction.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';
const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: `Qui som | Gilsys, experts en programació i IA`,
  description: `Descobreix Gilsys, una empresa TIC amb més de 20 anys d'experiència en desenvolupament de software, apps, web i intel·ligència artificial a Osona (Barcelona).`,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero backgroundImage={{ alt: 'Fons abstracte', src: '~/assets/images/neutral/bg-4.jpg' }}>
    <Fragment slot="title">
      <span class="custom-gradient">Gilsys</span> = Experiència + qualitat.
    </Fragment>

    <Fragment slot="subtitle">
      Som una empresa TIC d'Osona amb més de 20 anys d'experiència en programació de software, web i aplicacions per
      mòbils. Ara també <span class="custom-gradient">intel·ligència artificial</span>.
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    isReversed={true}
    title="Qui som?"
    subtitle=`Som un equip d'especialistes <strong>apassionats</strong> per la programació de software a mida, apps, desenvolupament d'aplicacions web i intel·ligència artificial.
    <div class="mx-auto px-4 max-w-6xl font-medium py-4 sm:px-6 text-md bg-lightgray">
    
    Si vols contactar directament amb Jordi Gil Martí, fundador de Gilsys, pots fer-ho a través de <a href="https://www.linkedin.com/in/jordigilmarti/" title="Perfil de Jordi Gil Martí a Linked-in" class="text-accent">LinkedIn</a>.
    </div>
    `
    items={[
      {
        title: 'Història',
        description:
          'Gilsys va ser creat l’any 2004 amb l’idea d’aportar solucions de programació de software, innovadores i personalitzades, basades en <a title="Software lliure" href="https://es.wikipedia.org/wiki/Software_libre">software lliure</a>.',
      },
      {
        title: 'Equip actual',
        description:
          'Actualment, comptem amb un equip format per professionals amb perfils tècnics especialitzats. Mantenim una estructura reduïda per garantir la màxima qualitat en els nostres serveis, assegurar un control rigorós en cada projecte i oferir un tracte proper als nostres clients.',
      },
      {
        title: 'Compromís de futur',
        description:
          "A Gilsys, <strong>invertim setmanalment</strong> en aprendre noves tecnologies i aportem el valor afegit de més 20 anys d'experiència desenvolupant projectes a mida, aportant rigor i fiabilitat en cada implementació.",
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Els nostres valors"
    subtitle=""
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Qualitat',
        description:
          'Entreguem productes sòlids i estables que permeten treballar amb tranquil·litat i compleixen amb els requisits establerts.',
        icon: 'tabler:check',
      },
      {
        title: 'Experiència',
        description:
          'Sabem el què fem. Més de 20 anys en el sector ens han permès treballar en projectes d’àmbits molt diversos, amb clients a nivell nacional i internacional.',
        icon: 'tabler:briefcase',
      },
      {
        title: 'Innovació',
        description:
          'Investiguem de forma constant per oferir resultats innovadors que aportin el valor afegit requerit en cada desenvolupament.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Comunicació',
        description:
          "Creiem fonamental transmetre periòdicament l'estat del projecte per poder prendre les decisions necessàries i obtenir el resultat final previst.",
        icon: 'tabler:message-circle',
      },
      {
        title: 'Honestedat',
        description: 'Aportem les solucions pensant amb el que li convé al client, a nivell tècnic i econòmic.',
        icon: 'tabler:heart',
      },
      {
        title: 'Rendiment',
        description: 'Desenvolupem pensant sempre en el rendiment del projecte, i en la seva futura escalabilitat.',
        icon: 'tabler:chart-line',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Features3>

  <Features3
    columns={3}
    tagline="Diga'm quina web tens i et diré quina empresa ets"
    title="Una web que <span class='custom-gradient'>diu molt de Gilsys</span>"
    subtitle={`A finals de 2024 vam llançar una nova web per celebrar que Gilsys cumplia 20 anys.<br/><br/>
  Ens han preguntat: <strong><em>Per què, si l'anterior no estava gens malament?</em></strong>`}
    items={[
      {
        icon: 'tabler:old',
        title: "Perquè l'antiga tenia 5 anys",
        description:
          "No hauria de ser un problema per a moltes empreses, però nosaltres volem estar a l'avantguarda, aplicant les darreres tecnologies a casa nostra.",
      },
      {
        icon: 'tabler:device-mobile-star',
        title: 'Perquè som una empresa exigent',
        description:
          "Necessitàvem una web que reflectís el nostre nivell d'exigència i de la qual ens sentíssim orgullosos.",
      },
      {
        icon: 'tabler:rocket',
        title: 'Perquè volíem provar Astro',
        description:
          "Estem permanentment innovant i provant noves tecnologies. Volíem provar <a title='Programció de webs d'alt rendiment a mida' class='text-accent' href='" +
          u('development/astro') +
          "'>Astro</a> i portar la nostra web al següent nivell",
      },
      {
        icon: 'tabler:number-100-small',
        title: 'Perquè volíem la màxima puntuació a Google PageSpeed Insights',
        description:
          "Hem aconseguit una puntuació de <strong>100 en rendiment, 100 en bones pràctiques, 100 en accessibilitat i 100 en SEO</strong> en <a title='Google PageSpeed Insights' class='text-accent' href='https://pagespeed.web.dev/analysis?url=https%3A%2F%2Fwww.gilsys.com%2F'>Google PageSpeed Insights</a>.",
      },
      {
        icon: 'tabler:ai',
        title: 'Perquè ha arribat la era de la intel·ligència artificial',
        description:
          "L'explosió de la <a title='Programció amb intel·ligència artificial' class='text-accent' href='" +
          u('development/ia') +
          "'>intel·ligència artificial</a> està canviant el panorama digital, i volem mostrar com podem aportar valor a les empreses que volen adoptar-la.",
      },
      {
        icon: 'tabler:artboard',
        title: "Perquè volíem canviar d'imatge",
        description: 'Amb la nova web, transmetem una identitat més moderna i fresca.',
      },
      {
        icon: 'tabler:seo',
        title: 'Perquè volíem millorar el SEO',
        description: "Potenciant la marca de l'empresa en els motors de cerca i arribar així a més clients.",
      },
      {
        icon: 'tabler:bubble-text',
        title: 'Perquè volíem actualitzar contingut',
        description:
          'Una web que expliqui clarament què fem, qui som i com podem ajudar-te, de manera actualitzada i rellevant.',
      },
      {
        icon: 'tabler:chart-line',
        title: 'Perquè volíem anar més enllà de WordPress',
        description: 'Tenim capacitats tècniques i les volíem demostrar amb un web ràpid, segur i optimitzat per SEO.',
      },
    ]}
  />

  <!--{
    description:
      'Et proposem un repte, si dubtes entre nosaltres i una altra empresa, estudia com fa les coses cada empresa.?',
  },-->

  <Steps
    id="resume"
    title="Metodologia de treball"
    subtitle="Encara que Gilsys tracta cada projecte de forma individual i personalitzada, a nivell genèric, la nostra metodologia de treball defineix les següents fases:"
    items={[
      {
        title: 'Recollida de requisits,',
        description: `on escoltem les teves necessitats i les expectatives del projecte que es vol implementar.`,
        icon: 'tabler:clipboard-list',
      },
      {
        title: 'Consultoria tecnològica,',
        description:
          `depenent del projecte, serà necessari una <a href="` +
          u('consultory') +
          `" title="Assessorament inicial i estudi de situació tecnològica de l'empresa" class="text-accent">consultoria tecnològica</a> que permeti analitzar a fons la situació actual, conceptualitzar idees i planificar adequadament el projecte.`,
        icon: 'tabler:settings',
      },
      {
        title: 'Presentació de proposta i planificació de fases,',
        description: `de forma consensuada amb el client segons prioritat i pressupost.`,
        icon: 'tabler:calendar-check',
      },
      {
        title: 'Disseny,',
        description: `d'interfície d'usuari en cas de que el projecte ho requereixi.`,
        icon: 'tabler:palette',
      },
      {
        title: 'Programació del sistema,',
        description: `per a que realitzi les funcionalitats definides.`,
        icon: 'tabler:code',
      },
      {
        title: 'Demostració,',
        description: `on s'exposa la solució obtinguda per a que sigui validada.`,
        icon: 'tabler:eye-check',
      },
      {
        title: 'Formació,',
        description: `al client sobre les l'ús de l'eina creada.`,
        icon: 'tabler:school',
      },
      {
        title: 'Entrega,',
        description: `i posta en marxa del projecte en entorn de producció.`,
        icon: 'tabler:rocket',
      },      
      {
        title: 'Manteniment,',
        description: `on es donarà suport i es realitzaran els ajustos i correccions en cas necessari.`,
        icon: 'tabler:tools',
      },
      {
        title: 'Ampliacions i noves fases,',
        description: `on s'implementaran noves necessitats acordades amb el client.`,
        icon: 'tabler:replace',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-lightgray"></div>
  </Fragment>
  </Steps>

  <FAQs
    title="Preguntes freqüents"
    subtitle="Respostes a les preguntes més habituals."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'És gratuït demanar pressupost?',
        description: 'Sí, depenent del projecte podrem donar un preu final o un rang de cost orientatiu.',
      },
      {
        title: 'Hi ha compromís de compra després de rebre un pressupost?',
        description: 'No, el pressupost orientatiu és sempre gratuït.',
      },
      {
        title: 'Quins tipus de projectes desenvolupa Gilsys?',
        description:
          `
      Desenvolupem <a href="` +
          u('development') +
          `" title="Programació a mida per empreses" class="text-accent">software a mida</a>, creant eines innovadores des de zero. També treballem amb 
<a href="` +
          u('software') +
          `" title="Software personalitzable com CRM, WordPress, Pimcore o Metabase" class="text-accent">software personalitzable</a> per adaptar-lo a les necessitats concretes dels nostres clients, incloent-hi opcions com CRM, WordPress, Pimcore o Metabase. A més, som experts en 
<a href="` +
          u('migration') +
          `" title="Migració de dades i comunicació de programes" class="text-accent">migració de dades i integració de sistemes</a>.<br /><br />

De forma transversal, en totes les nostres solucions podem implementar 
<a href="` +
          u('development/ia') +
          `" title="Programació intel·ligència artificial" class="text-accent">intel·ligència artificial</a> per automatitzar processos i augmentar l'eficiència.
<br /><br />
Finalment, a banda dels serveis de desenvolupament, també oferim 
<a href="` +
          u('consultory') +
          `" title="Assessorament tecnològic" class="text-accent">consultoria tecnològica</a> per convertir idees en projectes tangibles i d’èxit.

      `,
      },
      {
        title: 'No tenim molt clar si la idea que tenim és viable o no, i si seria molt car el seu desenvolupament',
        description:
          `En aquests casos, analitzem la proposta i n'estudiem la viabilitat. Podem proporcionar un rang de preus orientatiu basat en una previsió del projecte. Si aquest és adequat, podem dur a terme una <a href="` +
          u('consultory') +
          `" title="Creació de pressupostos de projectes per fases" class="text-accent">consultoria tecnològica</a> conjunta per conceptualitzar les idees, dividir-les en fases i establir un calendari de treball detallat, amb els costos corresponents a cada fase.  Un cop finalitzada cada fase, es pot revisar l'estat del projecte i replantejar punts si cal, per tal d'adaptar-lo a les necessitats reals.`,
      },

      {
        title: 'Quin és el termini mitjà de desenvolupament d’un projecte?',
        description:
          'Depèn de la complexitat del projecte. Generalment, projectes petits poden durar unes setmanes, mentre que projectes més grans poden necessitar mesos.',
      },

      {
        title: 'Oferiu suport tècnic després de la finalització d’un projecte?',
        description:
          'Sí, oferim serveis de manteniment i suport per assegurar que el sistema funcioni correctament i pugui evolucionar segons les necessitats.',
      },
      {
        title: 'Amb quins sectors treballeu?',
        description: `Els serveis que oferim no estan lligats a un sector concret, pel que treballem per sectors molt diversos com el logístic, industrial, retail, educació, sanitat, e-commerce, entre d'altres.`,
      },
      {
        title: 'Podeu ajudar amb la migració de sistemes antics a noves plataformes, sense perdre dades?',
        description:
          `Sí, tenim experiència en la <a href="` +
          u('migration') +
          `" title="Migracions sense perdre dades" class="text-accent">migració de bases de dades</a>
          de sistemes antics, transformant-les i adaptant-les a la nova estructura sense perdre informació.`,
      },
      {
        title: 'Quines són les vostres eines principals de desenvolupament?',
        description: `Hem treballat amb molts llenguatges de programació, bases de dades i eines diverses durant els més de 20 anys que portem en el sector. Pots consultar les tecnologies que més utilitzem actualment a aquest apartat #LINK .`,
      },
      {
        title: 'Què passa si es necessiten canvis enmig del projecte?',
        description:
          'Treballem de manera flexible i, si es requereixen ajustos, revisem el pressupost i el cronograma per adaptar-nos a les noves necessitats.',
      },
      {
        title: 'Quines són les condicions de pagament per a un projecte?',
        description:
          'Normalment, treballem amb un pagament inicial i pagaments parcials basats en les fites acordades amb el client.',
      },
      {
        title: 'És possible començar un projecte amb un pressupost reduït?',
        description:
          'Sí, oferim solucions escalables que permeten començar amb un MVP (Minimum Viable Product) i ampliar-lo posteriorment.',
      },
      {
        title: 'Treballeu amb projectes internacionals?',
        description:
          'Sí, hem col·laborat amb empreses a nivell nacional i internacional, oferint solucions adaptades a les seves necessitats.',
      },
      {
        title: 'Treballeu amb metodologies àgils?',
        description:
          'Sí, utilitzem metodologies com Scrum o Kanban per garantir flexibilitat i una comunicació constant amb el client.',
      },
      {
        title: 'Podeu integrar automatitzacions amb intel·ligència artificial en projectes existents?',
        description:
          `No sempre podem modificar software existent o integrar-hi noves funcionalitats que utilitzin 
        <a href="` +
          u('migration') +
          `" title="Integració d'intel·ligència artificial" class="text-accent">IA</a>, dependrà de cada sistema i de quines funcionalitats es necessitin integrar.`,
      },
      {
        title: 'Com gestioneu la confidencialitat de les dades del projecte?',
        description:
          'Signem acords de confidencialitat (NDA) i implementem mesures per protegir les dades dels nostres clients.',
      },
      {
        title: 'Oferiu formació per als usuaris finals després de la implementació del projecte?',
        description:
          'Sí, podem proporcionar formació i documentació per ajudar els usuaris a utilitzar les noves eines o sistemes.',
      },
      {
        title: 'Oferiu integracions amb eines de tercers?',
        description:
          'Sí, podem integrar solucions amb sistemes de tercers, com ERP, CRM o altres plataformes empresarials.',
      },
      {
        title: 'Es pot fer una demostració del projecte abans de la seva entrega final?',
        description:
          'Sí, presentem una demo abans de la fase final per assegurar que compleix amb les expectatives del client.',
      },
      {
        title: 'Quin suport oferiu durant el procés de desenvolupament?',
        description:
          'Treballem de manera col·laborativa amb el client i mantenim una comunicació constant durant totes les fases del projecte.',
      },
    ]}
  >
    
  </FAQs>

  <CallToAction
    backgroundImage={{ src: '~/assets/images/neutral/bg-4.jpg', alt: 'Fons abstracte' }}
    actions={[
      {
        variant: 'primary',
        text: 'Contactar',
        href: 'contactar',
      },
      {
        variant: 'primary',
        text: 'Trucar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title"
      >Si vols conèixer-nos millor,<br /><span class="custom-gradient">sol·licita una reunió</span></Fragment
    >
    <Fragment slot="subtitle">Estarem encantats de presentar-nos i veure en quins punts us podem ajudar.</Fragment>
  </CallToAction>
</Layout>
