---
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FourBlocks from '~/components/widgets/FourBlocks.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';
import { header } from '~/i18n/ui.ts';

const metadata = {         
  title: 'Programació a mida de software, apps, web i IA | +20 anys',
  description: "Empresa de desenvolupament personalitzat d'aplicacions mòbils, web, programes i eines d’intel·ligència artificial. Pressupost gratuït. Prop de Vic (Osona, Barcelona)."  
};

const u = useRoutes(getLangFromUrl(Astro.url));
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    id="hero-home"
    tagline=""
    actions={[
      { variant: 'primary', target: '_blank', text: 'Pressupost gratuït', href: u('contact') },
      { text: 'Serveis', href: '#serveis' },
    ]}
    backgroundImage={{
      src: '~/assets/images/neutral/bg-1.jpg',
      alt: 'Fons abstracte, inspirat en tecnologia i software',
    }}
  >
    <Fragment slot="title">
      Programació a mida de
      <span class="custom-gradient">software</span>,
      <span class="custom-gradient">apps</span>,
      <span class="custom-gradient">plataformes web</span> i
      <span class="custom-gradient">IA</span><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Més de <span class="text-accent highlight">20 anys</span> convertint idees innovadores en projectes d'èxit.
      </span>
    </Fragment>
  </Hero>

  <Content
    
    classes={{ 
      container: 'pb-0 md:pb-0 lg:pb-0',
     }}
    title="No et quedis enrere, integra <br/><span class='custom-gradient'>Intel·ligència Artificial</span> a la teva empresa"
    subtitle={`Som una empresa d'enginyeria informàtica, especialitzada en desenvolupament de software. No només coneixem les darreres novetats en <a title='Programació a mida integrant intel·ligència artificial' class='text-accent' href='`+ u('development/ia')  +`'>intel·ligència artificial</a> sinó que les apliquem en eines empresarials, aplicacions web, apps mòbils a mida i automatització de processos.`}
  >
  <Fragment slot="preContent">
    <div class="text-center -mt-4">
      <a title="Programació a mida amb intel·ligència artificial per empreses" href={u('development/ia')} class="btn-primary w-auto">Més informació</a>
    </div>
  </Fragment>
  </Content>


  <FourBlocks
    id="serveis"
    title="<a title='Serveis de programció a mida, software personalitzat, migració i integració i consultoria TIC' name='serveis'>Serveis d'enginyeria informàtica</a>"
    information="No adaptis la teva empresa a la tecnologia, nosaltres <span class='text-black'>adaptem la tecnologia a la teva empresa</span>."
    blocks={[
      {
        link: u('development'),
        title: header['ca']['links'].find((link) => link._id === 'services').links.find((link) => link._id === 'development').text,
        excerpt: 'Desenvolupem utilitzant la tecnologia idònea per a cada projecte, creant eines completament noves.',
        image: '~/assets/images/programacion-software-a-medida.jpg',
        links: header['ca']['links'].find((link) => link._id === 'services').links.find((link) => link._id === 'development').links,
      },
      {
        link: u('software'),
        title: header['ca']['links'].find((link) => link._id === 'services').links.find((link) => link._id === 'software').text,
        excerpt: 'Utilitzem eines existents com a base i les extenem i adaptem programant a mida.',
        image: '~/assets/images/software-personalizado.jpg',

        links: header['ca']['links'].find((link) => link._id === 'services').links.find((link) => link._id === 'software').links,
      },
      {
        link: u('migration'),
        title: header['ca']['links'].find((link) => link._id === 'services').links.find((link) => link._id === 'migration').text,
        excerpt: 'Optimitzem i migrem eines obsoletes i creem processos per comunicar plataformes.',
        image: '~/assets/images/migracion-integracion.jpg',
        links: header['ca']['links'].find((link) => link._id === 'services').links.find((link) => link._id === 'migration').links,
      },
      {
        link: u('consultory'),
        title: header['ca']['links'].find((link) => link._id === 'services').links.find((link) => link._id === 'consultory').text,
        excerpt: 'Analitzem la situació actual, conceptualitzem idees i oferim assessorament per a executar-les.',
        image: '~/assets/images/consultoria-tecnologica.jpg',
        links: header['ca']['links'].find((link) => link._id === 'services').links.find((link) => link._id === 'consultory').links,
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </FourBlocks>

  <!-- Steps2 Widget ****************** -->

  <Features
    id="features"
    tagline=`Perquè escollir gilsys?`
    title="Solucions a mida per a la teva empresa"
    subtitle="Desenvolupament web, apps i intel·ligència a artificial, programat i personalitzat a mida pel teu negoci."
    columns={2}
    items={[
      {
        title: 'Experiència contrastada',
        description:
          'Més de <span class="text-accent highlight">20 anys</span> desenvolupant solucions tecnològiques per a empreses de diversos sectors, aporten una àmplia visió i experiència tècnica.',
        icon: 'tabler:flag-2',
      },
      {
        title: 'Solucions personalitzades',
        description: `Cada projecte és únic. Coneixem el codi i sabem com utilitzar-lo per crear solucions a mida, evitant adaptar l'empresa a eines que no s'ajusten exactament a les necessitats reals.`,
        icon: 'tabler:settings-code',
      },
      {
        title: 'Tecnologies avançades',
        description: `Treballem amb eines i tecnologies de darrera generació com la <a href="`+ u('development/ia') +`" title="Creem programes per empreses que integren IA" class="text-accent">intel·ligència artificial</a>, el cloud i frameworks moderns per oferir resulats innovadors i eficients.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Equip expert',
        description: 'Ens mantenim petits per garantir proximitat, qualitat i control total en cada projecte.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Innovació responsable',
        description: `Investigem i aprenem constantment noves tecnologies, però només treballem amb aquelles en què podem garantir resultats sòlids, fiables i de qualitat. Si no ho coneixem, preferim no abordar-ho.`,
        icon: 'tabler:brand-bluesky',
      },
      {
        title: 'Parlaràs amb enginyers, no comercials',
        description: `Ens apassiona el que fem. Treballem per aportar solucions reals i personalitzades, sempre enfocades a les necessitats de la teva empresa, sense pressions comercials.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Pressupost flexible',
        description: `Ens adaptem al teu pressupost, dividint el projecte en fases i prioritzant el que sigui més important per al teu negoci.`,
        icon: 'tabler:adjustments-question',
      },
      {
        title: 'Compromís i suport',
        description: `T’acompanyem durant tot el procés, des de la idea inicial fins a la implementació, oferint també serveis de manteniment i suport per assegurar l'èxit del projecte.`,
        icon: 'tabler:eyeglass',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    title="Experiència i confiança: <span class='custom-gradient'>gilsys en xifres</span>"
    subtitle="Donem les <strong>gràcies</strong> a tots els clients que han confiat en les nostres solucions de programació a mida, apps i intel·ligència artificial, i que han tingut un impacte real en la seva empresa."
    stats={[
      { title: 'Anys', amount: '+20' },
      { title: 'Projectes', amount: '+200' },
      { title: 'Entregues', amount: '+1K' },
      { title: 'Línees de codi', amount: '+1M' },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isImageSmall
    isAfterContent={false}
    items={[
      {
        title: 'Què és el Kit Digital?',
        description: `El govern d'Espanya impulsa el programa <a class="text-accent" href='https://www.acelerapyme.gob.es/kit-digital' target='_blank' rel='nofollow'>Kit Digital</a>, finançat per fons europeus Next Generation, per ajudar petites i mitjanes empreses, otorgant subvencions entre <span class="text-primary">3.000€</span> i <span class="text-primary">29.000€</span> per invertir en la implantació de noves tecnologies.`,
      },
      {
        title: 'Som agents digitalitzadors',
        description: `A gilsys som un agent digitalitzador certificat dins del programa Kit Digital. Podem ajudar-te a digitalitzar les subvencions.
            <br />
            <br />
            <a href="`+ u('kit-digital') +`" class="btn-primary mb-12 w-auto">Més informació</a>`,
      },
    ]}
    image={{
      id: 'image-kit-digital',
      src: '~/assets/images/kit-digital.jpg',
      alt: `Kit Digital - Subvencions per implantació de transformació digital a pimes i autònoms`,
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">KIT DIGITAL</h2>
      <p class="mb-2">Subvencions per solucions digitals per a autònoms i empreses de fins a 250 treballadors.</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isImageSmall    
    isAfterContent
    items={[
      {
        title: 'Què és el Kit Consulting?',
        description: `El programa <a class="text-accent" href='https://www.acelerapyme.gob.es/kit-consulting' target='_blank' rel='nofollow'>Kit Consulting</a>, impulsat pel govern d'Espanya amb fons europeus Next Generation, ofereix subvencions de <span class="text-primary">12.000€</span> a <span class="text-primary">24.000€</span> en diferents serveis d'assessorament digital.`,
      },
      {
        title: 'Som agents consultors',
        description: `A gilsys som un agent consultor certificat dins del programa Kit Consulting. T’ajudem a aprofitar les subvencions i dissenyar el full de ruta per a la transformació digital de la teva empresa.
            <br />
            <br />
            <a href="` + u('kit-consulting') + `" class="btn-primary mb-12 w-auto">Més informació</a>`,
      },
    ]}
    image={{
      id: 'image-kit-consulting',
      src: '~/assets/images/kit-consulting.jpg',
      alt: 'Kit Consulting - Subvencions per assessorament en transformació digital',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">KIT CONSULTING</h2>
      <p class="mb-2">
        Subvencions en serveis d'assessorament en transformació digital per a empreses d'entre 10 i 250 treballadors.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features2
    title="La nostra experiència en programació a mida ens permet abordar projectes en gairebé qualsevol sector"
    subtitle="La informàtica és un element transversal en la majoria de sectors, pel que podem crear aplicacions i automatitzacions independentment del tipus d'empresa."
    columns={3}
    items={[
      {
        title: 'Tecnològic',
        description: `<a href="`+ u('development/web') +`" title="Programació aplicacions web a mida" class="text-accent">Eines online</a> i <a href="`+ u('development/apps') +`" title="Programació d'aplicacions iOS i Android a mida" class="text-accent">apps per mòbils</a> amb integració de Bluetooth, IA o APIs a mida.`,
        icon: 'tabler:code',
      },
      {
        title: 'Empresarial',
        description: `Desenvolupament de 
        <a href="`+ u('development/web') +`" title="Programació de webs d'alt rendiment" class="text-accent">pàgines web ràpides</a> (no Wordpress) i optimitzades per SEO.`,
        icon: 'tabler:affiliate',
      },
      {
        title: 'Retail',
        description: `<a href="`+ u('software/ecommerce') +`" title="e-commerce amb Prestashop i Woocommerce" class="text-accent">Botiges online</a>, landing pages i integració amb facturació.`,
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Màrqueting',
        description: `Implantació de <a href="`+ u('software/crm') +`" title="gestors de clients per empreses i autònoms" class="text-accent">CRM</a>, sincronizació de dades de vendes i integració d’eines digitals.`,
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Educació',
        description: `<a href="`+ u('development/web') +`" title="Programació aplicacions web per formació" class="text-accent">Plataformes de formació online</a> a mida, amb sistemes d'avaluació avançats.`,
        icon: 'tabler:school',
      },
      {
        title: 'Salut',
        description: `Programació d'eines online per <a href="`+ u('development/web') +`" title="Disseny i desenvolupament d'eines per a gestió de centres mèdics" class="text-accent">gestió mèdica</a>, cites, historial i control d’inventari.`,
        icon: 'tabler:vaccine',
      },
      {
        title: 'Industrial',
        description:
          `Solucions de <a href="`+ u('software/pimcore') +`" title="Creem eines per a la gestió unificada de productes amb Pimcore" class="text-accent">gestió de productes PIM</a>, programació de  <a href="`+ u('migration') +`" title="Automatitzem tasques amb software personalitzat" class="text-accent">software per automatitzar processos</a> i sincronitzar dades.`,
        icon: 'tabler:building-factory-2',
      },
      {
        title: 'Startups',
        description: `<a href="`+ u('consultory') +`" title="Assessorament tecnològic per implementar projectes innovadors" class="text-accent">Convertim idees en projectes</a>, orientem en tot el procés de creació d'apps i plataformes online i definim el full de ruta a nivell tecnològic.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Laboratoris',
        description: `Programació d'algoritmes avançats i eines per calcular informació amb <a href="`+ u('development/ia') +`" title="Integració d'intel·ligència artificial entrenada amb dades pròpies" class="text-accent">intel·ligència artificial</a>.`,
        icon: 'tabler:flask',
      },
      {
        title: 'Directiu',
        description: `Software per <a href="`+ u('software/metabase') +`" title="Business Intelligence i analítica amb Metabase" class="text-accent">analitzar dades empresarials</a> i facilitar la presa de decisions.`,
        icon: 'tabler:report-analytics',
      },
      {
        title: 'Corporacions',
        description: `<a href="`+ u('software/wp') +`" title="Webs professionals amb WordPress" class="text-accent">Webs WordPress</a> de nivell professionals, amb disseny a mida i personalitzacions avançades.`,
        icon: 'tabler:building-skyscraper',
      },
      {
        title: 'Sector públic',
        description: `Implementar eines a mida per poder gestionar, optimitzar i <a href="`+ u('development/automation') +`" title="Programació d'automatitzacions per tràmits administratius" class="text-accent">automatitzar tràmits administratius.</a>`,
        icon: 'tabler:progress-check',
      },
    ]}
  />

  <!-- Testimonials Widget *********** 

  <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  />

  <Features2
    title="Contacta\'ns"
    tagline="Des de gilsys posarem en marxa la teva transformació digital."
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
        icon: 'tabler:messages',
      },
      {
        title: 'Truca',
        description:
          '665 331 271',
        icon: 'tabler:headset',
      },
    ]}
  />
    -->

  <BlogLatestPosts title="Últimes entrades del blog" linkText="Anar al blog" />

  <CallToAction
    backgroundImage={{
      src: '~/assets/images/neutral/bg-1.jpg',
      alt: 'Fons abstracte, inspirat en tecnologia i software',
    }}
    actions={[
      {
        variant: 'primary',
        text: 'Pressupost gratuït',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Trucar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title">Sol·licita un <span class='custom-gradient'>pressupost orientatiu</span> gratuït</Fragment>
    <Fragment slot="subtitle">Si tens un projecte en ment i necessites assessorament, des de gilsys t'ajudarem a convertir-lo en realitat.</Fragment>
  </CallToAction>
</Layout>
