---
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FourBlocks from '~/components/widgets/FourBlocks.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
  description: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
    actions={[
      { variant: 'primary', target: '_blank', text: 'Get Started', href: 'https://github.com/onwidget/astrowind' },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Programació a mida de
      <a href="#" class="text-accent highlight" title="TODO SEO">software</a>,
      <a href="#" class="text-accent highlight" title="TODO SEO">apps</a>,
      <a href="#" class="text-accent highlight" title="TODO SEO">plataformes web</a> i
      <a href="#" class="text-accent highlight" title="TODO SEO">IA</a><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Més de <span class="text-accent highlight">20 anys</span> convertint idees innovadores en projectes d'èxit.
      </span>
    </Fragment>
  </Hero>

  <FourBlocks
    id="blog"
    title="Serveis"
    information={`Ens apassiona el que fem, aportem solucions que s'adapten al que necessita la teva empresa, no enfocar-nos a cumplir objectius de ventes.`}
    blocks={[
      {
        link: '#',
        title: 'Software a mida',
        excerpt: 'Desenvolupem utilitzant la tecnologia idònea per a cada projecte, programant des de zero.',
        image:
          'https://elements-resized.envatousercontent.com/envato-shoebox/153d/55ec-8ac2-4e33-9366-7613f939d934/IMG_9920.jpg?w=1600&cf_fit=scale-down&mark-alpha=18&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark4.png&q=85&format=auto&s=726bfe78ceb96bf256ccec149d387fea13c6afdad518f228cfb21a7cc6524c4e',
        links: [
          {
            href: '#',
            title: 'Eines i plataformes online',
            text: 'Eines i plataformes online',
          },
          {
            href: '#',
            title: 'Aplicacions per mòbils',
            text: 'Aplicacions per mòbils',
          },
          {
            href: '#',
            title: 'Webs ultra-ràpides',
            text: 'Webs ultra-ràpides',
          },
          {
            href: '#',
            title: "Programació d'APIs",
            text: "Programació d'APIs",
          },
          {
            href: '#',
            title: "Programació d'algoritmes",
            text: "Programació d'algoritmes",
          },
        ],
      },
      {
        link: '#',
        title: 'Software adaptat',
        excerpt: 'Adaptem i ampliem software existent per implementar els requisits del projecte.',
        image:
          'https://elements-resized.envatousercontent.com/envato-dam-assets-production/EVA/TRX/2d/4e/e9/7e/c2/v1_E10/E103DLMQ.jpg?w=1600&cf_fit=scale-down&mark-alpha=18&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark4.png&q=85&format=auto&s=24f66ae43e68453e834f4ef97d589f17578b001b8bb08a5a77d227c537c4f31a',
        links: [
          {
            href: '#',
            title: '#',
            text: 'Gestió de clients',
          },
          {
            href: '#',
            title: '#',
            text: 'Gestió de productes',
          },
          {
            href: '#',
            title: '#',
            text: 'Business Intelligence#',
          },
          {
            href: '#',
            title: '#',
            text: 'E-commerce',
          },
          {
            href: '#',
            title: '#',
            text: 'Web',
          },
        ],
      },
      {
        link: '#',
        title: 'Migració i integració',
        excerpt: 'Optimitzem i migrem eines obsoletes i creem processos per comunicar plataformes.',
        image:
          'https://elements-resized.envatousercontent.com/envato-shoebox/4913/4141-efd3-4391-88ed-971abcc75552/126103.jpg?w=1600&cf_fit=scale-down&mark-alpha=18&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark4.png&q=85&format=auto&s=a21b5b5dd8eeee08fce2a82354ef922e9fe5722d1dd8a839af67fcba4bf9e9e7',
        links: [
          {
            href: '#',
            title: '#',
            text: "Anàlisis i migració d'eines antigues",
          },
          {
            href: '#',
            title: '#',
            text: "Integración d'intel·ligència artificial",
          },
          {
            href: '#',
            title: '#',
            text: 'Integració de sistemes amb APIs',
          },
          {
            href: '#',
            title: '#',
            text: 'Optimitació de software',
          },
          {
            href: '#',
            title: '#',
            text: 'Divisió i escalabilitat',
          },
        ],
      },
      {
        link: '#',
        title: 'Consultoría tecnològica',
        excerpt: 'Analitzem la situació actual, escoltem idees i oferim assessorament tecnològic.',
        image:
          'https://elements-resized.envatousercontent.com/envato-shoebox/54ee/40ca-a310-42b9-94ed-f99ecf815d20/K-210-Tong-5286wf.jpg?w=1600&cf_fit=scale-down&mark-alpha=18&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark4.png&q=85&format=auto&s=18be023ea83088b1e2a9bde8d28d4f97e8a5b7ba6dad382af0df9ce12f7006bb',
        links: [
          {
            href: '#',
            title: '#',
            text: 'Disseny de solucions tecnològiques',
          },
          {
            href: '#',
            title: '#',
            text: 'Definición de estrategias de transformación digital',
          },
          {
            href: '#',
            title: '#',
            text: 'Propoestes per automatización de processos i tasques',
          },
          {
            href: '#',
            title: '#',
            text: 'Implantación de tecnologías emergentes',
          },
          {
            href: '#',
            title: '#',
            text: 'Seguretat en software',
          },
        ],
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </FourBlocks>

  <!-- Steps2 Widget ****************** -->

  <Features
    id="features"
    title="Perquè escollir gilsys?"
    subtitle="Each of the following features enhances AstroWind's value proposition."
    columns={2}
    items={[
      {
        title: 'Experiència contrastada',
        description:
          'Més de <span class="text-accent highlight">20 anys</span> desenvolupant solucions tecnològiques per a empreses de diversos sectors, aporten una àmplia visió i experiència tècnica.',
        icon: 'tabler:flag-2',
      },
      {
        title: 'Solucions personalitzades',
        description: `Cada projecte és únic. Coneixem el codi i sabem com utilitzar-lo per crear solucions a mida, evitant que t'hagis d'adaptar a eines que no s'ajusten exactament a les teves necessitats.`,
        icon: 'tabler:settings-code',
      },
      {
        title: 'Tecnologies avançades',
        description: `Treballem amb eines i tecnologies de darrera generació com la intel·ligència artificial, el cloud i frameworks moderns per oferir resulats innovadors i eficients.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Equip expert',
        description: 'Ens mantenim petits per garantir proximitat, qualitat i control total en cada projecte.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Innovació responsable',
        description: `Investigem i aprenem constantment noves tecnologies, però només treballem amb aquelles en què podem garantir resultats sòlids, fiables i de qualitat. Si no ho coneixem, preferim no abordar-ho.`,
        icon: 'tabler:brand-bluesky',
      },
      {
        title: 'Parlaràs amb enginyers, no comercials',
        description: `Ens apassiona el que fem. Treballem per aportar solucions reals i personalitzades, sempre enfocades a les necessitats de la teva empresa, sense pressions comercials.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Pressupost flexible',
        description: `Ens adaptem al teu pressupost, dividint el projecte en fases i prioritzant el que sigui més important per al teu negoci.`,
        icon: 'tabler:adjustments-question',
      },
      {
        title: 'Compromís i suport',
        description: `T’acompanyem durant tot el procés, des de la idea inicial fins a la implementació, oferint també serveis de manteniment i suport per assegurar l'èxit del projecte.`,
        icon: 'tabler:eyeglass',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    title="Algunes dades"
    stats={[
      { title: 'Anys', amount: '+20' },
      { title: 'Projectes', amount: '+200' },
      { title: 'Entregues', amount: '+1K' },
      { title: 'Línees de codi', amount: '+1M' },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={false}
    items={[
      {
        title: 'Què és?',
        description: `El govern d'Espanya impulsa el programa Kit Digital, finançat per fons europeus Next Generation, per ajudar petites i mitjanes empreses, otorgant subvencions entre <span class="text-primary">3.000€</span> i <span class="text-primary">29.000€</span> per invertir en la implantació de noves tecnologies.`,
      },
      {
        title: 'Som agents digitalitzadors',
        description: `A gilsys som un agent digitalitzador certificat dins del programa Kit Digital. Podem ajudar-te a digitalitzar les subvencions.
            <br />
            <br />
            <a href="#" class="btn-primary mb-12 w-auto">Més informació</a>`,
      },
    ]}
    image={{
      src: 'https://s2f6z4h2.rocketcdn.me/wp-content/uploads/2022/11/solicitar-kit-digital-2022.jpg',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">KIT DIGITAL</h2>
      <p class="mb-2">Subvencions per solucions digitals per a autònoms i empreses de fins a 250 treballadors.</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={false}
    items={[
      {
        title: 'Què és?',
        description: `El programa Kit Consulting, impulsat pel govern d'Espanya amb fons europeus Next Generation, ofereix subvencions de <span class="text-primary">12.000€</span> a <span class="text-primary">24.000€</span> en diferents serveis d'assessorament digital.`,
      },
      {
        title: 'Som agents consultors',
        description: `A gilsys som un agent consultor certificat dins del programa Kit Consulting. T’ajudem a aprofitar les subvencions i dissenyar el full de ruta per a la transformació digital de la teva empresa.
            <br />
            <br />
            <a href="#" class="btn-primary mb-12 w-auto">Més informació</a>`,
      },
    ]}
    image={{
      src: 'https://s2f6z4h2.rocketcdn.me/wp-content/uploads/2022/11/solicitar-kit-digital-2022.jpg',
      alt: 'Kit Consulting Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">KIT CONSULTING</h2>
      <p class="mb-2">
        Subvencions en serveis d'assessorament en transformació digital per a empreses d'entre 10 i 250 treballadors.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Sectors pels que treballem"
    subtitle="La nostra experiència en programació de solucions a mida ens permet abordar projectes en gairebé qualsevol sector."
    columns={3}
    items={[
      {
        title: 'Tecnològic',
        description: `Aplicacions web i mòbils amb integració de Bluetooth i APIs a mida.`,
        icon: 'tabler:code',
      },
      {
        title: 'Empresarial',
        description: `Desenvolupament de webs ultra ràpides (no Wordpress) i optimitzades per SEO.`,
        icon: 'tabler:affiliate',
      },
      {
        title: 'Retail',
        description: `Botigues online, landing pages i integració amb facturació.`,
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Màrqueting',
        description: 'Implantació de CRM, sincronizació de dades de vendes i integració d’eines digitals.',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Educació',
        description: 'Plataformes de formació a mida amb estàndards SCORM/LTI i eines per avaluació digital.',
        icon: 'tabler:school',
      },
      {
        title: 'Salut',
        description: "Programació d'eines per gestió mèdica, cites, historial i control d’inventari.",
        icon: 'tabler:vaccine',
      },
      {
        title: 'Industrial',
        description:
          'Solucions de gestió de productes PIM, programació de software per automatitzar processos i sincronitzar dades.',
        icon: 'tabler:building-factory-2',
      },
      {
        title: 'Startups',
        description: "Acompanyament en la creació d'apps i plataformes online i planificaions per fases.",
        icon: 'tabler:rocket',
      },
      {
        title: 'Laboratoris',
        description: `Programació d'algoritmes avançats i eines per automatitzar càlculs tècnics.`,
        icon: 'tabler:flask',
      },
      {
        title: 'Directiu',
        description: `Software per analitzar mètriques i facilitar la presa de decisions.`,
        icon: 'tabler:report-analytics',
      },
      {
        title: 'Formació',
        description: 'Plataformes e-learning a mida per oferir contingut i gestionar esdeveniments.',
        icon: 'tabler:certificate',
      },
      {
        title: 'Sector públic',
        description: 'Software per a gestió i optimització de processos administratius.',
        icon: 'tabler:progress-check',
      },
    ]}
  />

  <!-- Testimonials Widget *********** 

  <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  />
-->
  <!-- Features2 Widget ************** -->

  <Features2
    title="Contactar"
    tagline="Estem a Sant Quirze de Besora (Osona), prop de Vic."
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
        icon: 'tabler:headset',
      },
    ]}
  />

  <BlogLatestPosts title="Últimes entrades del blog" linkText="Anar al blog" />
</Layout>
