---
import { Icon } from 'astro-icon/components';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Empresa de programación con Inteligencia Artificial',
  description: `Desarrollo de software que integra IA en empresas, automatizando procesos con ChatGPT, Google Gemini y LLMs OpenSource. Cerca de Vic (Osona, Barcelona).`,
};
---

<Layout metadata={metadata}>
  <!-- Hero Section -->
  <Hero
    tagline="Nos encontrarás cerca de Vic (Osona), en la provincia de Barcelona."
    actions={[{ variant: 'primary', text: 'Presupuesto gratuito', href: u('contact') }]}
    backgroundImage={{ alt: 'Fondo abstracto', src: '~/assets/images/dots/06.jpg' }}
  >
    <Fragment slot="title">
      Programación integrando<br /><span class="text-accent highlight">Inteligencia Artificial</span>
    </Fragment>
    <Fragment slot="subtitle">
      Desarrollamos software que integra IA en empresas. Utilizamos ChatGPT, Google Gemini y LLMs OpenSource para
      automatizar procesos y crear aplicaciones que entienden y razonan.
    </Fragment>
  </Hero>

  <Note linkText="Contáctanos" linkTitle="Contactar con gilsys" linkHref={u('contact')}>
    <Fragment slot="h2">
      <div>
        <span>Subvencionable con </span><span class="text-4xl inline-block md:inline">KIT Digital</span>
      </div>
    </Fragment>
    <Fragment slot="links">
      <a
        href={u('kit-digital')}
        title="Subvenciones KIT Digital"
        class="btn px-2 py-1 my-1"><Icon name="tabler:link" class="w-5 h-5 mr-1" /> KIT Digital</a
      >
      <a
        href={u('kit-digital/ai-process-management')}
        title="Gestión de procesos con Inteligencia Artificial subvencionable con KIT Digital"
        class="btn px-2 py-1 my-1"><Icon name="tabler:link" class="w-5 h-5 mr-1" /> Gestión de procesos con IA</a
      >
    </Fragment>
    <Fragment slot="p">
      <span class="block mt-3 mb-3">Subvenciones de 3.000€ a 29.000€ para empresas y autónomos.</span>
    </Fragment>
  </Note>
  

  <FAQs
    title="Cómo afecta la inteligencia artificial en la programación"
    subtitle="Con la IA podemos llegar más lejos que con algoritmos programados tradicionalmente."
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Crear herramientas inteligentes que aprenden y razonan',
        description: `La programación algorítmica tradicional sigue instrucciones programadas específicamente, mientras que la IA funciona mediante algoritmos adaptativos que aprenden a partir de datos de entrenamiento.`,
      },
      {
        title: 'Adaptabilidad y evolución constante',
        description: `Los sistemas basados en IA tienen la capacidad de aprender y adaptarse continuamente en función de nuevos datos, pudiendo evolucionar de manera autónoma y reduciendo el coste de mantenimiento.`,
      },
      {
        title: 'Comprensión avanzada de datos',
        description: `La IA destaca por su capacidad de entender y analizar no solo textos, sino también imágenes y vídeos. Permite desarrollar aplicaciones capaces de identificar patrones visuales, reconocer objetos o incluso interpretar sentimientos en contenidos multimedia.`,
      },
      {
        title: 'Resolución de problemas basada en conocimiento',
        description: `La IA puede abordar problemas que requieren conocimientos especializados gracias a su entrenamiento con grandes volúmenes de datos.`,
      },
    ]}
  />

  <Features2
    columns={2}
    title="¿Cómo podemos aplicar la inteligencia artificial en empresas?"
    items={[
      {
        title: 'Desarrollo de algoritmos IA a medida',
        description: `Los algoritmos de IA personalizados son ideales para empresas con necesidades específicas o retos únicos. Soluciones para detección de anomalías, reconocimiento de patrones y clasificación avanzada de datos.`,
        list: [
          '<strong>Detección de errores</strong> automática de problemas en base a los datos operativos.',
          '<strong>Reconocimiento de patrones</strong> para prever comportamientos en grandes volúmenes de datos.',
          '<strong>Clasificadores</strong> para organizar productos en catálogos o documentos según criterios específicos o automáticos.',
        ],
        icon: 'tabler:settings',
      },
      {
        title: 'Automatización de procesos con Inteligencia Artificial',
        description:
          'La IA permite automatizar procesos repetitivos como la generación de resúmenes, etiquetado automático de imágenes o la creación de informes visuales.',
        list: [
          '<strong>Generación automática de resúmenes</strong> en textos genéricos, contratos o informes.',
          '<strong>Clasificación de imágenes</strong> siguiendo criterios entrenados.',
          '<strong>Procesamiento de datos</strong> y <strong>creación de informes visuales</strong> de manera automática.',
        ],
        icon: 'tabler:robot',
      },
      {
        title: 'Programación de asistentes virtuales y chatbots',
        description:
          'Desarrollamos asistentes virtuales y chatbots para soporte a clientes, gestión de citas o automatización de la atención al cliente.',
        list: [
          '<strong>Soporte de ventas</strong> en tiempo real en tiendas online.',
          '<strong>Gestión de citas</strong> mediante interfaces conversacionales.',
          '<strong>Atención al cliente</strong> automatizada, en empresas con gran volumen de consultas.',
        ],
        icon: 'tabler:message-circle',
      },
      {
        title: 'Reconocimiento de imágenes y procesamiento visual',
        description:
          'Implementamos sistemas de análisis de imágenes para identificación de anomalías, reconocimiento facial y clasificación visual.',
        list: [
          '<strong>Identificación de anomalías</strong> en productos industriales mediante imágenes.',
          '<strong>Reconocimiento facial</strong> para acceder a áreas restringidas.',
          '<strong>Clasificación automática</strong> de recursos multimedia en bases de datos empresariales.',
        ],
        icon: 'tabler:photo',
      },
      {
        title: 'Procesamiento del Lenguaje Natural (NLP)',
        description:
          'Programas basados en NLP para la generación de resúmenes, análisis de sentimientos y traducción automática.',
        list: [
          '<strong>Generación de resúmenes</strong> automáticos de datos complejos.',
          '<strong>Análisis de sentimientos</strong> en comentarios y reseñas de clientes.',
          '<strong>Traducción automática</strong> y redacción de textos personalizados.',
        ],
        icon: 'tabler:language',
      },
      {
        title: 'Análisis predictivo para la toma de decisiones empresariales',
        description:
          'Mediante modelos predictivos, ayudamos a las empresas a optimizar inventarios y ajustar estrategias de marketing.',
        list: [
          '<strong>Predicción de la demanda</strong> de productos para optimizar el inventario.',
          '<strong>Identificación de patrones</strong> en comportamiento del cliente para ajustar campañas de marketing.',
        ],
        icon: 'tabler:chart-line',
      },
      {
        title: 'Herramientas de redacción de contenido y traducción automática',
        description:
          'Soluciones para generar textos automáticos, traducciones instantáneas y resúmenes inteligentes para documentos complejos.',
        list: [
          '<strong>Redacción de contenido</strong> automática, como descripciones de productos, artículos de blog o textos promocionales adaptados al público objetivo.',
          '<strong>Traducción automática</strong> adaptando de forma rápida contenidos de diferentes formatos a múltiples idiomas, asegurando coherencia y velocidad en proyectos internacionales.',
          '<strong>Resúmenes de reuniones</strong> y conversión automática a texto, para poder almacenar su seguimiento.',
        ],
        icon: 'tabler:file-text',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Features2>

  <Features
    columns={2}
    tagline="El potencial de la IA en manos de expertos va más allá del <strong>prompt engineering</strong>."
    title="Combinamos inteligencia artificial con programación a medida"
    subtitle="En Gilsys, combinamos programación a medida con las últimas tecnologías de inteligencia artificial para crear herramientas eficientes, escalables y alineadas con los objetivos empresariales."
    items={[
      {
        title: `Personalización de modelos de IA según cada sector`,
        description: `Cada empresa tiene necesidades únicas. Escogemos cuál es el modelo que mejor se adapta a los requerimientos del proyecto, lo configuramos y lo entrenamos para que pueda trabajar de forma óptima.`,
        icon: 'tabler:adjustments',
      },
      {
        title: `Implementación de IA que mejora procesos empresariales`,
        description: `Desarrollamos sistemas que aprovechan la inteligencia artificial para optimizar procesos internos, reduciendo costos y tiempos de respuesta en gestión documental, atención al cliente y automatización de tareas.`,
        icon: 'tabler:settings-automation',
      },
      {
        title: `Despliegue en servidores propios o en la nube`,
        description: `Configuramos modelos OpenSource de IA en infraestructuras locales o en servicios en la nube para garantizar un rendimiento óptimo y cumplir con los requisitos de seguridad de cada empresa.`,
        icon: 'tabler:cloud',
      },
      {
        title: 'Integración fluida con aplicaciones y sistemas existentes',
        description: `La IA no tiene que ser una herramienta aislada. Conectamos modelos de lenguaje (LLMs) con CRMs, ERPs, tiendas online, gestores de productos y aplicaciones creadas a medida.`,
        icon: 'tabler:blend-mode',
      },
    ]}
  />

  <Content
    title="Soluciones LLM Open Source"
    subtitle="Servicios de modelos de aprendizaje a gran escala en servidores propios."
  >
    <Fragment slot="postContent">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">¿Qué es un LLM Open Source?</h3>
      <p class="text-muted">
        Un LLM (Large Language Model) Open Source es un modelo de aprendizaje a gran escala que se pone a disposición
        del público con código abierto. Esto permite a las empresas descargar, personalizar e instalar el modelo en
        servidores propios, garantizando un control total sobre los datos y las aplicaciones. A diferencia de soluciones
        comerciales, los LLM Open Source ofrecen flexibilidad completa y eliminan la dependencia de terceros.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <Features3
    classes={{ container: 'pt-0 lg:pt-0' }}
    items={[
      {
        title: 'Control total',
        description:
          'Los datos y los modelos son propiedad exclusiva del cliente, eliminando dependencias de terceros.',
        icon: 'tabler:shield-check',
      },
      {
        title: 'Adaptación específica',
        description:
          'Los modelos pueden ser seleccionados y ajustados para satisfacer las necesidades concretas de cada proyecto.',
        icon: 'tabler:settings',
      },
      {
        title: 'Rendimiento consistente',
        description: 'Pueden instalarse en servidores dimensionados según las necesidades de cada proyecto.',
        icon: 'tabler:server',
      },
      {
        title: 'Ausencia de restricciones de uso',
        description:
          'A diferencia de las soluciones comerciales, los modelos Open Source pueden utilizarse para cualquier contexto, incluidos proyectos privados o sensibles, sin limitaciones contractuales.',
        icon: 'tabler:infinity',
      },
      {
        title: 'Innovación colaborativa',
        description:
          'La comunidad global contribuye continuamente a mejorar y optimizar los modelos, permitiendo implementar los últimos avances de manera rápida.',
        icon: 'tabler:users',
      },
      {
        title: 'Cumplimiento normativo',
        description:
          'Mantener datos y procesos en servidores privados facilita el cumplimiento de normativas como el GDPR u otras leyes de privacidad.',
        icon: 'tabler:lock',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Features3>

  <Features3
    title="¿Quién necesita modelos de lenguaje OpenSource?"
    items={[
      {
        title: 'Empresas con datos sensibles',
        description:
          'Las organizaciones que necesitan garantizar la privacidad de sus datos pueden mantenerlo todo en servidores propios, asegurando el cumplimiento normativo.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Startups en fases iniciales',
        description:
          'Las startups pueden aprovechar el bajo costo de adquisición y uso para experimentar e innovar sin grandes inversiones iniciales.',
        icon: 'tabler:coin',
      },
      {
        title: 'Equipos de investigación y desarrollo',
        description:
          'Instituciones académicas y centros de investigación pueden utilizar los modelos para analizar, ajustar y contribuir al progreso de la inteligencia artificial.',
        icon: 'tabler:school',
      },
      {
        title: 'Empresas que necesitan personalización',
        description:
          'Para proyectos donde las soluciones comerciales no cubren completamente las necesidades específicas, los LLM Open Source permiten una personalización completa.',
        icon: 'tabler:adjustments',
      },
      {
        title: 'Organizaciones preocupadas por la independencia tecnológica',
        description:
          'Aquellas que quieren evitar la dependencia de proveedores externos y garantizar la sostenibilidad a largo plazo.',
        icon: 'tabler:world',
      },
      {
        title: 'Empresas en proceso de transformación digital',
        description:
          'Las organizaciones que están renovando o ampliando su infraestructura tecnológica pueden aprovechar los LLM Open Source para agilizar la modernización de sus sistemas con soluciones más flexibles que los servicios comerciales.',
        icon: 'tabler:file',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Features3>

  <Content
    isReversed
    tagline=""
    title="¿Por qué elegir Gilsys para el desarrollo con IA?"
    image={{
      src: '~/assets/images/ia-software.jpg',
      alt: 'Imagen colorida',
    }}
    items={[
      {
        title: 'Conocimiento técnico',
        description:
          'En Gilsys, contamos con experiencia en integración y programación de IA, combinando modelos comerciales preentrenados y desarrollo a medida utilizando LLMs.',
        icon: 'tabler:brain',
      },
      {
        title: 'Adaptación a diversos sectores',
        description:
          'Trabajamos con empresas de sanidad, educación, retail y otros sectores, ofreciendo soluciones personalizadas.',
        icon: 'tabler:building',
      },
      {
        title: 'Visión innovadora',
        description:
          'Estamos al día de las últimas tendencias en IA para implementar soluciones avanzadas y de alto impacto.',
        icon: 'tabler:headset',
      },
      {
        title: 'Investigación y formación interna constante',
        description:
          'Investigamos constantemente para conocer las últimas novedades y detectar oportunidades para aplicar innovaciones en empresas que lo requieran.',
        icon: 'tabler:radio',
      },
    ]}
  />
  <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/24.jpg', alt: 'Fondo abstracto' }}
    actions={[
      {
        variant: 'primary',
        text: 'Presupuesto gratuito',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title"
      >No te quedes atrás, <span class="custom-gradient">integra inteligencia artificial</span> en tu empresa</Fragment
    >
    <Fragment slot="subtitle"
      >Las empresas que están integrando <strong>inteligencia artificial</strong> en sus procesos serán las mejor preparadas
      para el futuro próximo.</Fragment
    >
  </CallToAction>
</Layout>
