---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import KitDigital from '~/components/widgets/KitDigital.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: 'Kit Digital - Subvenció per Gestió de clients',
  description:
    'Optimitza la gestió de relacions comercials amb els clients mitjançant eines digitals avançades i gestió documental centralitzada per a la teva PIME amb el Kit Digital.',
};
---

<Layout metadata={metadata}>
  <Hero
  actions={[
    { variant: 'primary', text: 'Contactar', href: u('contact') },
    { variant: 'primary', text: 'Preguntes freqüents', href: u('kit-digital') + '#faq' }]
    }
  tagline="Subvenció Kit Digital" backgroundImage={{ alt: 'Fons abstracte', src: '~/assets/images/dots/21.jpg' }}>
    <Fragment slot="title">Gestió de clients</Fragment>
    <Fragment slot="subtitle">
      Implementa un sistema de <span class="custom-gradient">gestió de clients</span> eficient amb <span
        class="custom-gradient">CRM</span
      > i eines digitals avançades,
      <span class="custom-gradient">GRATIS</span> gràcies a la subvenció del Kit Digital, per optimitzar les relacions i
      processos comercials.
    </Fragment>
  </Hero>

  <Features2
    tagline="Funcionalitats i serveis"
    subtitle="Digitalitza i optimitza la gestió de relacions comercials amb els teus clients. Emmagatzema, segueix i converteix leads en clients, amb eines de gestió i reporting detallat per prendre decisions informades."
    title="Gestió integral de clients, oportunitats i leads per a empreses, amb eines digitals avançades"
    items={[
      {
        title: "Gestió de clients",
        description:
          "Seràs capaç d'emmagatzemar i consultar les dades de cadascun dels teus clients, des de la seva alta com a oportunitat de negoci, i simular la compra de productes o contractació de serveis.",
        icon: 'tabler:user',
      },
      {
        title: "Gestió de clients potencials (leads)",
        description:
          "Podràs donar d'alta nous leads de forma manual o mitjançant una importació per fitxer. Les dades associades als leads et permetran la seva gestió comercial amb l'objectiu de convertir-los en clients. Addicionalment, podràs parametritzar regles de negoci per a l'assignació de leads segons diferents criteris.",
        icon: 'tabler:user-plus',
      },
      {
        title: "Gestió d'oportunitats",
        description:
          "Tindràs la possibilitat de gestionar totes les oportunitats de negoci que comportin l'enviament al client potencial o Lead d'ofertes i pressupostos. A més, podràs comprovar l'estat de cada oportunitat (en anàlisi, oferta presentada, en negociació, guanyades, cancel·lades, etc.).",
        icon: 'tabler:target',
      },
      {
        title: "Accions o tasques comercials",
        description:
          "L'eina implantada per l'Agent Digitalitzador de la teva elecció et permetrà crear accions i tasques comercials, tant de forma manual com automàtica.",
        icon: 'tabler:circle-check',
      },
      {
        title: "Reporting, planificació i seguiment comercial",
        description:
          "Podràs realitzar el seguiment mitjançant indicadors (KPI's), llistat d'oportunitats, i altres, amb diferents nivells d'agregació d'informació en funció de les teves necessitats. També podràs generar informes per al seguiment i monitorització de la teva activitat comercial, contemplant ràtios d'eficiència, estat de fases, pipeline i altres atributs mesurables (com productes, cotitzacions, etc.), i segons els canals, perfils, rols i/o fases comercials. Aquests informes podran mostrar, almenys, dades mensuals, acumulades i/o comparatives entre diferents exercicis comercials.",
        icon: 'tabler:file-chart',
      },
      {
        title: "Alertes",
        description:
          'Seràs capaç de visualitzar Alertes de Clients en format gràfic de diferent tipologia (icones, missatges emergents, etc.).',
        icon: 'tabler:bell',
      },
      {
        title: "Gestió documental",
        description:
          "La solució inclourà un programari per a la gestió centralitzada de la documentació capaç d'inserir i/o vincular documents tant relatius a la teva activitat comercial, com els proporcionats pels propis clients.",
        icon: 'tabler:folder',
      },
      {
        title: "Disseny Responsive",
        description: 'Tindràs una interfície funcional en tot tipus de dispositius.',
        icon: 'tabler:device-laptop',
      },
      {
        title: "Integració amb diverses plataformes",
        description:
          "Disposaràs d'APIs o Web Services per a la consolidació de la informació i dades de tota la teva empresa.",
        icon: 'tabler:plug',
      },
    ]}
  />

  <Features
    title="Subvenció Kit Digital segons el nombre d'empleats"
    subtitle="La subvenció pot ser utilitzada per a diversos serveis de digitalització, amb un import màxim que varia en funció del nombre d'empleats de l'empresa."
    items={[
      {
        title: 'Import total subvencionat:',
        list: [
          '<strong>De 0 a 3 empleats:</strong> 3.000€',
          '<strong>De 50 a 99 empleats:</strong> 25.000€',
          '<strong>De 100 a 250 empleats:</strong> 29.000€',
        ],
        icon: 'tabler:check',
      },
      {
        title: 'Import màxim per al servei de gestió de clients:',
        list: [
        '<strong>De 0 a 3 empleats:</strong> 2.000€ (inclou 1 usuari)',
        '<strong>De 50 a 99 empleats:</strong> 10.000€ (inclou 10 usuaris)',
        '<strong>De 100 a 250 empleats:</strong> 14.000€ (inclou 15 usuaris)',
      ],
        icon: 'tabler:check',
      },
    ]}
  />

  <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/21.jpg', alt: 'Fons abstracte, inspirat en tecnologia i software' }}
    actions={[
      {
        variant: 'primary',
        text: 'Contactar',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Trucar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title">
      Estàs a un <span class="custom-gradient">click</span> de digitalitzar la gestió de <span class="custom-gradient"
        >clients</span
      > i portar la teva relació comercial al següent nivell
    </Fragment>
    <Fragment slot="subtitle">
      Contacta'ns i implementarem una solució de <span class="custom-gradient">gestió de clients</span> per a la teva empresa,
      de forma gratuïta gràcies a la subvenció del Kit Digital.
    </Fragment>
  </CallToAction>

  <KitDigital />
</Layout>
