---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import KitDigital from '~/components/widgets/KitDigital.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Presència Bàsica a internet',
  description:
    'Creem la pàgina web amb WordPress per a la teva empresa o negoci, GRATIS, amb la subvenció del Kit Digital.',
};
---

<Layout metadata={metadata}>
  <Hero tagline="Subvenció Kit Digital" backgroundImage={{ alt: 'Fons abstracte', src: '~/assets/images/dots/21.jpg' }}>
    <Fragment slot="title">Presència básica a Internet</Fragment>
    <Fragment slot="subtitle"
      >Creem la <span class="custom-gradient">pàgina web</span> amb <span class="custom-gradient">WordPress</span> per a
      la teva empresa o negoci, <span class="custom-gradient">GRATIS</span>, amb la subvenció del Kit Digital.</Fragment
    >
  </Hero>

  <Features2
    tagline="Funcionalitats i serveis"
    subtitle="El principal objectiu d’aquesta categoria és que puguis tenir una pàgina web per a donar-te visibilitat en internet."
    title="Web autogestionable sense cost per empreses i autònoms."
    items={[
      {
        title: 'Domini',
        description: `En cas que encara no disposis d'un domini del teu web, se't donarà un durant un termini mínim de dotze mesos. La titularitat del domini serà teva per complet.`,
        icon: 'tabler:globe',
      },
      {
        title: 'Hosting',
        description: `També tindràs a la teva disposició l'allotjament de la pàgina web durant un termini mínim de dotze mesos.`,
        icon: 'tabler:server',
      },
      {
        title: 'Disseny de la pàgina web',
        description: `Com a part del servei tindràs l'estructura del web, amb un mínim de 3 apartats. Es consideren pàgines o apartats d'un web, elements com ara: pàgina d'inici (Landing Page), presentació de l'empresa, formulari de contacte, descripció de productes, dades de contacte, mapa del lloc (sitemap), etc.`,
        icon: 'tabler:layout',
      },
      {
        title: 'Web responsive',
        description: `El teu web s'adaptarà perfectament a qualsevol tipus de dispositiu.`,
        icon: 'tabler:screen-share',
      },
      {
        title: 'Accessibilitat',
        description: `El disseny del teu web complirà amb els criteris de conformitat de nivell AA de les Directrius WCAG-2.1.`,
        icon: 'tabler:eye',
      },
      {
        title: 'Posicionament bàsic a internet',
        description: `La informació de la teva pime serà indexable pels principals motors de cerca (On-Page).`,
        icon: 'tabler:search',
      },
      {
        title: 'Autogestionable',
        description: `Disposaràs també d'una plataforma de gestió de continguts perquè puguis modificar els continguts del teu web sense necessitat d'ajuda.`,
        icon: 'tabler:edit',
      },
      {
        title: 'Optimització de la presència en cercadors (SEO bàsic)',
        description: `Anàlisi de paraules clau, SEO On-Page de 2 pàgines o apartats, indexació i jerarquització del contingut.`,
        icon: 'tabler:chart-line',
      },
      {
        title: 'Multidioma',
        description: `Se't donarà l'opció de tenir el teu web preparat per al multidioma i traduït a un idioma, a més del castellà.`,
        icon: 'tabler:language',
      },
    ]}
  />

  <Features
    title="Subvenció Kit Digital segons el nombre d'empleats"
    subtitle="La subvenció pot ser utilitzada per a diversos serveis de digitalització, amb un import màxim que varia en funció del nombre d'empleats de l'empresa."
    items={[
      {
        title: 'Import total subvencionat:',
        list: [
          '<strong>De 0 a 3 empleats:</strong> 3.000€',
          '<strong>De 50 a 99 empleats:</strong> 25.000€',
          '<strong>De 100 a 250 empleats:</strong> 29.000€',
        ],
        icon: 'tabler:check',
      },
      {
        title: 'Import màxim per al servei de presència bàsica a internet:',
        description: 'Fins a 5.000€',
        icon: 'tabler:check',
      },
    ]}
  />

  <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/21.jpg', alt: 'Fons abstracte, inspirat en tecnologia i software' }}
    actions={[
      {
        variant: 'primary',
        text: 'Contactar',
        href: 'contactar',
      },
      {
        variant: 'primary',
        text: 'Trucar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title"
      >Estàs a un <span class="custom-gradient">click</span> de la teva nova <span class="custom-gradient"
        >pàgina web</span
      ></Fragment
    >
    <Fragment slot="subtitle"
      >Contacta'ns i crearem un lloc web amb <a href="#todo" class="text-accent" title="Programació web amb WordPress"
        >WordPress</a
      > per a la teva empresa o negoci, de forma gratuïta gràcies a la subvenció del Kit Digital.</Fragment
    >
  </CallToAction>

  <KitDigital />
</Layout>
