---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features from '~/components/widgets/Features.astro';
import Hero from '~/components/widgets/Hero.astro';
import KitDigital from '~/components/widgets/KitDigital.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';
const u = useRoutes(getLangFromUrl(Astro.url));
const metadata = {
  title: 'Análisis de datos avanzado | Kit Consulting Osona (Barcelona)',
  description:
    'Avanzamos en la clasificación de datos, definiendo un modelo de datos adaptado a tu empresa, estudiando como la IA puede mejorar la calidad de la información.',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="Subvención Kit Consulting desde Osona, para empresas de Barcelona y Gerona"
    actions={[
      { variant: 'primary', text: 'Solicitar información', href: u('contact') },
      { variant: 'primary', text: 'Preguntas frecuentes', href: u('kit-consulting') + '#faq' },
    ]}
    backgroundImage={{ alt: 'Fondo abstracto', src: '~/assets/images/dots/22.jpg' }}
  >
    <Fragment slot="title">Servicio de asesoramiento en análisis de datos (Avanzado)</Fragment>
    <Fragment slot="subtitle"
      >Si ya dispones de un sistema de análisis de datos básico, en este servicio avanzamos en la clasificación de
      datos, definiendo un modelo de datos adaptado a tu empresa, estudiando como la inteligencia artificial puede
      mejorar la calidad de la información.</Fragment
    >
  </Hero>

  <Features
    tagline="Servicio de asesoramiento <strong>subvencionado</strong>"
    subtitle="Acompañamos a tu empresa de Barcelona o Gerona en todo momento, definiendo las acciones para la implementación. Además, te proporcionaremos formación para garantizar una adopción satisfactoria de la IA en tu pyme."
    title="Analizamos tu empresa para diseñar una estrategia de integración de <span class='custom-gradient'>Inteligencia Artificial</span> enfocada en la extracción e interpretación de datos"
    items={[
      {
        description:
          'Identificar los datos de tu pyme, obtener su valoración y evaluar su uso en conjunto con otras fuentes.',
        icon: 'tabler:database',
      },
      {
        description:
          "Generar y obtener información de valor a partir del tratamiento de datos con <a href='" +
          u('development/ia') +
          "' title='Programación a medida con inteligencia artificial' class='text-accent'>algoritmos de inteligencia artificial</a> para mejorar la toma de decisiones basada en datos.",
        icon: 'tabler:chart-line',
      },
      {
        description:
          'Proporcionarte asesoramiento para la comprensión de los datos de tu pyme y el uso de herramientas de gestión de datos.',
        icon: 'tabler:user-check',
      },
      {
        description:
          'Opcionalmente, podrá asesorarte sobre la evaluación de la capacidad de los procesos de gobernanza, gestión y calidad del dato siguiendo la especificación UNE 0080 “Guía de evaluación del Gobierno, Gestión y Gestión de la Calidad del Dato” y la especificación UNE 0081 “Guía de evaluación de la calidad de datos”.',
        icon: 'tabler:shield-lock',
      },
      {
        description:
          'Desarrollar y ejecutar un caso de uso adaptado a tu pyme utilizando técnicas de inteligencia artificial, en análisis de datos (nivel avanzado).',
        icon: 'tabler:settings',
      },
      {
        description: 'Identificar oportunidades o posibles usos de la IA en el ámbito del análisis de datos avanzado.',
        icon: 'tabler:brain',
      },
    ]}
  />

  <Features
    title="El importe total subvencionado por Kit Consulting varía según el número de empleados"
    subtitle="El importe máximo subvencionado por cada servicio de asesoramiento de Kit Consulting es siempre de 6.000€."
    items={[
      {
        title: 'Importe total subvencionado:',
        list: [
          '<strong>De 10 a 49 empleados:</strong> 12.000€.<br/>Corresponde a 2 servicios de asesoramiento.',
          '<strong>De 50 a 99 empleados:</strong> 18.000€.<br/>Corresponde a 3 servicios de asesoramiento.',
          '<strong>De 100 a 250 empleados:</strong> 24.000€.<br/>Corresponde a 4 servicios de asesoramiento.',
        ],
        icon: 'tabler:check',
      },
      {
        title: 'Importe máximo disponible para el servicio de asesoramiento en análisis de datos (Avanzado):',
        description: '6.000€',
        icon: 'tabler:check',
      },
    ]}
  />

  <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/22.jpg', alt: 'Fondo abstracto, inspirado en líneas y colores' }}
    actions={[
      {
        variant: 'primary',
        text: 'Contactar',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title"
      >Si tienes empresa en la provincia de Barcelona o Gerona, te ofrecemos asesoramiento gratuito en <span
        class="custom-gradient">análisis de datos avanzado</span
      ></Fragment
    >
    <Fragment slot="subtitle"
      >Contáctanos y te asesoraremos sobre como la subvención de Kit Consulting en analisis de datos puede ayudar a
      potenciar tu empresa.</Fragment
    >
  </CallToAction>

  <KitDigital />
</Layout>
