---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: `Consultoría IA con Kit Consulting en Catalunya`,
  description:
    "Somos agentes consultores, expertos en Inteligencia Artificial, ofrecemos servicios de asesoramiento, subvencionados, desde Osona para empresas de Barcelona y Gerona."
};
---

<Layout metadata={metadata}>
  <Hero
    backgroundImage={{ alt: 'Fondo abstracto', src: '~/assets/images/dots/21.jpg' }}
    actions={[{ variant: 'primary', text: 'Solicitar información', href: u('contact') }]}
    tagline="Somos agentes consultores homologados, expertos en <strong>Inteligencia Artificial</strong>, programación y datos."
  >
    <Fragment slot="title">Consultoría subvencionada con <span class="custom-gradient">Kit Consulting</span> en Catalunya</Fragment>
    <Fragment slot="subtitle">
      Servicios subvencionados de asesoramiento digital, orientados a inteligencia artificial, desde Osona, para empresas de Barcelona y Gerona.
    </Fragment>
  </Hero>

  <Features3
    id="features-kit-consulting"
    tagline="Servicios de consultoría y asesoramiento en Catalunya, subvencionados con Kit Consulting"
    title="Si tienes empresa en la provincia de <span class='custom-gradient'>Barcelona</span> o <span class='custom-gradient'>Gerona</span>, te asesoramos en transformación digital"
    subtitle="Explora las diferentes áreas donde podemos ayudar a tu empresa con asesoramiento personalizado y estratégico."
    items={[
      {
        title: 'Asesoramiento en Inteligencia Artificial',
        description:
          'Descubre cómo aplicar la IA para optimizar procesos y mejorar la productividad de tu negocio.',
        icon: 'tabler:robot',
        callToAction: {
          class: 'more-info',
          text: 'Más información',
          href: u('kit-consulting/ai-advisory'),
        },
      },
      {
        title: 'Asesoramiento en análisis de datos (Básico)',
        description: 'Analizamos los datos de tu empresa y proponemos diversas herramientas que puedan ayudar a mejorar su organización, evaluando también opciones donde intervenga inteligencia artificial.',
        icon: 'tabler:chart-bar',
        callToAction: {
          class: 'more-info',
          text: 'Más información',
          href: u('kit-consulting/basic-data-analysis'),
        },
      },
      {
        title: 'Asesoramiento en análisis de datos (Avanzado)',
        description:
          'Avanzamos en clasificación de datos, definiendo un modelo de datos adaptado al negocio de tu empresa, focalizando la importancia de la inteligencia artificial para mejorar la calidad de la información.',
        icon: 'tabler:chart-pie',
        callToAction: {
          class: 'more-info',
          text: 'Más información',
          href: u('kit-consulting/advanced-data-analysis'),
        },
      },
      {
        title: 'Asesoramiento en ventas digitales',
        description: 'Mejora tu estrategia de ventas digitales para incrementar ingresos y captar nuevos clientes, estudiando cómo integrar inteligencia artificial.',
        icon: 'tabler:shopping-cart',
        callToAction: {
          class: 'more-info',
          text: 'Más información',
          href: u('kit-consulting/digital-sales-advisory'),
        },
      },
      {
        title: 'Asesoramiento en procesos de negocio o proceso de producción',
        description: 'Optimiza y digitaliza tus procesos para ganar en eficiencia y reducir costes, utilizando inteligencia artificial.',
        icon: 'tabler:settings',
        callToAction: {
          class: 'more-info',
          text: 'Más información',
          href: u('kit-consulting/business-process-advisory'),
        },
      },
      {
        title: 'Asesoramiento en estrategia y rendimiento de negocio',
        description: 'Define e implementa estrategias con inteligencia artificial para mejorar el rendimiento global de tu empresa.',
        icon: 'tabler:trending-up',
        callToAction: {
          class: 'more-info',
          text: 'Más información',
          href: u('kit-consulting/business-strategy-advisory'),
        },
      },
      {
        title: 'Asesoramiento “360°” en transformación digital',
        description:
          'Recibe un asesoramiento integral para abordar la digitalización de tu negocio desde todos los ángulos aprovechando el potencial de la IA.',
        icon: 'tabler:circle',
        callToAction: {
          class: 'more-info',
          text: 'Más información',
          href: u('kit-consulting/360-digital-transformation'),
        },
      },
    ]}
  />

  <Content
    isImageSmall
    isReversed
    tagline="Dependiendo del número de trabajadores de la empresa, variará el importe de la subvención"
    title="Ayudas en asesoramiento según los segmentos del Kit Consulting"
    items={[
      {
        title: 'Pequeñas empresas',
        description: 'Empresas con entre 10 y menos de 50 empleados pueden optar a un importe de hasta 12.000€.',
        icon: 'tabler:users',
      },
      {
        title: 'Medianas empresas (Segmento IV)',
        description: 'Empresas con entre 50 y menos de 100 empleados pueden recibir hasta 18.000€.',
        icon: 'tabler:building',
      },
      {
        title: 'Medianas empresas (Segmento V)',
        description: 'Empresas con entre 100 y menos de 250 empleados pueden acceder a un importe de hasta 24.000€.',
        icon: 'tabler:building-arch',
      },
    ]}
    image={{
      src: '~/assets/images/kit-consulting.jpg',
      alt: 'Kit Consulting, segmentos según tamaño de empresa',
    }}
  />

  <FAQs
    id='faq'    
    schema
    title='Preguntas frecuentes sobre el Kit Consulting en Catalunya'
    items={[
      {
        title: '¿Qué es el Kit Consulting?',
        description:
          'Es un servicio de asesoramiento especializado destinado a empresas que quieren transformarse digitalmente, con soporte en estrategia, procesos y tecnología.',
      },  
      {
        title: '¿Quién puede beneficiarse del Kit Consulting?',
        description:
          'Empresas de 10 a 250 empleados que busquen optimizar sus procesos o implementar estrategias digitales pueden acceder a él.',
      },
      {
        title: '¿Cómo puedo solicitar el Kit Consulting?',
        description:
          `Contacta con nosotros en <a class="text-accent" href='` +
          u('contact') +
          `'>Gilsys</a> para recibir información detallada y empezar el proceso de solicitud.`,
      },
      {
        title: '¿Cuál es la función de Gilsys en el Kit Consulting?',
        description:
          'En Gilsys, somos agentes consultores homologados. Podemos ejecutar Kit Consulting a aquellas empresas que dispongan de la subvención aprobada. Como expertos en Inteligencia artificial y desarrollo de software, ofrecemos servicios de <a class="text-accent" title="Consultoría en inteligencia artificial" href=' + u('consultory')+ '>consultoría especializada</a>. Además, podemos ayudarte a implementar las soluciones más adecuadas para tu empresa.',
      },
      {
        title: "¿Qué diferencia a Gilsys de otros agentes consultores?",
        description:
          'En Gilsys, somos una empresa principalmente técnica, por lo que nuestro enfoque es muy práctico y podemos ir más allá que las empresas que solo ofrecen orientación y asesoramiento. Hemos trabajado con clientes de sectores muy diversos, y esto nos ha dado una visión muy amplia de las mejores estrategias a seguir a nivel tecnológico.',
      },
      {
        title: "¿Kit Consulting incluye la implantación de alguna herramienta?",
        description:
          "No, Kit Consulting es una subvención que cubre el servicio de consultoría y asesoramiento, para analizar la empresa y sus requisitos pero no incluye la implantación de ninguna herramienta, producto o servicio. Para ello existe otra subvención, <a class='text-accent' title='Implantaciones subvencionadas con kit digital' href='" + u('kit-digital') +"'>Kit Digital</a>, de la que también es posible beneficiarse de forma paralela.",
      },
      {
        title: "¿Es compatible con Kit Digital?",
        description:
          "Sí, una empresa puede solicitar y beneficiarse de las dos subvenciones.",
      },    
      {
        title: "¿Qué diferencia hay con Kit Digital?",
        description:
          "Kit consulting es un servicio de asesoramiento y consultoría, y Kit Digital es un servicio de transformación digital que incluye la implantación de herramientas o servicios.",
      },  
      {
        title: '¿Solo trabajan en las provincias de Barcelona y Gerona?',
        description:
          `No, al tener la empresa en Osona, nos focalizamos en empresas de las provincias de Barcelona y Gerona, pero nos puedes consultar si tu empresa está ubicada en cualquier otra zona de Catalunya.`,
      },
      {
        title: '¿Solo se puede solicitar en Catalunya?',
        description:
          `No, se puede solicitar en toda España, pero desde Gilsys ofrecemos este servicio solo a empresas de Catalunya, concretamente provincias de Barcelona y Gerona. Establecemos este límite por motivos de proximidad a la hora de ejecutar el asesoramiento.`,
      },

      
    ]}
  />

  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Conocemos las herramientas y sabemos cómo adaptarlas
    </h3>
    En Gilsys somos expertos en programación, no solo sabemos utilizar las herramientas que personalizamos, sino que también
    podemos extenderlas porque <strong>conocemos su código fuente</strong>.
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-lightgray"></div>
  </Fragment>

  <CallToAction
    backgroundImage={{ src: '~/assets/images/dots/21.jpg', alt: 'Fondo abstracto, inspirado en tecnología y software' }}
    actions={[
      {
        variant: 'primary',
        text: 'Solicitar información',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title"
      >Si tienes empresa en la provincia de Barcelona o Gerona, aprovecha el <span class="custom-gradient">Kit Consulting</span> con nosotros y transforma tu negocio</Fragment
    >
    <Fragment slot="subtitle">
      Consigue soporte personalizado de la mano de expertos en Inteligencia Artificial, en estrategia, tecnología y procesos para hacer crecer tu empresa.
    </Fragment>
  </CallToAction>
</Layout>