---
import CallToAction from '~/components/widgets/CallToAction.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';
const u = useRoutes(getLangFromUrl(Astro.url));

const metadata = {
  title: `Quiénes somos | Gilsys, expertos en programación e IA`,
  description: `Descubre Gilsys, una empresa IT con más de 20 años de experiencia en desarrollo de software, apps, web e inteligencia artificial en Osona (Barcelona).`,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  actions={[{ variant: 'primary', text: 'Contactar', href: u('contact') }]}
  backgroundImage={{ alt: 'Fondo abstracto', src: '~/assets/images/neutral/bg-4.jpg' }}>
    <Fragment slot="title">
      <span class="custom-gradient">Gilsys</span> = Experiencia + calidad.
    </Fragment>

    <Fragment slot="subtitle">
      Somos una empresa IT de Osona con más de 20 años de experiencia en programación de software, web y aplicaciones
      móviles. Ahora también <span class="custom-gradient">inteligencia artificial</span>.
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    isReversed={true}
    title="¿Quiénes somos?"
    subtitle=`Somos un equipo de especialistas <strong>apasionados</strong> por la programación de software a medida, apps, desarrollo de aplicaciones web e inteligencia artificial.
  <div class="mx-auto px-4 max-w-6xl font-medium py-4 sm:px-6 text-md bg-lightgray">
  
  Si deseas contactar directamente con Jordi Gil Martí, fundador de Gilsys, puedes hacerlo a través de <a target="_blank" href="https://www.linkedin.com/in/jordigilmarti/" title="Perfil de Jordi Gil Martí en LinkedIn" class="text-accent">LinkedIn</a>.
  </div>
  `
    items={[
      {
        title: 'Historia',
        description:
          'Gilsys fue creado en el año 2004 con la idea de ofrecer soluciones de programación de software, innovadoras y personalizadas, basadas en <strong>software libre</strong>.',
      },
      {
        title: 'Equipo actual',
        description:
          'Actualmente, contamos con un equipo formado por profesionales con perfiles técnicos especializados. Mantenemos una estructura reducida para garantizar la máxima calidad en nuestros servicios, asegurar un control riguroso en cada proyecto y ofrecer un trato cercano a nuestros clientes.',
      },
      {
        title: 'Compromiso de futuro',
        description:
          'En Gilsys, <strong>invertimos semanalmente</strong> en aprender nuevas tecnologías y aportamos el valor añadido de más de 20 años de experiencia desarrollando proyectos a medida, brindando rigor y fiabilidad en cada implementación.',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Nuestros valores"
    subtitle=""
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Calidad',
        description:
          'Entregamos productos sólidos y estables que permiten trabajar con tranquilidad y cumplen con los requisitos establecidos.',
        icon: 'tabler:check',
      },
      {
        title: 'Experiencia',
        description:
          'Sabemos lo que hacemos. Más de 20 años en el sector nos han permitido trabajar en proyectos de ámbitos muy diversos, con clientes a nivel nacional e internacional.',
        icon: 'tabler:briefcase',
      },
      {
        title: 'Innovación',
        description:
          'Investigamos de forma constante para ofrecer resultados innovadores que aporten el valor añadido requerido en cada desarrollo.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Comunicación',
        description:
          'Creemos fundamental transmitir periódicamente el estado del proyecto para poder tomar las decisiones necesarias y obtener el resultado final previsto.',
        icon: 'tabler:message-circle',
      },
      {
        title: 'Honestidad',
        description:
          'Aportamos soluciones pensando en lo que más le conviene al cliente, tanto a nivel técnico como económico.',
        icon: 'tabler:heart',
      },
      {
        title: 'Rendimiento',
        description: 'Desarrollamos pensando siempre en el rendimiento del proyecto y en su futura escalabilidad.',
        icon: 'tabler:chart-line',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Features3>

  <Features3
    columns={3}
    tagline="Dime qué web tienes y te diré qué empresa eres"
    title="Una web que <span class='custom-gradient'>dice mucho de Gilsys</span>"
    subtitle={`A finales de 2024 lanzamos una nueva web para celebrar que Gilsys cumplía 20 años.<br/><br/>
Nos han preguntado: <strong><em>¿Por qué, si la anterior no estaba nada mal?</em></strong>`}
    items={[
      {
        icon: 'tabler:old',
        title: 'Porque la anterior tenía 5 años',
        description:
          'No debería ser un problema para muchas empresas, pero nosotros queremos estar a la vanguardia, aplicando las últimas tecnologías en nuestra propia web.',
      },
      {
        icon: 'tabler:device-mobile-star',
        title: 'Porque somos una empresa exigente',
        description:
          'Necesitábamos una web que reflejara nuestro nivel de exigencia y de la que nos sintiéramos orgullosos.',
      },
      {
        icon: 'tabler:rocket',
        title: 'Porque queríamos probar Astro',
        description:
          "Estamos en constante innovación y prueba de nuevas tecnologías. Queríamos probar <a title='Programación de webs de alto rendimiento a medida' class='text-accent' href='" +
          u('development/astro') +
          "'>Astro</a> y llevar nuestra web al siguiente nivel.",
      },
      {
        icon: 'tabler:number-100-small',
        title: 'Porque queríamos la máxima puntuación en Google PageSpeed Insights',
        description:
          "Hemos conseguido una puntuación de <strong>100 en rendimiento, 100 en buenas prácticas, 100 en accesibilidad y 100 en SEO</strong> en <a title='Google PageSpeed Insights' class='text-accent' href='https://pagespeed.web.dev/analysis?url=https%3A%2F%2Fwww.gilsys.com%2F'>Google PageSpeed Insights</a>.",
      },
      {
        icon: 'tabler:ai',
        title: 'Porque ha llegado la era de la inteligencia artificial',
        description:
          "La explosión de la <a title='Programación con inteligencia artificial' class='text-accent' href='" +
          u('development/ia') +
          "'>inteligencia artificial</a> está cambiando el panorama digital, y queremos mostrar cómo podemos aportar valor a las empresas que desean adoptarla.",
      },
      {
        icon: 'tabler:artboard',
        title: 'Porque queríamos cambiar de imagen',
        description: 'Con la nueva web, transmitimos una identidad más moderna y fresca.',
      },
      {
        icon: 'tabler:seo',
        title: 'Porque queríamos mejorar el SEO',
        description: 'Potenciando la marca de la empresa en los motores de búsqueda y llegando así a más clientes.',
      },
      {
        icon: 'tabler:bubble-text',
        title: 'Porque queríamos actualizar contenido',
        description:
          'Una web que explique claramente qué hacemos, quiénes somos y cómo podemos ayudarte, de manera actualizada y relevante.',
      },
      {
        icon: 'tabler:chart-line',
        title: 'Porque queríamos ir más allá de WordPress',
        description:
          'Tenemos capacidades técnicas y queríamos demostrarlas con una web rápida, segura y optimizada para SEO.',
      },
    ]}
  />

  <!--{
    description:
      'Et proposem un repte, si dubtes entre nosaltres i una altra empresa, estudia com fa les coses cada empresa.?',
  },-->

  <Steps
    id="resume"
    title="Metodología de trabajo"
    subtitle="Aunque Gilsys trata cada proyecto de forma individual y personalizada, a nivel general, nuestra metodología de trabajo define las siguientes fases:"
    items={[
      {
        title: 'Recopilación de requisitos,',
        description: `donde escuchamos tus necesidades y las expectativas del proyecto que se quiere implementar.`,
        icon: 'tabler:clipboard-list',
      },
      {
        title: 'Consultoría tecnológica,',
        description:
          `dependiendo del proyecto, puede ser necesaria una <a href="` +
          u('consultory') +
          `" title="Asesoramiento inicial y estudio de situación tecnológica de la empresa" class="text-accent">consultoría tecnológica</a> que permita analizar a fondo la situación actual, conceptualizar ideas y planificar adecuadamente el proyecto.`,
        icon: 'tabler:settings',
      },
      {
        title: 'Presentación de propuesta y planificación de fases,',
        description: `de forma consensuada con el cliente según prioridad y presupuesto.`,
        icon: 'tabler:calendar-check',
      },
      {
        title: 'Diseño,',
        description: `de la interfaz de usuario en caso de que el proyecto lo requiera.`,
        icon: 'tabler:palette',
      },
      {
        title: 'Programación del sistema,',
        description: `para que realice las funcionalidades definidas.`,
        icon: 'tabler:code',
      },
      {
        title: 'Demostración,',
        description: `donde se expone la solución obtenida para que sea validada.`,
        icon: 'tabler:eye-check',
      },
      {
        title: 'Formación,',
        description: `al cliente sobre el uso de la herramienta creada.`,
        icon: 'tabler:school',
      },
      {
        title: 'Entrega,',
        description: `y puesta en marcha del proyecto en entorno de producción.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Mantenimiento,',
        description: `donde se brindará soporte y se realizarán los ajustes y correcciones en caso necesario.`,
        icon: 'tabler:tools',
      },
      {
        title: 'Ampliaciones y nuevas fases,',
        description: `donde se implementarán nuevas necesidades acordadas con el cliente.`,
        icon: 'tabler:replace',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Steps>

  <FAQs
    schema
    title="Preguntas frecuentes"
    subtitle="Respuestas a las preguntas más habituales."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Es gratuito solicitar un presupuesto?',
        description: 'Sí, dependiendo del proyecto podremos dar un precio final o un rango de costo orientativo.',
      },
      {
        title: '¿Hay compromiso de compra después de recibir un presupuesto?',
        description: 'No, el presupuesto orientativo es siempre gratuito.',
      },
      {
        title: '¿Qué tipo de proyectos desarrolla Gilsys?',
        description:
          `
    Desarrollamos <a href="` +
          u('development') +
          `" title="Programación a medida para empresas" class="text-accent">software a medida</a>, creando herramientas innovadoras desde cero. También trabajamos con 
<a href="` +
          u('software') +
          `" title="Software personalizable como CRM, WordPress, Pimcore o Metabase" class="text-accent">software personalizable</a> para adaptarlo a las necesidades concretas de nuestros clientes, incluyendo opciones como CRM, WordPress, Pimcore o Metabase. Además, somos expertos en 
<a href="` +
          u('migration') +
          `" title="Migración de datos e integración de sistemas" class="text-accent">migración de datos e integración de sistemas</a>.<br /><br />

De manera transversal, en todas nuestras soluciones podemos implementar 
<a href="` +
          u('development/ia') +
          `" title="Programación con inteligencia artificial" class="text-accent">inteligencia artificial</a> para automatizar procesos y aumentar la eficiencia.
<br /><br />
Finalmente, además de los servicios de desarrollo, también ofrecemos 
<a href="` +
          u('consultory') +
          `" title="Asesoramiento tecnológico" class="text-accent">consultoría tecnológica</a> para convertir ideas en proyectos tangibles y exitosos.
    `,
      },
      {
        title: 'No tenemos claro si nuestra idea es viable o cuánto costaría desarrollarla',
        description:
          `En estos casos, analizamos la propuesta y estudiamos su viabilidad. Podemos proporcionar un rango de precios orientativo basado en una previsión del proyecto. Si es adecuado, podemos llevar a cabo una <a href="` +
          u('consultory') +
          `" title="Creación de presupuestos de proyectos por fases" class="text-accent">consultoría tecnológica</a> conjunta para conceptualizar las ideas, dividirlas en fases y establecer un calendario de trabajo detallado con los costos correspondientes a cada fase. Al finalizar cada fase, se puede revisar el estado del proyecto y replantear puntos si es necesario, para adaptarlo a las necesidades reales.`,
      },
      {
        title: '¿Cuál es el plazo medio de desarrollo de un proyecto?',
        description:
          'Depende de la complejidad del proyecto. Generalmente, los proyectos pequeños pueden durar unas semanas, mientras que los proyectos más grandes pueden tardar meses.',
      },
      {
        title: '¿Ofrecéis soporte técnico después de finalizar un proyecto?',
        description:
          'Sí, ofrecemos servicios de mantenimiento y soporte para asegurar que el sistema funcione correctamente y pueda evolucionar según las necesidades.',
      },
      {
        title: '¿Con qué sectores trabajáis?',
        description:
          'Los servicios que ofrecemos no están ligados a un sector concreto, por lo que trabajamos con sectores muy diversos como logística, industria, retail, educación, sanidad, e-commerce, entre otros.',
      },
      {
        title: '¿Podéis ayudar con la migración de sistemas antiguos a nuevas plataformas sin perder datos?',
        description:
          `Sí, tenemos experiencia en la <a href="` +
          u('migration') +
          `" title="Migraciones sin pérdida de datos" class="text-accent">migración de bases de datos</a>
      de sistemas antiguos, transformándolas y adaptándolas a la nueva estructura sin pérdida de información.`,
      },
      {
        title: '¿Cuáles son vuestras principales herramientas de desarrollo?',
        description:
          'Hemos trabajado con muchos lenguajes de programación, bases de datos y herramientas diversas durante más de 20 años en el sector. Puedes consultar las tecnologías que más utilizamos actualmente en este apartado #LINK.',
      },
      {
        title: '¿Qué pasa si se necesitan cambios en medio del proyecto?',
        description:
          'Trabajamos de manera flexible y, si se requieren ajustes, revisamos el presupuesto y el cronograma para adaptarnos a las nuevas necesidades.',
      },
      {
        title: '¿Cuáles son las condiciones de pago para un proyecto?',
        description:
          'Normalmente, trabajamos con un pago inicial y pagos parciales basados en los hitos acordados con el cliente.',
      },
      {
        title: '¿Es posible comenzar un proyecto con un presupuesto reducido?',
        description:
          'Sí, ofrecemos soluciones escalables que permiten comenzar con un MVP (Minimum Viable Product) y ampliarlo posteriormente.',
      },
      {
        title: '¿Trabajáis con proyectos internacionales?',
        description:
          'Sí, hemos colaborado con empresas a nivel nacional e internacional, ofreciendo soluciones adaptadas a sus necesidades.',
      },
      {
        title: '¿Trabajáis con metodologías ágiles?',
        description:
          'Sí, utilizamos metodologías como Scrum o Kanban para garantizar flexibilidad y una comunicación constante con el cliente.',
      },
      {
        title: '¿Podéis integrar automatizaciones con inteligencia artificial en proyectos existentes?',
        description:
          `No siempre podemos modificar software existente o integrar nuevas funcionalidades que utilicen 
    <a href="` +
          u('migration') +
          `" title="Integración de inteligencia artificial" class="text-accent">IA</a>, dependerá de cada sistema y de qué funcionalidades se necesiten integrar.`,
      },
      {
        title: '¿Cómo gestionáis la confidencialidad de los datos del proyecto?',
        description:
          'Firmamos acuerdos de confidencialidad (NDA) y aplicamos medidas para proteger los datos de nuestros clientes.',
      },
      {
        title: '¿Ofrecéis formación para los usuarios finales después de la implementación del proyecto?',
        description:
          'Sí, podemos proporcionar formación y documentación para ayudar a los usuarios a utilizar las nuevas herramientas o sistemas.',
      },
      {
        title: '¿Ofrecéis integraciones con herramientas de terceros?',
        description:
          'Sí, podemos integrar soluciones con sistemas de terceros, como ERP, CRM u otras plataformas empresariales.',
      },
      {
        title: '¿Se puede hacer una demostración del proyecto antes de su entrega final?',
        description:
          'Sí, presentamos una demo antes de la fase final para asegurar que cumple con las expectativas del cliente.',
      },
      {
        title: '¿Qué soporte ofrecéis durante el proceso de desarrollo?',
        description:
          'Trabajamos de manera colaborativa con el cliente y mantenemos una comunicación constante durante todas las fases del proyecto.',
      },
    ]}
  />

  <CallToAction
    backgroundImage={{ src: '~/assets/images/neutral/bg-4.jpg', alt: 'Fondo abstracto' }}
    actions={[
      {
        variant: 'primary',
        text: 'Contactar',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title"
      >Si quieres conocernos mejor,<br /><span class="custom-gradient">solicita una reunión</span></Fragment
    >
    <Fragment slot="subtitle">Estaremos encantados de presentarnos y ver en qué podemos ayudarte.</Fragment>
  </CallToAction>
</Layout>
