---
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FourBlocks from '~/components/widgets/FourBlocks.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Stats from '~/components/widgets/Stats.astro';
import { header } from '~/i18n/ui.ts';
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useRoutes } from '~/utils/i18n';

const metadata = {
  title: 'Programación a medida de software, apps, web e IA | +20 años',
  description:
    'Empresa de desarrollo personalizado de aplicaciones móviles, web y programas. Expertos en inteligencia artificial. ¡Presupuesto gratuito! (Osona, Barcelona).',
  };

const u = useRoutes(getLangFromUrl(Astro.url));

 // Obtiene la fecha y hora actuales *durante la compilación*
const buildDate = new Date();


const jsonLdWebsite = {
  '@context': 'https://schema.org/',
  '@type': 'WebSite',
  '@id': 'https://www.gilsys.com/#website',
  name: 'gilsys',
  alternateName: metadata.title,
  description: metadata.description,
  url: 'https://www.gilsys.com/',
  datePublished: '2025-02-14T11:26:41+00:00',
  dateModified: buildDate.toISOString(),
};

const jsonLdCorporation = {
  '@context': 'https://schema.org/',
  '@id': 'https://www.gilsys.com/#organization',
  '@type': 'Corporation',
  name: 'gilsys',
  legalname: 'gilsys',
  description: metadata.description,
  image: 'https://www.gilsys.com/logo-programacion-software-a-medida.jpg',
  url: 'https://www.gilsys.com/',
  logo: 'https://www.gilsys.com/gilsys-logo.jpg',
  address: {
    '@type': 'PostalAddress',
    addressLocality: 'Barcelona',
    addressRegion: 'Catalonia',
    addressCountry: 'ES',
    postalCode: '08580',
    streetAddress: 'Passeig del Ter 48',
  },
  email: 'info@gilsys.com',
  foundingDate: '01-01-2005',
  telephone: '+34665331271',
  sameAs: ['https://www.facebook.com/gilsysg6/', 'https://www.linkedin.com/company/gilsys'],
};
---

<Layout metadata={metadata}>
    <script type="application/ld+json" set:html={JSON.stringify(jsonLdWebsite, null, 2)} />
    <script type="application/ld+json" set:html={JSON.stringify(jsonLdCorporation, null, 2)} />

  <Hero
    id="hero-home"
    tagline=""
    actions={[
      { variant: 'primary', target: '_blank', text: 'Presupuesto gratuito', href: u('contact') },
      { text: 'Servicios', href: '#servicios' },
    ]}
    backgroundImage={{      
      src: '~/assets/images/neutral/bg-1.jpg',
      alt: 'Fondo abstracto, inspirado en tecnología y software',
    }}
  >
    <Fragment slot="title">
      Programación a medida de
      <span class="custom-gradient">software</span>,
      <span class="custom-gradient">apps</span>,
      <span class="custom-gradient">plataformas web</span> e
      <span class="custom-gradient">IA</span><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Más de <span class="text-accent highlight">20 años</span> convirtiendo ideas innovadoras en proyectos de éxito.
      </span>
    </Fragment>
  </Hero>
  <Hero2
    tagline="Ayudamos a empresas a adoptar inteligencia artificial"
    actions={[
      {
        variant: 'primary',
        title: 'Programación a medida con inteligencia artificial para empresas',
        text: 'Descubre cómo integrar IA en tu empresa',
        href: u('development/ia'),
      },
    ]}
    image={{
      id: 'home-first-image',
      src: '~/assets/images/inteligencia-artificial.png',
      alt: 'Inteligencia artificial',
    }}
  >
    <Fragment slot="title">
      No te quedes atrás, integra <br /><span class="custom-gradient">Inteligencia Artificial</span> en tu empresa
    </Fragment>

    <Fragment slot="subtitle">
      Somos una empresa de ingeniería informática especializada en desarrollo de software. No solo conocemos las últimas
      novedades en inteligencia artificial, sino que las aplicamos en herramientas empresariales, aplicaciones web, apps móviles a medida y automatización
      de procesos.
    </Fragment>
  </Hero2>

  <FourBlocks
    id="servicios"
    title="Servicios de ingeniería informática"
    information="No adaptes tu empresa a la tecnología, nosotros <span class='text-black'>adaptamos la tecnología a tu empresa</span>."
    blocks={[
      {
        link: u('development'),
        text: header['es']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'development').text,
        title: header['es']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'development').title,
        excerpt:
          'Desarrollamos utilizando la tecnología más adecuada para cada proyecto, creando herramientas nuevas.',
        image: '~/assets/images/programacion-software-a-medida.jpg',
        links: header['es']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'development').links,
      },
      {
        link: u('software'),
        text: header['es']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'software').text,
        title: header['es']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'software').title,
        excerpt: 'Utilizamos herramientas existentes como base y las ampliamos y adaptamos programando a medida.',
        image: '~/assets/images/software-personalizado.jpg',
        links: header['es']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'software').links,
      },
      {
        link: u('migration'),
        text: header['es']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'migration').text,
        title: header['es']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'migration').title,
        excerpt: 'Optimizamos y migramos herramientas obsoletas y creamos procesos para comunicar plataformas.',
        image: '~/assets/images/migracion-integracion.jpg',
        links: header['es']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'migration').links,
      },
      {
        link: u('consultory'),
        text: header['es']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'consultory').text,
        title: header['es']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'consultory').title,
        excerpt: 'Analizamos la situación actual, conceptualizamos ideas y ofrecemos asesoramiento para ejecutarlas.',
        image: '~/assets/images/consultoria-tecnologica.jpg',
        links: header['es']['links']
          .find((link) => link._id === 'services')
          .links.find((link) => link._id === 'consultory').links,
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </FourBlocks>

  <!-- Steps2 Widget ****************** -->

  <Features
    id="features"
    tagline="¿Por qué elegir Gilsys?"
    title="Soluciones a medida para tu empresa"
    subtitle="Desarrollo web, apps e inteligencia artificial, programado y personalizado a medida para tu negocio."
    columns={2}
    items={[
      {
        title: 'Experiencia comprobada',
        description:
          'Más de <strong>20 años</strong> desarrollando soluciones tecnológicas para empresas de diversos sectores, aportando una amplia visión y experiencia técnica.',
        icon: 'tabler:flag-2',
      },
      {
        title: 'Soluciones personalizadas',
        description: `Cada proyecto es único. Conocemos el código y sabemos cómo utilizarlo para crear soluciones a medida, evitando adaptar la empresa a herramientas que no se ajustan exactamente a sus necesidades reales.`,
        icon: 'tabler:settings-code',
      },
      {
        title: 'Tecnologías avanzadas',
        description:
          `Trabajamos con herramientas y tecnologías de última generación como la <a href="` +
          u('development/ia') +
          `" title="Creamos programas para empresas que integran IA" class="text-accent">inteligencia artificial</a>, la nube y frameworks modernos para ofrecer resultados innovadores y eficientes.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Equipo experto',
        description: 'Nos mantenemos pequeños para garantizar proximidad, calidad y control total en cada proyecto.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Innovación responsable',
        description: `Investigamos y aprendemos constantemente nuevas tecnologías, pero solo trabajamos con aquellas en las que podemos garantizar resultados sólidos, fiables y de calidad. Si no lo conocemos, preferimos no abordarlo.`,
        icon: 'tabler:brand-bluesky',
      },
      {
        title: 'Hablarás con ingenieros, no con comerciales',
        description: `Nos apasiona lo que hacemos. Trabajamos para aportar soluciones reales y personalizadas, siempre enfocadas en las necesidades de tu empresa, sin presiones comerciales.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Presupuesto flexible',
        description: `Nos adaptamos a tu presupuesto, dividiendo el proyecto en fases y priorizando lo más importante para tu negocio.`,
        icon: 'tabler:adjustments-question',
      },
      {
        title: 'Compromiso y soporte',
        description: `Te acompañamos durante todo el proceso, desde la idea inicial hasta la implementación, ofreciendo también servicios de mantenimiento y soporte para asegurar el éxito del proyecto.`,
        icon: 'tabler:eyeglass',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    title="Experiencia y confianza: <span class='custom-gradient'>Gilsys en cifras</span>"
    subtitle="Damos las <strong>gracias</strong> a todos los clientes que han confiado en nuestras soluciones de programación a medida, apps e inteligencia artificial, logrando un impacto real en sus empresas."
    stats={[
      { title: 'Años', amount: '+20' },
      { title: 'Proyectos', amount: '+200' },
      { title: 'Entregas', amount: '+1K' },
      { title: 'Líneas de código', amount: '+1M' },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isImageSmall
    classes={{
      container: 'pb-10 md:pb-0 lg:pb-0',
    }}
    isAfterContent={false}
    items={[
      {
        title: '¿Qué es el Kit Digital?',
        description: `El gobierno de España impulsa el programa <a title="Kit Digital - Subvención para ayudar a digitaliar autónomos y empresas" class="text-accent" href='https://www.acelerapyme.gob.es/kit-digital' target='_blank'>Kit Digital</a>, financiado por fondos europeos Next Generation, para ayudar a pequeñas y medianas empresas, otorgando subvenciones de entre <strong>3.000€</strong> y <strong>29.000€</strong> para invertir en la implantación de nuevas tecnologías.`,
      },
      {
        title: 'Somos agentes digitalizadores',
        description:
          `En Gilsys somos un agente digitalizador certificado dentro del programa Kit Digital. Podemos ayudarte a digitalizar las subvenciones.
          <br />
          <a 
          title='Categorías de servicios subvencionados por el Kit Digital'
          href="` +
          u('kit-digital') +
          `" class="btn-primary mt-12 mb-12 w-auto">Ver categorías subvencionadas</a>`,
      },
    ]}
    image={{
      id: 'image-kit-digital',
      src: '~/assets/images/kit-digital.jpg',
      alt: `Kit Digital - Subvenciones para la implantación de la transformación digital en pymes y autónomos`,
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">KIT DIGITAL</h2>
      <p class="-mb-4">Subvenciones para soluciones digitales para autónomos y empresas de hasta 250 trabajadores.</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isImageSmall
    isAfterContent
    items={[
      {
        title: '¿Qué es el Kit Consulting?',
        description: `El programa <a class="text-accent" title='Kit Consulting - Subvenciones para asesoramiento en transformación digital e IA' href='https://www.acelerapyme.gob.es/kit-consulting' target='_blank'>Kit Consulting</a>, impulsado por el gobierno de España con fondos europeos Next Generation, ofrece subvenciones de <strong>12.000€</strong> a <strong>24.000€</strong> en diferentes servicios de asesoramiento digital.`,
      },
      {
        title: 'Somos agentes consultores',
        description:
          `En Gilsys somos un agente consultor certificado dentro del programa Kit Consulting. Te ayudamos a aprovechar las subvenciones y diseñar la hoja de ruta para la transformación digital de tu empresa.
          <br />
          <a 
          title='Asesoramiento subvencionado para empresas de Barcelona y Gerona'
          href="` +
          u('kit-consulting') +
          `" class="btn-primary mt-12 mb-12 w-auto">Explorar asesoramientos subvencionados</a>`,
      },
    ]}
    image={{
      id: 'image-kit-consulting',
      src: '~/assets/images/kit-consulting.jpg',
      alt: 'Kit Consulting - Subvenciones para asesoramiento en transformación digital',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">KIT CONSULTING</h2>
      <p class="-mb-4">
        Subvenciones en servicios de asesoramiento en transformación digital para empresas de entre 10 y 250
        trabajadores.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-lightgray"></div>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Nuestra experiencia en programación a medida nos permite abordar proyectos en casi cualquier sector"
    subtitle="La informática es un elemento transversal en la mayoría de sectores, por lo que podemos crear aplicaciones y automatizaciones independientemente del tipo de empresa."
    columns={3}
    items={[
      {
        title: 'Tecnológico',
        description:
          `<a href="` +
          u('development/web') +
          `" title="Programación de aplicaciones web a medida" class="text-accent">Herramientas online</a> y <a href="` +
          u('development/apps') +
          `" title="Programación de aplicaciones iOS y Android a medida" class="text-accent">apps móviles</a> con integración de Bluetooth, IA o APIs a medida.`,
        icon: 'tabler:code',
      },
      {
        title: 'Empresarial',
        description:
          `Desarrollo de 
      <a href="` +
          u('development/web') +
          `" title="Programación de webs de alto rendimiento" class="text-accent">páginas web rápidas</a> (no WordPress) y optimizadas para SEO.`,
        icon: 'tabler:affiliate',
      },
      {
        title: 'Retail',
        description:
          `<a href="` +
          u('software/ecommerce') +
          `" title="E-commerce con Prestashop y Woocommerce" class="text-accent">Tiendas online</a>, landing pages e integración con facturación.`,
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Marketing',
        description:
          `Implementación de <a href="` +
          u('software/crm') +
          `" title="Gestores de clientes para empresas y autónomos" class="text-accent">CRM</a>, sincronización de datos de ventas e integración de herramientas digitales.`,
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Educación',
        description:
          `<a href="` +
          u('development/web') +
          `" title="Programación de aplicaciones web para formación" class="text-accent">Plataformas de formación online</a> a medida, con sistemas de evaluación avanzados.`,
        icon: 'tabler:school',
      },
      {
        title: 'Salud',
        description:
          `Programación de herramientas online para <a href="` +
          u('development/web') +
          `" title="Diseño y desarrollo de herramientas para gestión de centros médicos" class="text-accent">gestión médica</a>, citas, historiales y control de inventario.`,
        icon: 'tabler:vaccine',
      },
      {
        title: 'Industrial',
        description:
          `Soluciones de <a href="` +
          u('software/pimcore') +
          `" title="Creamos herramientas para la gestión unificada de productos con Pimcore" class="text-accent">gestión de productos PIM</a>, programación de <a href="` +
          u('migration') +
          `" title="Automatizamos tareas con software personalizado" class="text-accent">software para automatizar procesos</a> y sincronizar datos.`,
        icon: 'tabler:building-factory-2',
      },
      {
        title: 'Startups',
        description:
          `<a href="` +
          u('consultory') +
          `" title="Asesoramiento tecnológico para implementar proyectos innovadores" class="text-accent">Convertimos ideas en proyectos</a>, orientamos en todo el proceso de creación de apps y plataformas online y definimos la hoja de ruta a nivel tecnológico.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Laboratorios',
        description:
          `Programación de algoritmos avanzados y herramientas para calcular información con <a href="` +
          u('development/ia') +
          `" title="Integración de inteligencia artificial entrenada con datos propios" class="text-accent">inteligencia artificial</a>.`,
        icon: 'tabler:flask',
      },
      {
        title: 'Directivo',
        description:
          `Software para <a href="` +
          u('software/metabase') +
          `" title="Business Intelligence y analítica con Metabase" class="text-accent">analizar datos empresariales</a> y facilitar la toma de decisiones.`,
        icon: 'tabler:report-analytics',
      },
      {
        title: 'Corporaciones',
        description:
          `<a href="` +
          u('software/wp') +
          `" title="Webs profesionales con WordPress" class="text-accent">Webs en WordPress</a> de nivel profesional, con diseño a medida y personalizaciones avanzadas.`,
        icon: 'tabler:building-skyscraper',
      },
      {
        title: 'Sector público',
        description:
          `Implementación de herramientas a medida para gestionar, optimizar y <a href="` +
          u('development/automation') +
          `" title="Programación de automatizaciones para trámites administrativos" class="text-accent">automatizar trámites administrativos.</a>`,
        icon: 'tabler:progress-check',
      },
    ]}
  />

  <!-- Testimonials Widget *********** 

  <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  />

  <Features2
    title="Contacta\'ns"
    tagline="Des de Gilsys posarem en marxa la teva transformació digital."
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
        icon: 'tabler:messages',
      },
      {
        title: 'Truca',
        description:
          '665 331 271',
        icon: 'tabler:headset',
      },
    ]}
  />
    -->

  <BlogLatestPosts title="Últimas entradas del blog" linkText="Ir al blog" />

  <CallToAction
    backgroundImage={{
      src: '~/assets/images/neutral/bg-1.jpg',
      alt: 'Fondo abstracto, inspirado en tecnología y software',
    }}
    actions={[
      {
        variant: 'primary',
        text: 'Presupuesto gratuito',
        href: u('contact'),
      },
      {
        variant: 'primary',
        text: 'Llamar',
        href: 'tel:+34665331271',
      },
    ]}
  >
    <Fragment slot="title">Solicita un <span class="custom-gradient">presupuesto orientativo</span> gratuito</Fragment>
    <Fragment slot="subtitle">
      Si tienes un proyecto en mente y necesitas asesoramiento, en Gilsys te ayudaremos a convertirlo en realidad.
    </Fragment>
  </CallToAction>
</Layout>
