@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-page {
    background-color: var(--aw-color-bg-page);
  }
  .bg-dark {
    background-color: var(--aw-color-bg-page-dark);
  }
  .bg-light {
    background-color: var(--aw-color-bg-page);
  }
  .text-page {
    color: var(--aw-color-text-page);
  }
  .text-muted {
    color: var(--aw-color-text-muted);
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-full border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800 cursor-pointer;
  }

  .btn-primary {
    @apply btn font-semibold bg-primary text-white border-primary hover:bg-secondary hover:border-secondary hover:text-white dark:text-white dark:bg-primary dark:border-primary dark:hover:border-secondary dark:hover:bg-secondary;
  }

  .btn-secondary {
    @apply btn;
  }

  .btn-secondary.active {
    @apply bg-gray-100 border-gray-600;
  }

  .btn-tertiary {
    @apply btn border-none shadow-none text-muted hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }
}

#header.scroll > div:first-child {
  @apply bg-page md:bg-white/90 md:backdrop-blur-md;
  box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
}
.dark #header.scroll > div:first-child,
#header.scroll.dark > div:first-child {
  @apply bg-page md:bg-[#030621e6] border-b border-gray-500/20;
  box-shadow: none;
}
/* #header.scroll > div:last-child {
  @apply py-3;
} */

#header.expanded nav {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 70px !important;
  padding: 0 5px;
}

.dropdown:focus .dropdown-menu,
.dropdown:focus-within .dropdown-menu,
.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

/* To deprecated */

.dd *:first-child {
  margin-top: 0;
}

.wg-features-3 .ui-itemgrid-2 svg{
  margin: 10px auto;
  margin-top: 0;
}

.wg-features-3 .ui-itemgrid-2 .btn-secondary,
.wg-features-3 .ui-itemgrid-2 .more-info{
  position: absolute;
  bottom: 24px;  
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}

.wg-features-3 .ui-itemgrid-2 > div{
  padding-bottom: 100px;
}


@keyframes gradientAnimation {
  0% {
      background-position: 10% 50%;            
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 10% 50%;      
  }
}


h1 .text-accent,
.custom-gradient
{
  background: linear-gradient(270deg, 
  rgb(64, 64, 64),
  rgb(176, 0, 0),
  rgb(0, 0, 0),
  rgb(185, 0, 0),
  rgb(255, 255, 255)
  );
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/* h2.anchored{
  scroll-margin-top: 180px;
} */

section[id] {
  scroll-margin-top: 180px;
}

input[type="checkbox"] {
  accent-color: var(--aw-color-primary);;
}


.wg-hero .text-accent,
.wg-hero .custom-gradient {
  background: linear-gradient(270deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgb(200, 200, 200, 0.6),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1));
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.route-gilsys .wg-hero h1,
body.route-gilsys .wg-hero p,
body.route-home .wg-hero h1,
body.route-home .wg-hero p
{
  color: #000;
}

a.text-accent{
  background:  linear-gradient(180deg, rgb(16 16 16 / 99%), rgb(16 16 16 / 99%));
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  color: var(--aw-color-accent);
  text-decoration: none;
  transition: background-size .2s;
}
a.text-accent:hover {
  background-size: 1px 100% !important;
  color:#FFF;
}
p strong{
  color: #000;
}

/*.wg-header #contact,*/
body.route-home .wg-hero .text-accent,
body.route-home .wg-hero .custom-gradient,
body.route-gilsys .wg-hero .text-accent,
body.route-gilsys .wg-hero .custom-gradient {
  background: linear-gradient(270deg, 
  rgba(0, 0, 0, 1),
  rgba(0, 0, 0, 1),
  rgba(0, 0, 0, 1),
  rgba(0, 0, 0, 1),
  rgba(0, 0, 0, 1),
  rgba(255, 255, 255, 1),
    rgba(176, 0, 0, 1),
    rgba(176, 0, 0, 0.8),
    rgba(255, 255, 255, 1),

    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(250, 50, 50, 1)
  ); 
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}





.wg-hero h1, .wg-hero p{
  color: #FFF;
}

.dropdown-menu .has-children{
  display: inline-block;
}

nav .dropdown-menu:not(.menu-dropdown){
  position: fixed;
  left: 10vw;
  width: 80vw;  
}
.scroll nav .dropdown-menu{  
  top: 74px;
}

.wg-fourblocks img {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0.9;
}

.wg-fourblocks img:hover {
  transform: scale(1.05);  
  opacity: 1;
}




.wg-hero img{  
  animation: hueRotation 15s infinite linear;
  object-position: bottom !important;
}

body.route-gilsys .wg-hero img,
body.route-home .wg-hero img{  
  animation: none;
  object-position: top !important;
}


@keyframes hueRotation {
  0% {
    filter: hue-rotate(0deg) brightness(100%) saturate(100%);
  }

  25% {
    filter: hue-rotate(90deg) brightness(120%) saturate(100%);
  }

  50% {
    filter: hue-rotate(180deg) brightness(80%) saturate(80%);
  }
  
  75% {
    filter: hue-rotate(270deg) brightness(110%) saturate(30%);
  }
  
  100% {
    filter: hue-rotate(360deg) brightness(100%) saturate(70%);
  }
}

.breadcrumb-container {
  background-color: rgba(0, 0, 0, 0.5);
  @apply text-white mt-[-36px] 2xl:mt-[-45px] sticky top-[117px] min-[861px]:top-[137px] 2xl:top-[143px] z-[1] left-0 w-full py-2;
}

nav[aria-label="breadcrumb"] li:not(:last-child)::after {
  content: ">";
  margin-right: 10px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .dropdown:not(:hover) .dropdown-menu.menu-dropdown {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .dropdown:not(.show) .dropdown-menu.menu-dropdown {
    display: none !important;
  }
}

header .active:not(.btn-secondary) {
  @apply text-primary;
}

.menu-item-home {
  @apply order-1 md:order-1;
}
.menu-item-gilsys {
  @apply order-2 md:order-2;
}
.menu-item-kit-digital {
  @apply order-5 md:order-4;
}
.menu-item-kit-consulting {
  @apply order-6 md:order-5;
}
.menu-item-services {
  @apply order-4 md:order-3;
}
.menu-item-blog {
  @apply order-3 md:order-6;
}
.menu-item-contact {
  @apply hidden md:order-7 md:block;
}

body:not(.route-home) .wg-hero .btn-primary{
  background-color: rgba(0,0,0,0.8);
  color: #FFF;
  border: 0;
}
body:not(.route-home) .wg-hero .btn-primary:hover{
  background-color: rgba(255,255,255,0.8);
  color: #000;
  border: 0;
}
.feature-list strong{
  color: #000;
}

#image-kit-digital,
#image-kit-consulting{
  max-width: 300px;
  margin-top: -3rem;
}

@media screen and (min-width: 768px) {
  #image-kit-digital,
  #image-kit-consulting{
    max-width: 300px;
    margin-top: 3rem;
  }
}



.wg-header #contact, 
.mobile-contact-btn,
.header-more-info {
  border-radius: 100%;
  border-radius: 9999px;
  margin-left: 0.5rem;
  background-color: rgba(176, 176, 176, 0.1) !important;
}

#home-first-image{
  border-radius: 100%;
  animation: hueRotation2 15s infinite linear;
}

@keyframes hueRotation2 {
  0% {
    filter: hue-rotate(0deg) brightness(120%) saturate(100%);
  }

  25% {
    filter: hue-rotate(15deg) brightness(120%) saturate(100%);
  }

  50% {
    filter: hue-rotate(0deg) brightness(140%) saturate(80%);
  }
  
  75% {
    filter: hue-rotate(5deg) brightness(120%) saturate(120%);
  }
  
  100% {
    filter: hue-rotate(0deg) brightness(120%) saturate(70%);
  }
}

#online-cart-shop{
  box-shadow: none;
}


address a{
  margin-bottom: 3px;
  padding-bottom: 3px;
  display: inline-block;
}

@media only screen and (min-width : 1025px) and (max-width : 1535px) {
  address a{
    margin-bottom: 0px;
    padding-bottom: 0px;    
  }
}

